<div class="nav flex-column nav-pills">
    <a class="nav-link @ViewData.IsActivePage(StoreNavPages.Index)" asp-action="UpdateStore" translate="general_settings">General settings</a>
    <a class="nav-link @ViewData.IsActivePage(StoreNavPages.Rates)" asp-action="Rates" translat="rates">Rates</a>
    <a class="nav-link @ViewData.IsActivePage(StoreNavPages.Checkout)" asp-action="CheckoutExperience" translate="checkout_experience">Checkout experience</a>
    <a class="nav-link @ViewData.IsActivePage(StoreNavPages.Tokens)" asp-action="ListTokens" translate="access_tokens">Access Tokens</a>
    <a class="nav-link @ViewData.IsActivePage(StoreNavPages.Users)" asp-action="StoreUsers" translate="users">Users</a>
    <a class="nav-link @ViewData.IsActivePage(StoreNavPages.PayButton)" asp-action="PayButton" translate="pay_button">Pay Button</a>
</div>

