<div class="nav flex-column nav-pills">
    <a class="nav-link @ViewData.IsActivePage(StoreNavPages.Index)" asp-action="UpdateStore" translate>General settings</a>
    <a class="nav-link @ViewData.IsActivePage(StoreNavPages.Rates)" asp-action="Rates" translate>Rates</a>
    <a class="nav-link @ViewData.IsActivePage(StoreNavPages.Checkout)" asp-action="CheckoutExperience" translate>Checkout experience</a>
    <a class="nav-link @ViewData.IsActivePage(StoreNavPages.Tokens)" asp-action="ListTokens" translate>Access Tokens</a>
    <a class="nav-link @ViewData.IsActivePage(StoreNavPages.Users)" asp-action="StoreUsers" translate>Users</a>
    <a class="nav-link @ViewData.IsActivePage(StoreNavPages.PayButton)" asp-action="PayButton" translate>Pay Button</a>
</div>

