@model WalletSetupViewModel
@addTagHelper *, BundlerMinifier.TagHelpers
@{
    Layout = "_LayoutWalletSetup";
    ViewData.SetActivePageAndTitle(StoreNavPages.Wallet, $"Generate {Model.CryptoCode} Wallet", Context.GetStoreData().StoreName);
}

@section Navbar {
    <a asp-controller="Stores" asp-action="SetupWallet" asp-route-storeId="@Model.StoreId" asp-route-cryptoCode="@Model.CryptoCode">
        <vc:icon symbol="back" />
    </a>
}

<h1 class="text-center">Choose your wallet option</h1>

<div class="list-group mt-5">
    @if (Model.CanUseHotWallet)
    {
        <a asp-controller="Stores" asp-action="GenerateWallet" asp-route-storeId="@Model.StoreId" asp-route-cryptoCode="@Model.CryptoCode" asp-route-method="hotwallet" id="GenerateHotwalletLink" class="list-group-item list-group-item-action list-group-item-wallet-setup">
            <div class="image">
                <vc:icon symbol="hot-wallet"/>
            </div>
            <div class="content">
                <h4>Hot wallet</h4>
                <p class="mb-0 text-secondary">
                    Wallet's private key is stored on the server.
                    Spending the funds you received is convenient.
                    To minimize the risk of theft, regularly withdraw funds to a different wallet.
                </p>
            </div>
            <vc:icon symbol="caret-right"/>
        </a>
    }
    else
    {
        <div class="list-group-item list-group-item-wallet-setup text-muted">
            <div class="image">
                <vc:icon symbol="hot-wallet"/>
            </div>
            <div class="content">
                <h4>Hot wallet</h4>
                <p class="mb-0">Please note that creating a hot wallet is not supported by this instance for non administrators.</p>
            </div>
        </div>
    }
</div>

<div class="list-group mt-4">
    <a asp-controller="Stores" asp-action="GenerateWallet" asp-route-storeId="@Model.StoreId" asp-route-cryptoCode="@Model.CryptoCode" asp-route-method="watchonly" id="GenerateWatchonlyLink" class="list-group-item list-group-item-action list-group-item-wallet-setup">
        <div class="image">
            <vc:icon symbol="watchonly-wallet"/>
        </div>
        <div class="content">
            <h4>Watch-only wallet</h4>
            <p class="mb-0 text-secondary">
                Wallet's private key is erased from the server. Higher security.
                To spend, you have to manually input the private key or import it into an external wallet.
            </p>
        </div>
        <vc:icon symbol="caret-right" />
    </a>
</div>


