@model TokensViewModel
@{
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData.SetActivePageAndTitle(StoreNavPages.Tokens, "Access Tokens", Context.GetStoreData().StoreName);
}

@if (Model.StoreNotConfigured)
{
    <div class="alert alert-warning alert-dismissible mb-5" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Warning: No wallet has been linked to your BTCPay Store.<br/>
        See <a href="https://docs.btcpayserver.org/WalletSetup/" target="_blank" class="alert-link">this link</a> for more information on how to connect your store and wallet.
    </div>
}

<div class="row">
    <div class="col-lg-8">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h4 class="mb-0">@ViewData["PageTitle"]</h4>
            <a id="CreateNewToken" asp-action="CreateToken" class="btn btn-primary" role="button" asp-route-storeId="@Context.GetRouteValue("storeId")">
                <span class="fa fa-plus"></span>
                Create a new token
            </a>
        </div>

        <p>Authorize a public key to access Bitpay compatible Invoice API.
            <a href="https://support.bitpay.com/hc/en-us/articles/115003001183-How-do-I-pair-my-client-and-create-a-token-" target="_blank">
                <span class="fa fa-question-circle-o text-secondary" title="More information..."></span>
            </a>
        </p>

        @if (Model.Tokens.Any())
        {
            <table class="table table-sm table-responsive-md">
                <thead>
                <tr>
                    <th>Label</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var token in Model.Tokens)
                {
                    <tr>
                        <td>@token.Label</td>
                        <td class="text-right">
                            <a asp-action="ShowToken" asp-route-storeId="@Context.GetRouteValue("storeId")" asp-route-tokenId="@token.Id">See information</a> - <a asp-action="RevokeToken" asp-route-storeId="@this.Context.GetRouteValue("storeId")" asp-route-tokenId="@token.Id">Revoke</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <p class="text-secondary mt-3">
                There are no access tokens yet.
            </p>
        }

        <h4 class="mt-5 mb-3">Legacy API Keys</h4>
        <p>Alternatively, you can use the invoice API by including the following HTTP Header in your requests:</p>
        <p><code>Authorization: Basic @Model.EncodedApiKey</code></p>

        <form method="post" asp-action="GenerateAPIKey" asp-route-storeId="@Context.GetRouteValue("storeId")">
            <div class="form-group">
                <label asp-for="ApiKey"></label>
                <div class="input-group">
                    <input asp-for="ApiKey" readonly class="form-control"/>
                    @if (string.IsNullOrEmpty(Model.ApiKey))
                    {
                        <div class="input-group-append">
                            <button class="btn btn-success" type="submit">Generate</button>
                        </div>
                    }
                    else
                    {
                        <div class="input-group-append">
                            <button class="btn btn-danger" type="submit" name="command" value="revoke">Revoke</button>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-success" type="submit">Re-generate</button>
                        </div>
                    }
                </div>
            </div>
        </form>
    </div>
</div>
