@model TokensViewModel
@{
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData["Title"] = "Access Tokens";
    ViewData.AddActivePage(StoreNavPages.Tokens);
}

<h4>@ViewData["Title"]</h4>
<p>You can allow a public key to access the API of this store</p>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<a asp-action="CreateToken" class="btn btn-success" role="button"><span class="fa fa-plus"></span>Create a new token</a>
<table class="table table-sm table-responsive-md">
    <thead>
        <tr>
            <th>Label</th>
            <th>SIN</th>
            <th>Facade</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var token in Model.Tokens)
        {
            <tr>
                <td>@token.Label</td>
                <td>@token.SIN</td>
                <td>@token.Facade</td>
                <td>
                    <form asp-action="DeleteToken" method="post">
                        <input type="hidden" name="tokenId" value="@token.Id">
                        <button type="submit" class="btn btn-danger" role="button">Revoke</button>
                    </form>
                </td>
            </tr>}
    </tbody>
</table>
