@using System.Collections.Generic
@using System.Linq
@model ManagePluginsShellViewModel
@{
    var pageRouteValues = new Dictionary<string, string>
    {
        ["returnTo"] = "directory"
    };
    if (!string.IsNullOrEmpty(Model.Search))
    {
        pageRouteValues["search"] = Model.Search;
    }
    if (!string.IsNullOrEmpty(Model.SelectedPluginIdentifier))
    {
        pageRouteValues["selectedIdentifier"] = Model.SelectedPluginIdentifier;
    }
    if (!string.IsNullOrEmpty(Model.SelectedPluginSlug))
    {
        pageRouteValues["selectedSlug"] = Model.SelectedPluginSlug;
    }
    if (Model.UseLegacyAvailableModeByFlag)
    {
        pageRouteValues["legacy"] = "true";
    }
}

@if (!Model.AvailablePlugins.Any())
{
    <div class="row mb-4">
        <div class="col mb-4 ms-2" text-translate="true">No plugins found</div>
    </div>
}
else
{
    <div class="row mb-4">
        @foreach (var plugin in Model.AvailablePlugins)
        {
            <div class="col col-12 col-md-6 col-lg-12 col-xl-6 col-xxl-4 mb-4">
                <div class="card h-100" id="@plugin.Plugin.Identifier">
                    <div class="card-body">
                        <div class="d-flex flex-wrap align-items-baseline justify-content-between gap-2 mb-3">
                            <h4 class="card-title mb-0" data-bs-toggle="tooltip" title="@plugin.Plugin.Identifier">@plugin.Plugin.Name</h4>
                            @if (!string.IsNullOrEmpty(plugin.Plugin.Author))
                            {
                                <span class="text-muted text-nowrap">
                                    <span text-translate="true">by</span>
                                    @if (!string.IsNullOrEmpty(plugin.Plugin.AuthorLink))
                                    {
                                        <a href="@plugin.Plugin.AuthorLink" rel="noreferrer noopener" target="_blank">@plugin.Plugin.Author</a>
                                    }
                                    else
                                    {
                                        <span>@plugin.Plugin.Author</span>
                                    }
                                </span>
                            }
                        </div>
                        <div class="d-flex flex-wrap align-items-center gap-2 mb-3">
                            <h5 class="text-muted mb-0">@plugin.Plugin.Version</h5>
                            @if (plugin.Recommended)
                            {
                                <span class="badge bg-light text-dark text-nowrap" data-bs-toggle="tooltip" title="@StringLocalizer["This plugin has been recommended to be installed by your deployment method."]">
                                    <span text-translate="true">Recommended</span>
                                    <vc:icon symbol="info" />
                                </span>
                            }
                        </div>
                        <p class="card-text">@plugin.Plugin.Description</p>
                        @if (plugin.Plugin.Dependencies.Any())
                        {
                            <h6 class="text-muted fw-semibold" text-translate="true">Dependencies</h6>
                            <ul class="list-group list-group-flush">
                                @foreach (var dependency in plugin.Plugin.Dependencies)
                                {
                                    <li class="list-group-item p-2 d-inline-flex align-items-center gap-2">
                                        @dependency.Display
                                        @if (!dependency.IsMet)
                                        {
                                            <span title="@StringLocalizer["Dependency not met."]" data-bs-toggle="tooltip" class="text-danger">
                                                <vc:icon symbol="warning" />
                                            </span>
                                        }
                                    </li>
                                }
                            </ul>
                            @if (!plugin.Plugin.DependenciesMet)
                            {
                                <div class="text-warning py-2" text-translate="true">Dependencies not met.</div>
                            }
                        }
                        <h6 class="text-muted fw-semibold mt-4" text-translate="true">Resources</h6>
                        <ul class="list-group list-group-flush list-unstyled">
                            @if (!string.IsNullOrEmpty(plugin.Plugin.Source))
                            {
                                <li>
                                    <a href="@plugin.Plugin.Source" rel="noreferrer noopener" class="d-flex align-items-center gap-2" target="_blank">
                                        <vc:icon symbol="social-github" />
                                        <span text-translate="true">Sources</span>
                                    </a>
                                </li>
                            }
                            @if (!string.IsNullOrEmpty(plugin.Plugin.Documentation))
                            {
                                <li>
                                    <a href="@plugin.Plugin.Documentation" rel="noreferrer noopener" class="d-flex align-items-center gap-2" target="_blank">
                                        <vc:icon symbol="docs" />
                                        <span text-translate="true">Plugin details</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <span class="d-flex align-items-center gap-2 text-danger">
                                        <vc:icon symbol="docs" />
                                        <span text-translate="true">No documentation</span>
                                    </span>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="card-footer border-0 pb-3 d-flex flex-wrap gap-2">
                        @foreach (var action in plugin.Actions)
                        {
                            if (action.Disabled || string.IsNullOrEmpty(action.FormAction))
                            {
                                <button type="button" class="@action.CssClass" disabled title="@(string.IsNullOrEmpty(action.Tooltip) ? null : StringLocalizer[action.Tooltip].Value)">@StringLocalizer[action.Label]</button>
                            }
                            else
                            {
                                <form method="post" asp-action="@action.FormAction" asp-all-route-data="pageRouteValues">
                                    <input type="hidden" name="plugin" value="@action.Plugin" />
                                    @if (!string.IsNullOrEmpty(action.Version))
                                    {
                                        <input type="hidden" name="version" value="@action.Version" />
                                    }
                                    <button type="submit" class="@action.CssClass" title="@(string.IsNullOrEmpty(action.Tooltip) ? null : StringLocalizer[action.Tooltip].Value)">@StringLocalizer[action.Label]</button>
                                </form>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
