@using BTCPayServer.Abstractions.Models
@model BTCPayServer.Models.ServerViewModels.DynamicDnsViewModel[]
@{
    ViewData.SetActivePage(ServerNavPages.Services, "Dynamic DNS Settings");
}

<div class="row">
    <div class="col-md-8">
        <div class="d-sm-flex align-items-center justify-content-between mb-3">
            <h3 class="mb-0">
                @ViewData["Title"]
                <small>
                    <a href="https://docs.btcpayserver.org/Apps/" target="_blank" rel="noreferrer noopener" title="More information...">
                        <vc:icon symbol="info" />
                    </a>
                </small>
            </h3>
            <form method="post" asp-action="DynamicDnsService">
                <button id="AddDynamicDNS" class="btn btn-primary mt-2" type="submit">Add service</button>
            </form>
        </div>

        <div class="form-group">
            <p>
                Dynamic DNS allows you to have a stable DNS name pointing to your server, even if your IP address changes regulary.
                This is recommended if you are hosting BTCPay Server at home and wish to have a clearnet domain to access your server.
            </p>
            <p>
                Note that you need to properly configure your NAT and BTCPay Server installation to get the HTTPS certificate. 
                See the documentation for <a href="https://docs.btcpayserver.org/Deployment/DynamicDNS/" target="_blank" rel="noreferrer noopener">more information</a>.
            </p>
        </div>
        
        @if (Model.Any())
        {
            <table class="table table-sm table-responsive-md">
                <thead>
                <tr>
                    <th>Hostname</th>
                    <th>Last updated</th>
                    <th class="text-center">Enabled</th>
                    <th class="text-end">Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var service in Model)
                {
                    <tr>
                        <td>@service.Settings.Hostname</td>
                        <td>@service.LastUpdated</td>
                        <td class="text-center">
                            @if (service.Settings.Enabled)
                            {
                                <span class="text-success fa fa-check"></span>
                            }
                            else
                            {
                                <span class="text-danger fa fa-times"></span>
                            }
                        </td>
                        <td class="text-end">
                            <a asp-action="DynamicDnsService" asp-route-hostname="@service.Settings.Hostname">Edit</a>
                            <span> - </span>
                            <a asp-action="DeleteDynamicDnsService" asp-route-hostname="@service.Settings.Hostname" data-bs-toggle="modal" data-bs-target="#ConfirmModal" data-description="Deleting the dynamic DNS service for <strong>@Html.Encode(service.Settings.Hostname)</strong> means your BTCPay Server will stop updating the associated DNS record periodically." data-confirm-input="DELETE">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <p class="text-secondary mt-3">
                There are no dynamic DNS services yet.
            </p>
        }
    </div>
</div>

<partial name="_Confirm" model="@(new ConfirmModel("Delete dynamic DNS service", "Deleting the dynamic DNS service means your BTCPay Server will stop updating the associated DNS record periodically.", "Delete"))" />

