@using BTCPayServer.Plugins
@model BTCPayServer.Models.ServerViewModels.ListPluginsViewModel
@{
    ViewData.SetActivePage(ServerNavPages.Explore, "Explore Plugins");

    var installed = Model.Installed.ToDictionary(plugin => plugin.Identifier, plugin => plugin.Version);
    var availableAndNotInstalled = new List<PluginService.AvailablePlugin>();
    var availableAndNotInstalledx = Model.Available
        .Where(plugin => !installed.ContainsKey(plugin.Identifier))
        .GroupBy(plugin => plugin.Identifier)
        .ToList();
    foreach (var availableAndNotInstalledItem in availableAndNotInstalledx)
    {
        var ordered = availableAndNotInstalledItem.OrderByDescending(plugin => plugin.Version).ToArray();
        availableAndNotInstalled.Add(ordered.FirstOrDefault(availablePlugin => PluginManager.DependenciesMet(availablePlugin.Dependencies, installed)) ?? ordered.FirstOrDefault());
    }
    var recentPlugins = availableAndNotInstalled.OrderByDescending(c => c.BuildDate).Take(5).ToList();
    var popularPlugins = availableAndNotInstalled.Where(c => c.DownloadStat != null).OrderByDescending(c => c.DownloadStat).Take(5).ToList();
}

<style>
    .modal-content > .modal-body > .p-3:last-child > .row > [class*='col-']:last-child {
        border-bottom: none;
    }

    .modal-content > .modal-body > .p-3:last-child > .row > .col-lg-5 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
</style>

<div class="sticky-header">
    <h2 class="my-1" text-translate="true">@ViewData["Title"]</h2>
</div>

<partial name="_StatusMessage" />

<form id="searchForm" class="d-flex flex-wrap flex-sm-nowrap align-items-center gap-3 mb-4 col-xxl-8" asp-action="ExplorePlugins" method="get">
    <input id="searchInput" asp-for="SearchText" class="form-control" placeholder="Search…" />
</form>

<div class="alert alert-warning alert-dismissible mb-4" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <vc:icon symbol="close" />
    </button>
    <h5 class="alert-heading">Important notice about plugins</h5>
    <p class="mb-0">
        Plugins are developed by third parties. They need to be updated and maintained regularly in addition to BTCPay Server. Use plugins at your own risk.
        <a href="#warning-details" data-bs-toggle="collapse" class="alert-link">Read more</a>
    </p>
    <div class="collapse" id="warning-details">
        <p class="my-3"><strong>Use at Your Own Risk:</strong> Plugins in this store are developed by independent third parties. These plugins have not undergone review by the BTCPay Server team.</p>
        <p class="mb-3"><strong>Disclaimer of Responsibility:</strong> BTCPay Server contributors or Foundation are not liable for any harm, loss, or damage resulting from the installation or use of the plugins. Users assume full responsibility for their installation, use, familiarity with licensing and terms of service and maintenance.</p>
        <p class="mb-3"><strong>No Official Endorsement:</strong> Inclusion in the list of BTCPay Server plugins does not constitute an endorsement or guarantee of quality, safety, or compatibility.</p>
        <p class="mb-3"><strong>Due Diligence Advised:</strong> We recommend users exercise caution and conduct their own research or consult the community before installing any plugin.</p>
        <p class="mb-0"><strong>Feedback and Reporting:</strong> Should you experience issues with a plugin, please provide feedback or report concerns directly to the respective plugin developers.</p>
    </div>
</div>

@if (availableAndNotInstalled.Any())
{
    <h4 class="mb-4">All</h4>
    <div class="row mb-4">
        @foreach (var plugin in availableAndNotInstalled)
        {
            Model.DownloadedPluginsByIdentifier.TryGetValue(plugin.Identifier, out var downloadInfo);
            var availablePluginModalId = $"modal_{plugin.Identifier}";
            <div class="col col-12 col-md-6 col-lg-12 col-xl-6 col-xxl-4 mb-4">
                <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#@availablePluginModalId">
                    <div class="card h-100 bg-transparent border-0" id="@plugin.Identifier">
                        <div class="card-body d-flex">
                            <div class="me-3 d-flex justify-content-center align-items-center">
                                <img src="@(!string.IsNullOrEmpty(downloadInfo.PluginLogo) ? downloadInfo.PluginLogo : Url.Content("~/img/icons/icon-512x512.png"))"
                                     alt="@plugin.Name Image"
                                     class="rounded-4"
                                     style="width: 80px; height: 80px;">
                            </div>

                            <div class="flex-grow-1">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h4 class="card-title mb-0">@plugin.Name</h4>
                                </div>
                                <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-clamp: 2;">
                                    @plugin.Description
                                </p>
                            </div>
                        </div>
                    </div>
                </a>

                <div class="modal fade" id="@availablePluginModalId" tabindex="-1" aria-labelledby="pluginModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content">
                            <div class="modal-header border-0">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><vc:icon symbol="close" /></button>
                            </div>
                            <div class="modal-body">
                                <div class="p-3 w-100">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <h4 class="modal-title fs-2" id="pluginModalLabel">@plugin.Name</h4>
                                            <p>@plugin.Description</p>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="d-flex flex-column align-items-end">
                                                <form asp-action="InstallPlugin" asp-route-plugin="@plugin.Identifier" asp-route-version="@plugin.Version">
                                                    <button type="submit" class="btn btn-primary">Install</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between mt-3 flex-wrap">
                                        <div class="d-flex flex-column gap-3 col-12 col-lg-7 mb-3 mb-md-0">
                                            <div class="d-flex flex-column gap-2 h-100">
                                                <div class="flex-grow-1" style="background-color: rgba(128, 128, 128, 0.3); min-height: 100px; flex-basis: 100px;"></div>
                                                <div class="d-flex gap-2 flex-grow-1">
                                                    <div class="flex-grow-1" style="background-color: rgba(128, 128, 128, 0.3); min-height: 100px; flex-basis: 100px;"></div>
                                                    <div class="flex-grow-1" style="background-color: rgba(128, 128, 128, 0.3); min-height: 100px; flex-basis: 100px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4 mt-3">
                                            <div class="d-flex justify-content-between mb-2 w-100">
                                                <strong>Version:</strong>
                                                <span>@plugin.Version</span>
                                            </div>
                                            <hr />
                                            @if (!string.IsNullOrEmpty(plugin.Author))
                                            {
                                                <div class="d-flex justify-content-between mb-2 w-100">
                                                    <span>Developed By:</span>
                                                    <span><a href="@plugin.AuthorLink" rel="noreferrer noopener" target="_blank">@plugin.Author</a></span>
                                                </div>
                                                <hr />
                                            }
                                            <div class="d-flex justify-content-between mb-2 w-100">
                                                <span>Last Updated:</span>
                                                <span>@plugin.BuildDate.ToTimeAgo()</span>
                                            </div>
                                            <hr />
                                            @if (downloadInfo?.Source is not null)
                                            {
                                                <div class="d-flex justify-content-between mb-2 w-100">
                                                    <strong>Source Code:</strong>
                                                    <span><a href="@downloadInfo.Source" rel="noreferrer noopener" class="d-flex align-items-center gap-2" target="_blank">View</a></span>
                                                </div>
                                                <hr />
                                            }
                                            @if (!string.IsNullOrEmpty(downloadInfo?.Documentation))
                                            {
                                                <div class="d-flex justify-content-between mb-2 w-100">
                                                    <strong>Documentation:</strong>
                                                    <span><a href="@downloadInfo.Documentation" rel="noreferrer noopener" class="d-flex align-items-center gap-2" target="_blank">View</a></span>
                                                </div>
                                                <hr />
                                            }
                                            @if (!string.IsNullOrEmpty(downloadInfo?.AuthorTwitter))
                                            {
                                                <div class="d-flex justify-content-between mb-2 w-100">
                                                    <strong>Author Twitter:</strong>
                                                    <span><a href="@downloadInfo.AuthorTwitter" rel="noreferrer noopener" class="d-flex align-items-center gap-2" target="_blank">View</a></span>
                                                </div>
                                                <hr />
                                            }
                                            @if (!string.IsNullOrEmpty(downloadInfo?.AuthorEmail))
                                            {
                                                <div class="d-flex justify-content-between mb-2 w-100">
                                                    <strong>Author Email:</strong>
                                                    <span><a href="mailto:@downloadInfo.AuthorEmail" rel="noreferrer noopener" class="d-flex align-items-center gap-2" target="_blank">Send a mail</a></span>
                                                </div>
                                                <hr />
                                            }
                                            <div class="d-flex justify-content-between mb-2 w-100">
                                                <strong>Dependency:</strong>
                                                <div>
                                                    @foreach (var dependency in plugin.Dependencies)
                                                    {
                                                        <span>@dependency</span>
                                                        <br />
                                                    }
                                                </div>
                                            </div>
                                            <hr />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
}
else
{
    <p class="text-secondary">No plugin found for the matching criteria.</p>
}

@if (string.IsNullOrEmpty(Model.SearchText))
{
    @if (popularPlugins.Any())
    {
        <h4 class="mb-4">Popular</h4>
        <div class="row mb-4">
            @foreach (var plugin in popularPlugins)
            {
                Model.DownloadedPluginsByIdentifier.TryGetValue(plugin.Identifier, out var downloadInfo);
                var recentPluginModalId = $"modal_{plugin.Identifier}";
                <div class="col col-12 col-md-6 col-lg-12 col-xl-6 col-xxl-4 mb-4">
                    <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#@recentPluginModalId">
                        <div class="card h-100 bg-transparent border-0" id="@plugin.Identifier">
                            <div class="card-body d-flex">
                                <div class="me-3 d-flex justify-content-center align-items-center">
                                    <img src="@(!string.IsNullOrEmpty(downloadInfo.PluginLogo) ? downloadInfo.PluginLogo : Url.Content("~/img/icons/icon-512x512.png"))"
                                         alt="@plugin.Name Image"
                                         class="rounded-4"
                                         style="width: 80px; height: 80px;">
                                </div>
                                <div class="flex-grow-1">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <h4 class="card-title mb-0">@plugin.Name</h4>
                                    </div>
                                    <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-clamp: 2;">
                                        @plugin.Description
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
}

@if (string.IsNullOrEmpty(Model.SearchText))
{
    @if (recentPlugins.Any())
    {
        <h4 class="mb-4">Recent</h4>
        <div class="row mb-4">
            @foreach (var plugin in recentPlugins)
            {
                Model.DownloadedPluginsByIdentifier.TryGetValue(plugin.Identifier, out var downloadInfo);
                var recentPluginModalId = $"modal_{plugin.Identifier}";
                <div class="col col-12 col-md-6 col-lg-12 col-xl-6 col-xxl-4 mb-4">
                    <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#@recentPluginModalId">
                        <div class="card h-100 bg-transparent border-0" id="@plugin.Identifier">
                            <div class="card-body d-flex">
                                <div class="me-3 d-flex justify-content-center align-items-center">
                                    <img src="@(!string.IsNullOrEmpty(downloadInfo.PluginLogo) ? downloadInfo.PluginLogo : Url.Content("~/img/icons/icon-512x512.png"))"
                                         alt="@plugin.Name Image"
                                         class="rounded-4"
                                         style="width: 80px; height: 80px;">
                                </div>
                                <div class="flex-grow-1">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <h4 class="card-title mb-0">@plugin.Name</h4>
                                    </div>
                                    <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-clamp: 2;">
                                        @plugin.Description
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
}


@if (string.IsNullOrEmpty(Model.SearchText))
{
    <div class="mb-4">
        <h4 class="mb-4">Upload Plugin</h4>
        <button class="btn btn-secondary mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#manual-upload">
            Upload Plugin
        </button>
        <div class="row collapse" id="manual-upload">
            <div class="col col-xl-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add plugin manually</h4>
                        <div class="alert alert-warning my-3">
                            <h6 class="me-1">This is an extremely dangerous operation!</h6>
                            Only upload plugins from trusted sources.
                        </div>
                        <form method="post" enctype="multipart/form-data" asp-action="UploadPlugin">
                            <input type="file" class="form-control mb-3" required name="files" accept=".btcpay" id="files">
                            <button class="btn btn-primary" type="submit">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section PageFootContent {
    <script>
        document.getElementById('searchInput').addEventListener('input', function () {
            if (!this.value) {
                document.getElementById('searchForm').submit();
            }
        });
    </script>
}
