@using BTCPayServer.Configuration
@using BTCPayServer.Plugins
@using BTCPayServer.Views.UIServer.UIPlugins
@model BTCPayServer.Controllers.UIServerController.ListPluginsViewModel
@inject BTCPayServerOptions BTCPayServerOptions
@inject PluginService PluginService
@{
    ViewData["NavPartialName"] = "./UIPlugins/_Nav";
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData.SetActivePage(PluginNavPages.All, "All");
    var installed = Model.Installed.ToDictionary(plugin => plugin.Identifier, plugin => plugin.Version);

    var installedWithoutSystemPlugins = Model.Installed.Where(i => !i.SystemPlugin).ToList();
    var availableAndNotInstalled = new List<PluginService.AvailablePlugin>();
    var availableAndNotInstalledx = Model.Available
        .Where(plugin => !installed.ContainsKey(plugin.Identifier))
        .GroupBy(plugin => plugin.Identifier)
        .ToList();
    foreach (var availableAndNotInstalledItem in availableAndNotInstalledx)
    {
        var ordered = availableAndNotInstalledItem.OrderByDescending(plugin => plugin.Version).ToArray();
        availableAndNotInstalled.Add(ordered.FirstOrDefault(availablePlugin => PluginManager.DependenciesMet(availablePlugin.Dependencies, installed)) ?? ordered.FirstOrDefault());
    }
    var recentPlugins = availableAndNotInstalled.OrderByDescending(c => c.BuildDate).Take(9).ToList();
}

<style>
    .version-switch .nav-link { display: inline; }
    .version-switch .nav-link.active { display: none; }
</style>

<partial name="_StatusMessage" />

<div class="alert alert-warning alert-dismissible mb-4" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <vc:icon symbol="close" />
    </button>
    <h5 class="alert-heading">Important notice about plugins</h5>
    <p class="mb-0">
        Plugins are developed by third parties. They need to be updated and maintained regularly in addition to BTCPay Server. Use plugins at your own risk.
        <a href="#warning-details" data-bs-toggle="collapse" class="alert-link">Read more</a>
    </p>
    <div class="collapse" id="warning-details">
        <p class="my-3"><strong>Use at Your Own Risk:</strong> Plugins in this store are developed by independent third parties. These plugins have not undergone review by the BTCPay Server team.</p>
        <p class="mb-3"><strong>Disclaimer of Responsibility:</strong> BTCPay Server contributors or Foundation are not liable for any harm, loss, or damage resulting from the installation or use of the plugins. Users assume full responsibility for their installation, use, familiarity with licensing and terms of service and maintenance.</p>
        <p class="mb-3"><strong>No Official Endorsement:</strong> Inclusion in the list of BTCPay Server plugins does not constitute an endorsement or guarantee of quality, safety, or compatibility.</p>
        <p class="mb-3"><strong>Due Diligence Advised:</strong> We recommend users exercise caution and conduct their own research or consult the community before installing any plugin.</p>
        <p class="mb-0"><strong>Feedback and Reporting:</strong> Should you experience issues with a plugin, please provide feedback or report concerns directly to the respective plugin developers.</p>
    </div>
</div>


<form class="d-flex flex-wrap flex-sm-nowrap align-items-center gap-3 mb-4 col-xxl-8" asp-action="ListAllPlugins" method="get">
    <input class="form-control col-12 col-md-6 col-lg-4" name="searchText" placeholder="Search…" />
</form>



<div class="mb-4">
    <h3 class="mb-4">Upload Plugin</h3>
    <button class="btn btn-secondary mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#manual-upload">
        Upload Plugin
    </button>
    <div class="row collapse" id="manual-upload">
        <div class="col col-xl-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add plugin manually</h4>
                    <div class="alert alert-warning my-3">
                        <h6 class="me-1">This is an extremely dangerous operation!</h6>
                        Only upload plugins from trusted sources.
                    </div>
                    <form method="post" enctype="multipart/form-data" asp-action="UploadPlugin">
                        <input type="file" class="form-control mb-3" required name="files" accept=".btcpay" id="files">
                        <button class="btn btn-primary" type="submit">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@if (availableAndNotInstalled.Any())
{
    <h3 class="mb-4">Popular</h3>
    <div class="row mb-4">
        @foreach (var plugin in availableAndNotInstalled)
        {
            Model.DownloadedPluginsByIdentifier.TryGetValue(plugin.Identifier, out var downloadInfo);
            var modalId = $"modal_{plugin.Identifier}";
            <div class="col col-12 col-md-6 col-lg-12 col-xl-6 col-xxl-4 mb-4">
                <div class="card h-100" id="@plugin.Identifier">
                    <div class="card-body d-flex">
                        <div class="me-3">
                            <img src="~/img/icons/icon-512x512.png" alt="Default Image" style="width: 64px; height: 64px;">
                        </div>
                        <div class="flex-grow-1">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#@modalId">
                                    <h4 class="card-title mb-0" data-bs-toggle="tooltip" title="@plugin.Identifier">@plugin.Name</h4>
                                </a>
                            </div>
                            <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-clamp: 2;">
                                @plugin.Description
                            </p>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="pluginModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="d-flex justify-content-between align-items-start mb-3">
                                    <div>
                                        <h4 class="modal-title fs-2" id="pluginModalLabel">@plugin.Name</h4>
                                        @if (!string.IsNullOrEmpty(plugin.Author))
                                        {
                                            <div class="d-flex align-items-center">
                                                <span class="text-muted fs-6 me-3">@plugin.Version</span>
                                                <span class="text-muted fs-6">
                                                    by
                                                    <a href="@plugin.AuthorLink" rel="noreferrer noopener" target="_blank">@plugin.Author</a>
                                                </span>
                                            </div>
                                        }
                                    </div>
                                    <div class="d-flex flex-column align-items-end">
                                        <button type="button" class="btn btn-primary mt-3">Install</button>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>@plugin.Description</p>
                                        @if (plugin.Dependencies.Any())
                                        {
                                            <h6 class="text-muted fw-semibold">Dependencies</h6>
                                            <ul class="list-group list-group-flush">
                                                @foreach (var dependency in plugin.Dependencies)
                                                {
                                                    <li class="list-group-item p-2 d-inline-flex align-items-center gap-2">
                                                        @dependency
                                                        @if (!PluginManager.DependencyMet(dependency, installed))
                                                        {
                                                            <span title="Dependency not met." data-bs-toggle="tooltip" class="text-danger">
                                                                <vc:icon symbol="warning" />
                                                            </span>
                                                        }
                                                    </li>
                                                }
                                            </ul>
                                        }
                                        @if (downloadInfo?.Source is not null)
                                        {
                                            <a href="@downloadInfo.Source" rel="noreferrer noopener" class="d-flex align-items-center" target="_blank">
                                                <vc:icon symbol="social-github" />
                                                <span style="margin-left:.4rem">Sources</span>
                                            </a>
                                        }
                                        @if (!string.IsNullOrEmpty(downloadInfo?.Documentation))
                                        {
                                            <a href="@downloadInfo.Documentation" rel="noreferrer noopener" class="d-flex align-items-center gap-2" target="_blank">
                                                <vc:icon symbol="docs" />
                                                <span>Documentation</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <span rel="noreferrer noopener" class="d-flex align-items-center gap-2 text-danger" target="_blank">
                                                <vc:icon symbol="docs" />
                                                <span>No documentation</span>
                                            </span>
                                        }
                                    </div>
                                    <div class="col-md-4 d-flex flex-column align-items-end">
                                        <div class="d-flex justify-content-between mb-2 w-100">
                                            <strong>Latest Version:</strong>
                                            <span>@plugin.Version</span>
                                        </div>
                                        <div class="d-flex justify-content-between mb-2 w-100">
                                            <strong>Last Build Date:</strong>
                                            <span>@plugin.BuildDate.ToShortDateString()</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No plugin found for the matching criteria</p>
}





@if (recentPlugins.Any())
{
    <h3 class="mb-4">Recent</h3>
    <div class="row mb-4">
        @foreach (var plugin in recentPlugins)
        {
            Model.DownloadedPluginsByIdentifier.TryGetValue(plugin.Identifier, out var downloadInfo);
            var modalId = $"modal_{plugin.Identifier}";
            <div class="col col-12 col-md-6 col-lg-12 col-xl-6 col-xxl-4 mb-4">
                <div class="card h-100" id="@plugin.Identifier">
                    <div class="card-body d-flex">
                        <div class="me-3">
                            <img src="~/img/icons/icon-512x512.png" alt="Default Image" style="width: 64px; height: 64px;">
                        </div>
                        <div class="flex-grow-1">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#@modalId">
                                    <h4 class="card-title mb-0" data-bs-toggle="tooltip" title="@plugin.Identifier">@plugin.Name</h4>
                                </a>
                            </div>
                            <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-clamp: 2;">
                                @plugin.Description
                            </p>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="pluginModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="d-flex justify-content-between align-items-start mb-3">
                                    <div>
                                        <h4 class="modal-title fs-2" id="pluginModalLabel">@plugin.Name</h4>
                                        @if (!string.IsNullOrEmpty(plugin.Author))
                                        {
                                            <div class="d-flex align-items-center">
                                                <span class="text-muted fs-6 me-3">@plugin.Version</span>
                                                <span class="text-muted fs-6">
                                                    by
                                                    <a href="@plugin.AuthorLink" rel="noreferrer noopener" target="_blank">@plugin.Author</a>
                                                </span>
                                            </div>
                                        }
                                    </div>
                                    <div class="d-flex flex-column align-items-end">
                                        <button type="button" class="btn btn-primary mt-3">Install</button>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p><strong>@plugin.Description</strong> </p>
                                        @if (plugin.Dependencies.Any())
                                        {
                                            <h6 class="text-muted fw-semibold">Dependencies</h6>
                                            <ul class="list-group list-group-flush">
                                                @foreach (var dependency in plugin.Dependencies)
                                                {
                                                    <li class="list-group-item p-2 d-inline-flex align-items-center gap-2">
                                                        @dependency
                                                        @if (!PluginManager.DependencyMet(dependency, installed))
                                                        {
                                                            <span title="Dependency not met." data-bs-toggle="tooltip" class="text-danger">
                                                                <vc:icon symbol="warning" />
                                                            </span>
                                                        }
                                                    </li>
                                                }
                                            </ul>
                                        }
                                        @if (downloadInfo?.Source is not null)
                                        {
                                            <a href="@downloadInfo.Source" rel="noreferrer noopener" class="d-flex align-items-center" target="_blank">
                                                <vc:icon symbol="social-github" />
                                                <span style="margin-left:.4rem">Sources</span>
                                            </a>
                                        }
                                        @if (!string.IsNullOrEmpty(downloadInfo?.Documentation))
                                        {
                                            <a href="@downloadInfo.Documentation" rel="noreferrer noopener" class="d-flex align-items-center gap-2" target="_blank">
                                                <vc:icon symbol="docs" />
                                                <span>Documentation</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <span rel="noreferrer noopener" class="d-flex align-items-center gap-2 text-danger" target="_blank">
                                                <vc:icon symbol="docs" />
                                                <span>No documentation</span>
                                            </span>
                                        }
                                    </div>
                                    <div class="col-md-4 d-flex flex-column align-items-end">
                                        <div class="d-flex justify-content-between mb-2 w-100">
                                            <strong>Latest Version:</strong>
                                            <span>@plugin.Version</span>
                                        </div>
                                        <div class="d-flex justify-content-between mb-2 w-100">
                                            <strong>Last Build Date:</strong>
                                            <span>@plugin.BuildDate.ToShortDateString()</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No plugin found for the matching criteria</p>
}

