@using BTCPayServer.Abstractions.Models
@model UsersViewModel
@{
    ViewData.SetActivePage(ServerNavPages.Users);
    var nextUserEmailSortOrder = (string)ViewData["NextUserEmailSortOrder"];
    String userEmailSortOrder = null;
    switch (nextUserEmailSortOrder)
    {
        case "asc":
            userEmailSortOrder = "desc";
            break;
        case "desc":
            userEmailSortOrder = "asc";
            break;
    }

    var sortIconClass = "fa-sort";
    if (userEmailSortOrder != null)
    {
        sortIconClass = $"fa-sort-alpha-{userEmailSortOrder}";
    }

    var sortByDesc = "Sort by descending...";
    var sortByAsc = "Sort by ascending...";
}

<div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">@ViewData["Title"]</h3>
    <a asp-action="CreateUser" class="btn btn-primary" role="button" id="CreateUser">
        Add User
    </a>
</div>

<form asp-action="ListUsers" asp-route-sortOrder="@(userEmailSortOrder)" style="max-width:640px">
    <div class="input-group">
        <input asp-for="SearchTerm" class="form-control" placeholder="Search by email..." />
        <button type="submit" class="btn btn-secondary" title="Search by email">
            <span class="fa fa-search"></span> Search
        </button>
    </div>
    <span asp-validation-for="SearchTerm" class="text-danger"></span>
</form>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                <a
                    asp-action="ListUsers"
                    asp-route-sortOrder="@(nextUserEmailSortOrder ?? "asc")"
                    class="text-nowrap"
                    title="@(nextUserEmailSortOrder == "desc" ? sortByAsc : sortByDesc)"
                >
                    Email
                    <span class="fa @(sortIconClass)" />
                </a>
            </th>
            <th >Created</th>
            <th class="text-center">Verified</th>
            <th class="text-center">Enabled</th>
            <th class="text-end">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td class="d-flex align-items-center">
                    <span class="me-2">@user.Email</span>
                    @foreach (var role in user.Roles)
                    {
                        <span class="badge bg-info">@Model.Roles[role]</span>
                    }
                </td>
                <td>@user.Created?.ToBrowserDate()</td>
                <td class="text-center">
                    @if (user.Verified)
                    {
                        <span class="text-success fa fa-check"></span>
                    }
                    else
                    {
                        <span class="text-danger fa fa-times"></span>
                    }
                </td>
                <td class="text-center">
                    @if (!user.Disabled)
                    {
                        <span class="text-success fa fa-check" title="User is enabled"></span>
                    }
                    else
                    {
                        <span class="text-danger fa fa-times" title="User is disabled"></span>
                    }
                </td>
                <td class="text-end">
                    @if (!user.Verified && !user.Disabled) {
                        <a asp-action="SendVerificationEmail" asp-route-userId="@user.Id" data-bs-toggle="modal" data-bs-target="#ConfirmModal" data-description="This will send a verification email to <strong>@Html.Encode(user.Email)</strong>.">Resend verification email</a>
                        <span>-</span>
                    }
                    <a asp-action="User" asp-route-userId="@user.Id">Edit</a> <span> - </span> <a asp-action="DeleteUser" asp-route-userId="@user.Id">Remove</a>
                    - <a asp-action="ToggleUser"
                         asp-route-enable="@user.Disabled"
                         asp-route-userId="@user.Id">
                        @(user.Disabled ? "Enable" : "Disable")
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<vc:pager view-model="Model"></vc:pager>

<partial name="_Confirm" model="@(new ConfirmModel("Send verification email", $"This will send a verification email to the user.", "Send"))" />
