@model BTCPayServer.Models.ServerViewModels.MaintenanceViewModel
@{
    ViewData.SetActivePage(ServerNavPages.Maintenance, "Maintenance");
}

<h3 class="mb-4">@ViewData["Title"]</h3>

<form method="post">
    <div class="row mb-5">
        <div class="col-xl-8 col-xxl-constrain">
            <h4 class="mb-2">Domain name</h4>
            <p>You can change the domain name of your server by following <a href="https://docs.btcpayserver.org/FAQ/Deployment/#how-to-change-your-btcpay-server-domain-name" target="_blank" rel="noreferrer noopener">this guide</a>.</p>

            <div class="d-flex">
                <input asp-for="DNSDomain" class="form-control flex-fill" disabled="@(Model.CanUseSSH ? null : "disabled")" />
                <span asp-validation-for="DNSDomain" class="text-danger"></span>
                <button name="command" type="submit" class="btn btn-secondary ms-3" value="changedomain" title="Change domain" disabled="@(Model.CanUseSSH ? null : "disabled")">
                    Confirm
                </button>
            </div>

            <h4 class="mt-5 mb-2">Restart</h4>
            <p>Restart BTCPay Server and related services.</p>
            <div class="form-group">
                <div class="input-group">
                    <button name="command" type="submit" class="btn btn-secondary" value="restart" disabled="@(Model.CanUseSSH ? null : "disabled")">Restart</button>
                </div>
            </div>

            <h4 class="mt-5 mb-2">Clean</h4>
            <p>Delete unused Docker images present on your system.</p>
            <div class="form-group">
                <div class="input-group">
                    <button name="command" type="submit" class="btn btn-secondary" value="clean" disabled="@(Model.CanUseSSH ? null : "disabled")">Clean</button>
                </div>
            </div>

            <h4 class="mt-5 mb-2">Update</h4>
            <p>Update to the latest version of BTCPay Server.</p>
            <div class="form-group">
                <div class="input-group">
                    <button name="command" type="submit" class="btn btn-primary" value="update" disabled="@(Model.CanUseSSH ? null : "disabled")">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section PageFootContent {
    <partial name="_ValidationScriptsPartial" />
}
