@model BTCPayServer.Controllers.ManageController.AuthorizeApiKeysViewModel

@{
    var displayName = Model.ApplicationName ?? Model.ApplicationIdentifier;
    ViewData["Title"] = $"Are you sure about exposing your API Key to {displayName}?";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Header" />
</head>
<body class="bg-light">
    <div class="modal-dialog modal-dialog-centered min-vh-100">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 text-center">@ViewData["Title"]</h4>
            </div>

            <div class="modal-body text-center">
                You've previously generated the API Key <code>@Model.ApiKey</code> specifically for
                <strong>@displayName</strong> with the URL <code>@Model.RedirectUrl</code>.
            </div>

            <form method="post" class="modal-footer justify-content-center" asp-controller="Manage" asp-action="AuthorizeAPIKey">
                <input type="hidden" asp-for="ApplicationName" value="@Model.ApplicationName"/>
                <input type="hidden" asp-for="ApplicationIdentifier" value="@Model.ApplicationIdentifier"/>
                <input type="hidden" asp-for="ApiKey" value="@Model.ApiKey"/>
                <input type="hidden" asp-for="Strict" value="@Model.Strict"/>
                <input type="hidden" asp-for="RedirectUrl" value="@Model.RedirectUrl"/>
                <input type="hidden" asp-for="Permissions" value="@Model.Permissions"/>
                <input type="hidden" asp-for="SelectiveStores" value="@Model.SelectiveStores"/>

                <button type="submit" class="btn btn-primary w-25 mx-2" id="continue" name="command" value="Confirm">Confirm</button>
                <button type="submit" class="btn btn-secondary w-25 mx-2" onclick="history.back(); return false;">Go back</button>
            </form>
        </div>
    </div>
</body>
</html>
