@model TokensViewModel
@{
	ViewData["Title"] = "Access Tokens";
	ViewData.AddActivePage(ManageNavPages.Tokens);
}

<h4>@ViewData["Title"]</h4>
<p>You can allow a public key to access the API of this store</p>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
	<div class="col-md-9">
		<a asp-action="CreateToken" class="btn btn-success" role="button"><span class="glyphicon glyphicon-plus"></span>Create a new token</a>
		<table class="table">
			<thead class="thead-inverse">
				<tr>
					<th>Label</th>
					<th>SIN</th>
					<th>Facade</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach(var token in Model.Tokens)
			{
					<tr>
						<td>@token.Label</td>
						<td>@token.SIN</td>
						<td>@token.Facade</td>
						<td>
							<form asp-action="DeleteToken" method="post">
								<input type="hidden" name="name" value="@token.Facade">
								<input type="hidden" name="sin" value="@token.SIN">
								<button type="submit" class="btn btn-danger" role="button">Revoke</button>
							</form>
						</td>
					</tr>
			}
			</tbody>
		</table>
	</div>
</div>
