@using BTCPayServer.Plugins.PointOfSale.Models
@using BTCPayServer.Services
@using Newtonsoft.Json.Linq;
@inject DisplayFormatter DisplayFormatter
@inject BTCPayServer.Security.ContentSecurityPolicies Csp
@model BTCPayServer.Plugins.PointOfSale.Models.ViewPointOfSaleViewModel
@{
    Layout = "PointOfSale/Public/_Layout";
    Csp.UnsafeEval();
    var customTipPercentages = Model.CustomTipPercentages;
}
@section PageHeadContent {
    <link href="~/pos/cart.css" asp-append-version="true" rel="stylesheet" />
}
@section PageFootContent {
    <script>const srvModel = @Safe.Json(Model);</script>
    <script src="~/vendor/vuejs/vue.min.js" asp-append-version="true"></script>
    <script src="~/pos/cart.js" asp-append-version="true"></script>
}

<div id="app">
    <div class="public-page-wrap container-xl">
        <header class="sticky-top bg-body d-flex flex-column py-3 py-lg-4 gap-3">
            <div class="d-flex align-items-center justify-content-center gap-3 pe-5 position-relative">
                <h1 class="mb-0">@(string.IsNullOrEmpty(Model.Title) ? Model.StoreName : Model.Title)</h1>
                <button class="cart-toggle-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#cart" aria-controls="cart" :disabled="cartCount === 0">
                    <vc:icon symbol="pos-cart" />
                    <span id="CartBadge" class="badge rounded-pill bg-danger p-1 ms-1" v-text="cartCount"></span>
                </button>
            </div>
            <input class="form-control" placeholder="Find product" v-model="searchTerm">
            <div v-if="allCategories" class="btcpay-pills d-flex flex-wrap align-items-center justify-content-center gap-3">
                <template v-for="cat in allCategories">
                    <input :id="`Category-${cat.value}`" type="radio" name="category" autocomplete="off" v-model="displayCategory" :value="cat.value">
                    <label :for="`Category-${cat.value}`" class="btcpay-pill">{{ cat.text }}</label>
                </template>
            </div>
        </header>
        <main>
            <partial name="_StatusMessage" />
            @if (!string.IsNullOrEmpty(Model.Description))
            {
                <div class="lead">@Safe.Raw(Model.Description)</div>
            }
            <div ref="posItems" class="row row-cols row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center">
                @for (var index = 0; index < Model.Items.Length; index++)
                {
                    var item = Model.Items[index];
                    if (item.PriceType == ViewPointOfSaleViewModel.ItemPriceType.Topup)
                    {
                        continue;
                    }
                    var image = item.Image;
                    var description = item.Description;
                    var formatted = DisplayFormatter.Currency(item.Price ?? 0, Model.CurrencyCode, DisplayFormatter.CurrencyFormat.Symbol);
                    var inStock = !item.Inventory.HasValue || item.Inventory > 0;
                    <div class="col posItem" data-index="@index" data-search="@Safe.Raw(item.Title) @Safe.Raw(description)" data-categories="@(new JArray(item.Categories).ToString())">
                        <div class="card h-100 px-0">
                            @if (!string.IsNullOrWhiteSpace(image))
                            {
                                <img class="card-img-top" src="@image" alt="@Safe.Raw(item.Title)" asp-append-version="true">
                            }
                            <div class="card-body p-3 d-flex flex-column gap-2">
                                <h5 class="card-title m-0">@Safe.Raw(item.Title)</h5>
                                <div class="fw-semibold">@formatted</div>
                                @if (!string.IsNullOrWhiteSpace(description))
                                {
                                    <p class="card-text">@Safe.Raw(description)</p>
                                }
                            </div>
                            <div class="card-footer bg-transparent border-0 pt-0 pb-3">
                                @if (item.Inventory.HasValue)
                                {
                                    <div class="w-100 text-center text-muted">
                                        @(item.Inventory > 0 ? $"{item.Inventory} left" : "Sold out")
                                    </div>
                                }
                                @if (inStock)
                                {
                                    <button type="button" class="btn btn-primary w-100" v-on:click="addToCart(@index)">
                                        @{
                                            var buttonText = string.IsNullOrEmpty(item.BuyButtonText) ? item.PriceType == ViewPointOfSaleViewModel.ItemPriceType.Topup ? Model.CustomButtonText : Model.ButtonText : item.BuyButtonText;
                                            if (item.PriceType != ViewPointOfSaleViewModel.ItemPriceType.Topup)
                                            {
                                                buttonText = buttonText.Replace("{0}", formatted)?.Replace("{Price}", formatted);
                                            }
                                        }
                                        @Safe.Raw(buttonText)
                                    </button>
                                }                                
                            </div>
                        </div>
                    </div>
                }
            </div>
        </main>
        <footer class="store-footer">
            <a class="store-powered-by" href="https://btcpayserver.org" target="_blank" rel="noreferrer noopener">
                Powered by <partial name="_StoreFooterLogo" />
            </a>
        </footer>
    </div>
    <aside id="cart" class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="cartLabel">
        <div class="public-page-wrap pt-3 pt-lg-4 container-xl">
            <div class="offcanvas-header d-flex align-items-center justify-content-center gap-3 mb-3 pe-5 position-relative">
                <h1 class="mb-0" id="cartLabel">Cart</h1>
                <button type="button" class="cart-toggle-btn" data-bs-dismiss="offcanvas" aria-label="Close">
                    <vc:icon symbol="close" />
                </button>
            </div>
            <div class="offcanvas-body">
                <table class="table table-responsive table-light mt-0 mb-0 mx-auto" style="max-width:30rem">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th class="text-end">Quantity</th>
                            <th class="text-end">Price</th>
                            <th class="w-50px"></th>
                        </tr>
                    </thead>
                    <tbody id="CartItems">
                        <tr v-for="item in cart" :key="item.id">
                            <td class="align-middle fw-semibold">{{ item.title }}</td>
                            <td class="align-middle text-end">
                                <input class="form-control form-control-sm w-75px" type="number" step="1" name="count" placeholder="Qty" :max="item.inventory" v-model="item.count">
                            </td>
                            <td class="align-middle text-end">{{ item.price }}</td>
                            <td>
                                <button type="button" v-on:click="removeFromCart(item.id)" class="btn btn-link p-2"><i class="fa fa-trash text-muted"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <thead>
                    <tr v-if="showDiscount">
                        <th colspan="5" class="border-top-0">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa fa-percent fa-fw"></i></span>
                                <input class="js-cart-discount form-control" type="number" min="0" step="@Model.Step" value="{discount}" name="discount" placeholder="Discount in %" id="CartDiscount">
                                <a class="js-cart-discount-remove btn btn-danger" href="#"><i class="fa fa-times"></i></a>
                            </div>
                        </th>
                    </tr>
                    <template v-if="enableTips">
                        <tr>
                            <th colspan="5" class="border-top-0 pt-4 h5">@Model.CustomTipText</th>
                        </tr>
                        <tr>
                            <th colspan="5" class="border-0">
                                <div class="input-group mb-2">
                                    <span class="input-group-text"><i class="fa fa-money fa-fw"></i></span>
                                    <input
                                        class="js-cart-tip form-control form-control-lg"
                                        type="number"
                                        min="0"
                                        step="@Model.Step"
                                        value="{tip}"
                                        name="tip"
                                        placeholder="Tip in @(Model.CurrencyInfo.CurrencySymbol ?? Model.CurrencyCode)" />
                                    <a class="js-cart-tip-remove btn btn-lg btn-danger" href="#"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="row mb-1">
                                    @if (customTipPercentages is {Length: > 0 })
                                    {
                                        @foreach (var percentage in customTipPercentages)
                                        {
                                            <div class="col">
                                                <a class="js-cart-tip-btn btn btn-lg btn-light w-100 border mb-2" href="#" data-tip="@percentage">@percentage%</a>
                                            </div>
                                        }
                                    }

                                </div>
                            </th>
                        </tr>
                    </template>
                    <tr>
                        <th colspan="1" class="pb-4 h4">Total</th>
                        <th colspan="4" class="pb-4 h4 text-end">
                            <span class="js-cart-total" id="CartTotal">{total}</span>
                        </th>
                    </tr>
                    </thead>
                </table>
                <button id="js-cart-confirm" data-bs-toggle="modal" data-bs-target="#cartModal" class="btn btn-primary btn-lg mx-2 mb-3 p-3" disabled="disabled" type="submit">
                    Confirm
                </button>
            </div>
        </div>
    </aside>
    <div id="cartModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white border-0">
                    <h5 class="modal-title">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ref="close">
                        <vc:icon symbol="close" />
                    </button>
                </div>
                <div class="modal-body p-0">
                    <table id="js-cart-summary" class="table m-0">
                        <tbody class="my-3">
                            <tr>
                                <td colspan="2" class="border-top-0 h5">Summary</td>
                            </tr>
                            <tr>
                                <td class="border-0 pb-0 h6">Total products</td>
                                <td class="text-end border-0 pb-0 h6">
                                    <span class="js-cart-summary-products text-nowrap"></span>
                                </td>
                            </tr>
                            @if (Model.ShowDiscount)
                            {
                                <tr>
                                    <td class="border-0 pb-y h6">Discount</td>
                                    <td class="text-end border-0 pb-y h6">
                                        <span class="js-cart-summary-discount text-nowrap" id="CartSummaryDiscount"></span>
                                    </td>
                                </tr>
                            }
                            @if (Model.EnableTips)
                            {
                                <tr>
                                    <td class="border-top-0 pt-0 h6">Tip</td>
                                    <td class="text-end border-top-0 pt-0 h6">
                                        <span class="js-cart-summary-tip text-nowrap" id="CartSummaryTip"></span>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td class="h3 table-light">Total</td>
                                <td class="h3 table-light text-end">
                                    <span class="js-cart-summary-total text-nowrap" id="CartSummaryTotal"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer bg-light">
                    <form
                        id="js-cart-pay-form"
                        method="post"
                        asp-action="ViewPointOfSale"
                        asp-route-appId="@Model.AppId"
                        asp-antiforgery="false"
                        data-buy
                    >
                        <input id="js-cart-amount" type="hidden" name="amount">
                        <input id="js-cart-tip" type="hidden" name="tip">
                        <input id="js-cart-discount" type="hidden" name="discount">
                        <input id="js-cart-posdata" type="hidden" name="posdata">
                        <button id="js-cart-pay" class="btn btn-primary btn-lg" type="submit">
                            <b>@Model.CustomButtonText</b>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
