@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BTCPayServer.Plugins.PointOfSale.Models.ViewPointOfSaleViewModel

<div id="app" class="l-pos-wrapper" v-cloak>
    <form method="post" asp-action="ViewPointOfSale" asp-route-appId="@Model.AppId" asp-antiforgery="false" data-buy v-on:submit="handleFormSubmit">
        <div ref="display"  class="l-pos-display pb-3 px-1"><div class="text-muted">{{srvModel.currencyCode}}</div><span ref="amount"  v-bind:style="{fontSize: fontSize + 'px'}">{{ payTotal }}</span></div>
        <div class="l-pos-keypad">
            <template
                v-for="(key, index) in keys"
                :key="index">
                <div v-if="key !== ''" class="btn"
                     v-bind:class="{ 'btn-primary' : (isNaN(key) === false) || key === '.', 'btn-dark' : isNaN(key) && key !== '.' }"
                     v-on:click="buttonClicked(key)">{{ key }}</div>
                <div v-else class="btn btn-empty"></div>
            </template>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-4 gap-3">
            <div class="btn btn-outline-secondary btn-lg flex-fill" v-on:click="clearTotal">Clear</div>
            <button class="btn btn-primary btn-lg flex-fill" id="pay-button" type="submit" v-bind:disabled="payButtonLoading">
                <div v-if="payButtonLoading" class="spinner-border spinner-border-sm" id="pay-button-spinner" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                Pay
            </button>
        </div>

        <input class="form-control" type="hidden" name="amount" v-model="payTotalNumeric">
    </form>

    @if (Model.ShowDiscount)
    {
        <div class="input-group mt-4">
            <span class="input-group-text"><i class="fa fa-percent fa-fw"></i></span>
            <input
                class="js-cart-discount form-control"
                type="number"
                min="0"
                max="100"
                step="1"
                v-model="discountPercent"
                v-on:change="onDiscountChange"
                name="discount"
                placeholder="Discount in %"
            >
            <a
                class="js-cart-discount-remove btn btn-danger"
                href="#"
                v-on:click="removeDiscount"
            ><i class="fa fa-times"></i></a>
        </div>
    }

    @if (Model.EnableTips)
    {
        <p class="pt-5 h5">@Model.CustomTipText</p>
        <div class="input-group mb-2">
            <span class="input-group-text"><i class="fa fa-money fa-fw"></i></span>
            <input
                class="js-cart-tip form-control form-control-lg"
                disabled
                type="number"
                min="0"
                step="@Model.Step"
                v-model="tipTotal"
                name="tip"
                placeholder="Tip in @(Model.CurrencyInfo.CurrencySymbol ?? Model.CurrencyCode)"
            >
            <a
                class="js-cart-tip-remove btn btn-lg btn-danger"
                href="#"
                v-on:click="removeTip"
            ><i class="fa fa-times"></i></a>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-2 gap-3">
            @if (Model.CustomTipPercentages != null && Model.CustomTipPercentages.Length > 0)
            {
                @foreach (var percentage in Model.CustomTipPercentages)
                {
                    <button
                        class="js-cart-tip-btn btn btn-lg btn-light w-100 border mb-2"
                        data-tip="@percentage"
                        v-on:click="tipClicked(@percentage)"
                    >
                        @percentage%
                    </button>
                }
            }
        </div>
    }
</div>
