@using BTCPayServer.BIP78.Sender
@model BTCPayServer.Models.InvoicingModels.PaymentModel
@{
    var qrTextId = $"QR_Text_{Model.PaymentMethodId}";
}
<template id="bitcoin-method-checkout-template">
    <div class="payment-box">
        <div class="qr-container form-control" data-clipboard-confirm-element="@qrTextId" :data-clipboard="model.btcAddress" :data-clipboard-confirm="$t('copy_confirm')">
            <qrcode v-if="model.invoiceBitcoinUrlQR" :value="model.invoiceBitcoinUrlQR" tag="div" :options="qrOptions" />
        </div>
        <div class="mt-2 mb-4">
            <small class="qr-text" id="@qrTextId" v-t="'qr_text'"></small>
            <div v-if="model.btcAddress" class="form-floating mt-3">
                <input id="Address_@Model.PaymentMethodId" class="form-control form-control-sm" readonly="readonly" :value="model.btcAddress"
                       data-clipboard :data-clipboard-confirm="$t('copy_confirm')" data-clipboard-confirm-element="@qrTextId"/>
                <label for="Address_@Model.PaymentMethodId" v-t="'address'"></label>
            </div>
            <div v-if="BOLT11" class="form-floating mt-3">
                <input id="BOLT11_@Model.PaymentMethodId" class="form-control form-control-sm" readonly="readonly" :value="BOLT11"
                       data-clipboard :data-clipboard-confirm="$t('copy_confirm')" data-clipboard-confirm-element="@qrTextId"/>
                <label for="BOLT11_@Model.PaymentMethodId" v-t="'lightning'"></label>
            </div>
            <div v-if="model.invoiceBitcoinUrl" class="form-floating mt-3">
                <input id="PaymentLink_@Model.PaymentMethodId" class="form-control form-control-sm" readonly="readonly" :value="model.invoiceBitcoinUrl"
                       data-clipboard :data-clipboard-confirm="$t('copy_confirm')" data-clipboard-confirm-element="@qrTextId"/>
                <label for="PaymentLink_@Model.PaymentMethodId" v-t="'payment_link'"></label>
            </div>
        </div>
        <a v-if="model.invoiceBitcoinUrl" class="btn btn-primary rounded-pill w-100" target="_top"
           :href="model.invoiceBitcoinUrl" :title="$t(hasPayjoin ? 'BIP21 payment link with PayJoin support' : 'BIP21 payment link')" v-t="'pay_in_wallet'"></a>
    </div>
</template>

<script>
    Vue.component('BitcoinLikeMethodCheckout', {
        props: ["model"],
        template: "#bitcoin-method-checkout-template",
        components: {
            qrcode: VueQrcode
        },
        data () {
            // currentTab is needed for backwards-compatibility with old plugin versions
            return { currentTab: undefined };
        },
        computed: {
            hasPayjoin () {
                return this.model.invoiceBitcoinUrl.indexOf('@PayjoinClient.BIP21EndpointKey=') !== -1;
            },
            BOLT11 () {
                const match = this.model.invoiceBitcoinUrl.match(/&LIGHTNING=(.*)&?/i);
                return match ? match[1].toLowerCase() : null;
            }
        }
    });
</script>
