@model PaymentModel
@{
    Layout = null;
    var displayedPaymentMethods = Model.AvailableCryptos.Where(a => a.Displayed).ToList();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <META NAME="robots" CONTENT="noindex,nofollow">
    <title>@Model.HtmlTitle</title>
</head>
<body>
    <h1>Pay with @Model.StoreName</h1>
    @if (Model.Status == "new")
    {
        if (!string.IsNullOrEmpty(Model.UISettings?.NoScriptPartialName))
        {
            <partial model="@Model" name="@Model.UISettings.NoScriptPartialName"/>
        }
        else
        {
            <h1 class="text-danger">This payment method requires javascript.</h1>
        }
        @if (displayedPaymentMethods.Count > 1)
        {
            <div>
                <hr />
                <h2>Pay with:</h2>
                <ul style="list-style-type: none;padding-left: 5px;">
                    @foreach (var crypto in displayedPaymentMethods)
                    {
                        <li style="height: 32px; line-height: 32px;">
                            <a asp-action="CheckoutNoScript" asp-route-invoiceId="@Model.InvoiceId" asp-route-paymentMethodId="@crypto.PaymentMethodId">
                                <img alt="@crypto.PaymentMethodName" src="@crypto.CryptoImage" style="vertical-align:middle; height:24px; text-decoration:none; margin-top: -3px;" asp-append-version="true" />
                            </a>
                            <a asp-action="CheckoutNoScript" asp-route-invoiceId="@Model.InvoiceId" asp-route-paymentMethodId="@crypto.PaymentMethodId" style="padding-top: 2px;">
                                @crypto.PaymentMethodName
                                @(crypto.IsLightning ? Html.Raw("&#9889;") : null)
                                (@crypto.CryptoCode)
                            </a>
                        </li>
                    }
                </ul>
            </div>
        }
    }
    else if (Model.Status == "paid" || Model.Status == "complete" || Model.Status == "confirmed")
    {
        <div>
            <p>This invoice has been paid</p>
        </div>
    }
    else if (Model.Status == "expired" || Model.Status == "invalid")
    {
        <div>
            <p>This invoice has expired</p>
        </div>
    }
    else
    {
        <div>
            <p>Non-supported state of invoice</p>
        </div>
    }

    <hr />
    <p>
        <a asp-action="Checkout" asp-route-invoiceId="@Model.InvoiceId">Go back to Javascript enabled invoice</a>
    </p>
    @await Component.InvokeAsync("UiExtensionPoint", new { location = "checkout-noscript-end", model = Model })
</body>
</html>
