@model BTCPayServer.Controllers.UIInvoiceController.InvoiceReceiptViewModel
@using BTCPayServer.Client
@using BTCPayServer.Client.Models
@using BTCPayServer.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject BTCPayServer.Services.BTCPayServerEnvironment env
@inject BTCPayServer.Services.ThemeSettings Theme

@{
    ViewData["Title"] = $"Invoice {Model.InvoiceId} Receipt";
    Layout = null;
    var reloadPage = Model.Status == InvoiceStatus.Processing;
    var onlyOneColumn = (!Model.ShowPayments || Model.Payments is null) && Model.AdditionalData?.Any() is not true;
}

<!DOCTYPE html>
<html lang="en" @(env.IsDeveloping ? " data-devenv" : "")>
<head>
    <partial name="LayoutHead" />
    <meta name="robots" content="noindex,nofollow">
    @if (reloadPage)
    {
        <script type="text/javascript">       
            setTimeout(() => { window.location.reload(); }, 10000); 
        </script>
    }
    <style>
        #InvoiceSummary { gap: var(--btcpay-space-l); }
        #posData td > table:last-child { margin-bottom: 0 !important; }
        #posData table > tbody > tr:first-child > td > h4 { margin-top: 0 !important; }
    </style>
</head>
<body>
    <div class="min-vh-100 d-flex flex-column">
        <nav class="btcpay-header navbar sticky-top py-3 py-lg-4 d-print-none">
            <div class="container flex-wrap gap-3">
                <h1 class="h3">Receipt</h1>
                <div class="d-flex flex-wrap align-items-center justify-content-center gap-3">
                    <button type="button" class="btn btn-outline-secondary" onclick="window.print()">
                        <i class="fa fa-print"></i>&nbsp;Print
                    </button>
                    <a asp-action="Invoice" permission="@Policies.CanViewInvoices" class="invoice-checkout-link btn btn-primary text-nowrap d-print-none" asp-route-invoiceId="@Model.InvoiceId">Admin details</a>
                </div>
            </div>
        </nav>
        
        <main class="flex-grow-1 py-4">
            <div class="container">
                <partial name="_StatusMessage" model="@(new ViewDataDictionary(ViewData) { { "Margin", "mb-4" } })"/>
                @if (Model.Status == InvoiceStatus.Processing)
                {
                    <div class="alert alert-info">
                        The invoice has detected a payment but is still waiting to be settled.
                        This page will refresh periodically until it is settled.
                    </div>
                }
                else if (Model.Status != InvoiceStatus.Settled)
                {
                    <div class="alert alert-danger">
                        The invoice is not settled.
                    </div>
                }
                else
                {
                    <div class="d-flex flex-column justify-content-center gap-4">
                        <div id="InvoiceSummary" class="bg-tile h-100 m-0 p-3 p-sm-5 rounded d-flex flex-wrap align-items-center">
                            @if (Model.ShowQR)
                            {
                                <div>
                                    <vc:qr-code data="@Context.Request.GetCurrentUrl()"></vc:qr-code>
                                </div>
                            }
                            <div>
                                <dl class="d-flex flex-column gap-4 mb-0">
                                    <div class="d-flex flex-column">
                                        <dd class="text-muted text-uppercase mb-1">Amount</dd>
                                        <dt class="h4 mb-0 fw-semibold text-nowrap">@Model.Amount @Model.Currency</dt>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <dd class="text-muted text-uppercase mb-1">Date</dd>
                                        <dt class="h4 mb-0 fw-semibold text-nowrap">@Model.Timestamp.ToBrowserDate()</dt>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <dd class="text-muted text-uppercase mb-1">Invoice ID</dd>
                                        <dt class="h4 mb-0 fw-semibold text-break">@Model.InvoiceId</dt>
                                    </div>
                                </dl>
                            </div>
                        </div>

                        @if (Model.AdditionalData != null && Model.AdditionalData.Count != 0)
                        {
                            <div id="receiptData">
                                <partial name="PosData" model="(Model.AdditionalData, 1)"/>
                            </div>
                        }

                        @if (Model.Payments is not null)
                        {
                            <div id="PaymentDetails">
                                <div class="bg-tile h-100 m-0 p-3 p-sm-5 rounded">
                                    <h2 class="h4 mb-3 d-print-none">Payment Details</h2>
                                    <div class="table-responsive mb-0">
                                        <table class="table">
                                            <tr>
                                                <th class="fw-normal text-secondary">Destination</th>
                                                <th class="fw-normal text-secondary">Received</th>
                                                <th class="fw-normal text-secondary text-end">Paid</th>
                                                <th class="fw-normal text-secondary text-end">Rate</th>
                                                <th class="fw-normal text-secondary text-end">Payment</th>
                                            </tr>
                                            @foreach (var payment in Model.Payments)
                                            {
                                                <tr class="table-borderless table-light">
                                                    <td class="text-break">
                                                        <code>@payment.Destination</code>
                                                    </td>
                                                    <td>@payment.ReceivedDate.ToString("g")</td>
                                                    <td class="text-end">@payment.PaidFormatted</td>
                                                    <td class="text-end">@payment.RateFormatted</td>
                                                    <td class="text-end text-nowrap">@payment.Amount @payment.PaymentMethod</td>
                                                </tr>
                                                <tr class="table-borderless table-light">
                                                    <td class="fw-normal" colspan="5">
                                                        <span class="text-secondary">Transaction Id:</span>
                                                        @if (!string.IsNullOrEmpty(payment.Link))
                                                        {
                                                            <a href="@payment.Link" class="text-print-default text-break" rel="noreferrer noopener" target="_blank">@payment.Id</a>
                                                        }
                                                        else
                                                        {
                                                            <span class="text-break">@payment.Id</span>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </main>
        <footer class="pt-2 pb-4 d-print-none">
            <div class="container d-flex flex-wrap align-items-center justify-content-center">
                <span class="text-muted mx-2">
                    Powered by <a href="https://btcpayserver.org" target="_blank" rel="noreferrer noopener">BTCPay Server</a>
                </span>
                @if (!Theme.CustomTheme)
                {
                    <vc:theme-switch css-class="text-muted mx-2" responsive="none"/>
                }
            </div>
        </footer>
    </div>
    <partial name="LayoutFoot"/>
</body>
</html>

