@page "{id}/Authorizations"
@using System.Collections.Immutable
@using Microsoft.AspNetCore.Authorization
@using OpenIddict.Abstractions
@using OpenIddict.Core
@using OpenIddict.EntityFrameworkCore.Models
@using PageModel = Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@model AuthorizationList

<section>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <partial name="_StatusMessage" for="@Model.StatusMessage"/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@Model.Application.DisplayName Authorizations</h2>
                <hr class="primary">
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-sm table-responsive-md">
                    <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Status</th>
                        <th>Type</th>
                        <th class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var authorization in Model.Authorizations)
                    {
                        <tr>
                            <td>@authorization.Subject</td>
                            <td>@authorization.Status</td>
                            <td>@authorization.Type</td>
                            <td class="text-right">
                                
                                <a asp-page="./Tokens" asp-route-id="@Model.Id" asp-route-authorizationId="@authorization.Id" >Revoke</a>
                                <a asp-page="./RevokeAuthorization" asp-route-id="@authorization.Id">Revoke</a>
                            </td>
                        </tr>
                    }
                    @if (!Model.Authorizations.Any())
                    {
                        <tr>
                            <td colspan="6">No Authorizations</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


@functions{

    [Authorize]
    public class AuthorizationList : PageModel
    {
        private readonly OpenIddictAuthorizationManager<OpenIddictAuthorization> _authorizationManager;
        private readonly OpenIddictApplicationManager<OpenIddictApplication> _applicationManager;

        [BindProperty(SupportsGet = true)]
        public string StatusMessage { get; set; }

        [BindProperty(SupportsGet = true)]
        public string Id { get; set; }

        public ImmutableArray<OpenIddictAuthorization> Authorizations { get; internal set; }
        public OpenIddictApplication Application { get; internal set; }

        public AuthorizationList(OpenIddictAuthorizationManager<OpenIddictAuthorization> authorizationManager, OpenIddictApplicationManager<OpenIddictApplication> applicationManager)
        {
            _authorizationManager = authorizationManager;
            _applicationManager = applicationManager;
        }

        public async Task<IActionResult> OnGetAsync()
        {
            Application = await _applicationManager.FindByIdAsync(Id);
            Authorizations = await _authorizationManager.FindByApplicationIdAsync(Id);
            return Page();
        }
    }

}
