@page "{id?}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Internal
@using Microsoft.AspNetCore.Mvc.RazorPages
@using OpenIddict.Abstractions
@using OpenIddict.Core
@using OpenIddict.EntityFrameworkCore.Models
@model EditClient

<script type="text/javascript">
    $(function() {
        $(".btn-redirect-uris-add").on("click",
            function() {
                $("<li class='list-group-item '>" +
                        "<div class='input-group'> " +
                        "<input class='form-control ' " +
                        "type='text' name='Client.RedirectUris' " +
                        "placeholder='Allowed Redirect Url' /> " +
                        "<div class='input-group-append'> " +
                        "<button class='btn btn-danger btn-redirect-uris-remove' role='button' type='button'>" +
                        "<span class='fa fa-times'></span>" +
                        "</button>" +
                        "</div>" +
                        "</div>" +
                        "</li>")
                    .insertBefore($(this).parent("li")).find("button").on("click", onRemoveLiButtonClicked);

            });
        $(".btn-post-logout-redirect-uris-add").on("click",
            function() {
                $("<li class='list-group-item '>" +
                        "<div class='input-group'> " +
                        "<input class='form-control ' " +
                        "type='text' name='Client.PostLogoutRedirectUris' " +
                        "placeholder='Allowed Post Logout Redirect Url' /> " +
                        "<div class='input-group-append'> " +
                        "<button class='btn btn-danger btn-redirect-uris-remove' role='button' type='button'>" +
                        "<span class='fa fa-times'></span>" +
                        "</button>" +
                        "</div>" +
                        "</div>" +
                        "</li>")
                    .insertBefore($(this).parent("li")).find("button").on("click", onRemoveLiButtonClicked);

            });
        $(".btn-redirect-uris-remove").on("click", onRemoveLiButtonClicked);

        $(".select-client-type").on("change",
            function() {
                switch ($(this).val()) {
                case "@OpenIddictConstants.ClientTypes.Public":
                    $("#Client_ClientId").hide();
                case "@OpenIddictConstants.ClientTypes.Hybrid":
                case "@OpenIddictConstants.ClientTypes.Confidential":
                    $("#Client_ClientId").show();
                default:
                }
            });

        function onRemoveLiButtonClicked() {
            $(this).parents("li").remove();
        }

        $(".cb-permissions").on("change",
            function() {
                debugger;
                var key = $(this).data("key");
                var checked = $(this).is(":checked");

                var option = $("#Client_Permissions").find("option[value='" + key + "']");
                if (checked) {
                    option.prop("selected");
                } else {

                    option.removeProp("selected");
                }
            });
        $("#Client_Permissions").hide();
        $("#permissions-ui-js").show();
    })
</script>


<partial name="_StatusMessage" for="StatusMessage"/>
<section class="client-edit-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <partial name="_StatusMessage" for="StatusMessage"/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    @if (string.IsNullOrEmpty(Model.Id))
                    {
                        @Html.Raw("Create")
                    }
                    else
                    {
                        @Html.Raw("View")
                    }
                    Client
                </h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Client.DisplayName" class="control-label"></label>*
                        <input asp-for="Client.DisplayName" class="form-control"/>
                        <span asp-validation-for="Client.DisplayName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Client.ClientId" class="control-label"></label>*
                        <input asp-for="Client.ClientId" readonly class="form-control"/>
                        <span asp-validation-for="Client.ClientId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Client.ClientSecret" class="control-label"></label>*
                        <input asp-for="Client.ClientSecret" readonly class="form-control"/>

                        <span asp-validation-for="Client.ClientSecret" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Client.Type" class="control-label"></label>
                                <select asp-for="Client.Type" disabled class="form-control select-client-type">
                                    <option value="@OpenIddictConstants.ClientTypes.Public">@nameof(OpenIddictConstants.ClientTypes.Public)</option>
                                    <option value="@OpenIddictConstants.ClientTypes.Confidential">@nameof(OpenIddictConstants.ClientTypes.Confidential)</option>
                                    <option value="@OpenIddictConstants.ClientTypes.Hybrid">@nameof(OpenIddictConstants.ClientTypes.Hybrid)</option>
                                </select>
                                <span asp-validation-for="Client.Type" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Client.ConsentType" class="control-label"></label>
                                <select asp-for="Client.ConsentType" disabled class="form-control">
                                    <option value="@OpenIddictConstants.ConsentTypes.Implicit" selected>@nameof(OpenIddictConstants.ConsentTypes.Implicit)</option>
                                    <option value="@OpenIddictConstants.ConsentTypes.Explicit" disabled>@nameof(OpenIddictConstants.ConsentTypes.Explicit)</option>
                                    <option value="@OpenIddictConstants.ConsentTypes.External" disabled>@nameof(OpenIddictConstants.ConsentTypes.External)</option>
                                </select>
                                <span asp-validation-for="Client.ConsentType" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <label asp-for="Client.RedirectUris" class="control-label"></label>*
                                <ul class="list-group">
                                    @foreach (var redirecturi in Model.Client.RedirectUris)
                                    {
                                        <li class="list-group-item">
                                            <div class="input-group">
                                                <input asp-for="Client.RedirectUris" class="form-control" value="@redirecturi" placeholder="Allowed Redirect Url"/>
                                                <div class="input-group-append">
                                                    <button class="btn btn-danger btn-redirect-uris-remove" role="button" type="button">
                                                        <span class="fa fa-times"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                    <li class="list-group-item">
                                        <div class="input-group">
                                            <input name="Client.RedirectUris" class="form-control" placeholder="Allowed Redirect Url"/>
                                            <div class="input-group-append">
                                                <button class="btn btn-danger btn-redirect-uris-remove" role="button" type="button">
                                                    <span class="fa fa-times"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <button class="btn btn-primary btn-redirect-uris-add" role="button" type="button">
                                            <span class="fa fa-plus"></span> Add Redirect Uri
                                        </button>
                                    </li>
                                </ul>
                                <span asp-validation-for="Client.RedirectUris" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Client.PostLogoutRedirectUris" class="control-label"></label>*
                                <ul class="list-group">
                                    @foreach (var redirecturi in Model.Client.PostLogoutRedirectUris)
                                    {
                                        <li class="list-group-item">
                                            <div class="input-group">
                                                <input asp-for="Client.PostLogoutRedirectUris" class="form-control" value="@redirecturi" placeholder="Allowed Post Logout Redirect Url"/>
                                                <div class="input-group-append">
                                                    <button class="btn btn-danger btn-redirect-uris-remove" role="button" type="button">
                                                        <span class="fa fa-times"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                    <li class="list-group-item">
                                        <div class="input-group">
                                            <input name="Client.PostLogoutRedirectUris" class="form-control" placeholder="Allowed Post Logout Redirect Url"/>
                                            <div class="input-group-append">
                                                <button class="btn btn-danger btn-redirect-uris-remove" role="button" type="button">
                                                    <span class="fa fa-times"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <button class="btn btn-primary btn-post-logout-redirect-uris-add" role="button" type="button">
                                            <span class="fa fa-plus"></span> Add Post Logout Redirect Uri
                                        </button>
                                    </li>
                                </ul>

                                <span asp-validation-for="Client.PostLogoutRedirectUris" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Client.Permissions" class="control-label"></label>
                        <select multiple asp-for="Client.Permissions" asp-items="Model.Permissions" class="form-control" style="height: 300px"></select>

                        <div style="display: none" id="permissions-ui-js">
                            <ul  class="list-group">
                                @foreach (var x in Model.Permissions.GroupBy(item => item.Group))
                                {
                                    <li  class="list-group-item"><h3>@x.Key.Name</h3></li>
                                                                            
                                                                            
                                   foreach (var y in x)
                                    {
                                        <li  class="list-group-item">
                                            <div class="form-check">
                                                <input class="form-check-input cb-permissions" type="checkbox" asp-for="@y.Selected" data-key="@y.Value" >
                                                <label class="form-check-label" asp-for="@y" >
                                                    @y.Text
                                                </label>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                            
                        </div>
                        <span asp-validation-for="Client.Permissions" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <input type="submit" class="btn btn-primary"/>
                    </div>
                </form>
                <a asp-page="./Index">Back to List</a>
            </div>
        </div>
    </div>
</section>

@functions{


    [Authorize]
    public class EditClient : PageModel
    {
        private readonly OpenIddictApplicationManager<OpenIddictApplication> _applicationManager;

        [BindProperty]
        public OpenIddictApplicationDescriptor Client { get; set; }

        public List<SelectListItem> Permissions = new List<SelectListItem>();

        [BindProperty(SupportsGet = true)]
        public string Id { get; set; }

        [BindProperty(SupportsGet = true)]
        public string StatusMessage { get; set; }

        public EditClient(OpenIddictApplicationManager<OpenIddictApplication> applicationManager)
        {
            _applicationManager = applicationManager;
            PopulatePermissions();
        }

        public async Task<IActionResult> OnGetAsync()
        {
            Client = new OpenIddictApplicationDescriptor();
            if (string.IsNullOrEmpty(Id)) return Page();
            var application = await _applicationManager.FindByIdAsync(Id);

            if (application == null)
            {
                return NotFound();
            }
            await _applicationManager.PopulateAsync(Client, application);
            return Page();
        }


        private async Task<OpenIddictApplication> ValidateApplication()
        {
            if (string.IsNullOrEmpty(Id))
            {
                Client.ClientId = Guid.NewGuid().ToString();
            }

    //Sanitize list inputs
            Client.RedirectUris.Remove(null);
            Client.PostLogoutRedirectUris.Remove(null);
            Client.ConsentType = OpenIddictConstants.ConsentTypes.Implicit;
            var application = new OpenIddictApplication();
            await _applicationManager.PopulateAsync(application, Client);

            var permissions = (await _applicationManager.GetPermissionsAsync(application)).ToList();

            ComputeClientType(permissions, application);

            if (application.Type == OpenIddictConstants.ClientTypes.Public)
            {
                application.ClientSecret = null;
            }
            else if (string.IsNullOrEmpty(application.ClientSecret))
            {
                application.ClientSecret = Guid.NewGuid().ToString();
            }
            await ValidateUrlArray("Client.RedirectUris", await _applicationManager.GetRedirectUrisAsync(application));

            await ValidateUrlArray("Client.PostLogoutRedirectUris", await _applicationManager.GetPostLogoutRedirectUrisAsync(application));


            if (permissions.Contains(OpenIddictConstants.Permissions.GrantTypes.AuthorizationCode))
            {
                if (!permissions.Contains(OpenIddictConstants.Permissions.Endpoints.Authorization))
                {
                    permissions.Add(OpenIddictConstants.Permissions.Endpoints.Authorization);
                }
                if (!permissions.Contains(OpenIddictConstants.Permissions.Endpoints.Token))
                {
                    permissions.Add(OpenIddictConstants.Permissions.Endpoints.Token);
                }
            }

            if (permissions.Contains(OpenIddictConstants.Permissions.GrantTypes.Implicit))
            {
                if (!permissions.Contains(OpenIddictConstants.Permissions.Endpoints.Authorization))
                {
                    permissions.Add(OpenIddictConstants.Permissions.Endpoints.Authorization);
                }
                if (!permissions.Contains(OpenIddictConstants.Permissions.Endpoints.Token))
                {
                    permissions.Add(OpenIddictConstants.Permissions.Endpoints.Token);
                }
            }
            if (permissions.Contains(OpenIddictConstants.Permissions.GrantTypes.ClientCredentials))
            {
                if (!permissions.Contains(OpenIddictConstants.Permissions.Endpoints.Token))
                {
                    permissions.Add(OpenIddictConstants.Permissions.Endpoints.Token);
                }
            }
            if (permissions.Contains(OpenIddictConstants.Permissions.GrantTypes.RefreshToken))
            {
                if (!permissions.Contains(OpenIddictConstants.Permissions.Endpoints.Token))
                {
                    permissions.Add(OpenIddictConstants.Permissions.Endpoints.Token);
                }
                if (!permissions.Contains(OpenIddictConstants.Scopes.OfflineAccess))
                {
                    permissions.Add(OpenIddictConstants.Scopes.OfflineAccess);
                }
            }
            else
            {
                permissions.Remove(OpenIddictConstants.Scopes.OfflineAccess);
            }
            if (permissions.Contains(OpenIddictConstants.Permissions.GrantTypes.Password))
            {
                if (!permissions.Contains(OpenIddictConstants.Permissions.Endpoints.Token))
                {
                    permissions.Add(OpenIddictConstants.Permissions.Endpoints.Token);
                }
            }
            await _applicationManager.PopulateAsync(Client, application);
            return application;
        }

        private void ComputeClientType(List<string> permissions, OpenIddictApplication application)
        {
            var privateMethods = false;
            var publicMethods = false;
            if (permissions.Contains(OpenIddictConstants.Permissions.GrantTypes.AuthorizationCode) ||
                permissions.Contains(OpenIddictConstants.Permissions.GrantTypes.ClientCredentials))
            {
                privateMethods = true;
            }

            if (permissions.Contains(OpenIddictConstants.Permissions.GrantTypes.Implicit) ||
                permissions.Contains(OpenIddictConstants.Permissions.GrantTypes.RefreshToken) ||
                permissions.Contains(OpenIddictConstants.Permissions.GrantTypes.Password))
            {
                publicMethods = true;
            }

            application.Type = publicMethods && privateMethods ? OpenIddictConstants.ClientTypes.Hybrid :
                publicMethods && !privateMethods ? OpenIddictConstants.ClientTypes.Public :
                    OpenIddictConstants.ClientTypes.Confidential;
        }


        public async Task<IActionResult> OnPostAsync()
        {
            if (!ModelState.IsValid)
            {
                return Page();
            }
            try
            {
                var application = await ValidateApplication();
                if (ModelState.ErrorCount > 0)
                {
                    await _applicationManager.PopulateAsync(Client, application);
                    return Page();
                }

                if (!string.IsNullOrEmpty(Id))
                {
                    await _applicationManager.UpdateAsync(application);

                    StatusMessage = "Client saved successfully";

                    return Page();
                }
                await _applicationManager.CreateAsync(application);

                await _applicationManager.PopulateAsync(Client, application);
                return RedirectToPage("./Edit", new {Id = application.Id, StatusMessage = "Client Created successfully"});
            }
            catch (Exception e)
            {
                ModelState.AddModelError("", e.Message);
                return Page();
            }
        }


        private async Task ValidateUrlArray(string key, IEnumerable<string> uris)
        {
            var errors = new List<string>();

            foreach (var uri in uris)
            {
                if (string.IsNullOrEmpty(uri) && !errors.Contains("Callback URLs cannot be null or empty."))
                {
                    errors.Add("Callback URLs cannot be null or empty.");
                    continue;
                }
                if (!Uri.TryCreate(uri, UriKind.Absolute, out var result) || !result.IsWellFormedOriginalString())
                {
                    if (!errors.Contains("Callback URLs must be valid absolute URLs."))
                    {
                        errors.Add("Callback URLs must be valid absolute URLs.");
                    }
                    continue;
                }
                if (!string.IsNullOrEmpty(result.Fragment) && !errors.Contains("Callback URLs cannot contain a fragment."))
                {
                    errors.Add("Callback URLs cannot contain a fragment.");
                }
            }

            errors.ForEach(s => ModelState.AddModelError(key, s));
        }

        private void PopulatePermissions()
        {
            var grantTypeGroup = new SelectListGroup
            {
                Name = "Grant Types"
            };
            var endpointsGroup = new SelectListGroup
            {
                Name = "Endpoints"
            };
            var scopesGroup = new SelectListGroup
            {
                Name = "Scopes"
            };

            Permissions = new List<SelectListItem>()
            {
                new SelectListItem()
                {
                    Value = OpenIddictConstants.Permissions.GrantTypes.Implicit,
                    Text = nameof(OpenIddictConstants.Permissions.GrantTypes.Implicit),
                    Group = grantTypeGroup
                },
                new SelectListItem()
                {
                    Value = OpenIddictConstants.Permissions.GrantTypes.Password,
                    Text = nameof(OpenIddictConstants.Permissions.GrantTypes.Password),
                    Group = grantTypeGroup
                },
                new SelectListItem()
                {
                    Value = OpenIddictConstants.Permissions.GrantTypes.AuthorizationCode,
                    Text = nameof(OpenIddictConstants.Permissions.GrantTypes.AuthorizationCode),
                    Group = grantTypeGroup
                },
                new SelectListItem()
                {
                    Value = OpenIddictConstants.Permissions.GrantTypes.ClientCredentials,
                    Text = nameof(OpenIddictConstants.Permissions.GrantTypes.ClientCredentials),
                    Group = grantTypeGroup
                },
                new SelectListItem()
                {
                    Value = OpenIddictConstants.Permissions.GrantTypes.RefreshToken,
                    Text = nameof(OpenIddictConstants.Permissions.GrantTypes.RefreshToken),
                    Group = grantTypeGroup
                },
                new SelectListItem()
                {
                    Value = OpenIddictConstants.Permissions.GrantTypes.Implicit,
                    Text = nameof(OpenIddictConstants.Permissions.GrantTypes.Implicit),
                    Group = grantTypeGroup
                },
                new SelectListItem()
                {
                    Value = OpenIddictConstants.Permissions.Endpoints.Authorization,
                    Text = nameof(OpenIddictConstants.Permissions.Endpoints.Authorization),
                    Group = endpointsGroup
                },
                new SelectListItem()
                {
                    Value = OpenIddictConstants.Permissions.Endpoints.Introspection,
                    Text = nameof(OpenIddictConstants.Permissions.Endpoints.Introspection),
                    Group = endpointsGroup
                },
                new SelectListItem()
                {
                    Value = OpenIddictConstants.Permissions.Endpoints.Logout,
                    Text = nameof(OpenIddictConstants.Permissions.Endpoints.Logout),
                    Group = endpointsGroup
                },
                new SelectListItem()
                {
                    Value = OpenIddictConstants.Permissions.Endpoints.Revocation,
                    Text = nameof(OpenIddictConstants.Permissions.Endpoints.Revocation),
                    Group = endpointsGroup
                },
                new SelectListItem()
                {
                    Value = OpenIddictConstants.Permissions.Endpoints.Token,
                    Text = nameof(OpenIddictConstants.Permissions.Endpoints.Token),
                    Group = endpointsGroup
                },
                new SelectListItem()
                {
                    Value = OpenIddictConstants.Permissions.Scopes.Address,
                    Text = nameof(OpenIddictConstants.Permissions.Scopes.Address),
                    Group = scopesGroup
                },
                new SelectListItem()
                {
                    Value = OpenIddictConstants.Permissions.Scopes.Email,
                    Text = nameof(OpenIddictConstants.Permissions.Scopes.Email),
                    Group = scopesGroup
                },
                new SelectListItem()
                {
                    Value = OpenIddictConstants.Permissions.Scopes.Phone,
                    Text = nameof(OpenIddictConstants.Permissions.Scopes.Phone),
                    Group = scopesGroup
                },
                new SelectListItem()
                {
                    Value = OpenIddictConstants.Permissions.Scopes.Profile,
                    Text = nameof(OpenIddictConstants.Permissions.Scopes.Profile),
                    Group = scopesGroup
                },
                new SelectListItem()
                {
                    Value = OpenIddictConstants.Permissions.Scopes.Roles,
                    Text = nameof(OpenIddictConstants.Permissions.Scopes.Roles),
                    Group = scopesGroup
                },
                new SelectListItem()
                {
                    Value = OpenIddictConstants.Scopes.OfflineAccess,
                    Text = nameof(OpenIddictConstants.Scopes.OfflineAccess),
                    Group = scopesGroup
                },
                new SelectListItem()
                {
                    Value = OpenIddictConstants.Scopes.OpenId,
                    Text = nameof(OpenIddictConstants.Scopes.OpenId),
                    Group = scopesGroup
                }
            };
        }
    }

}
