@model BTCPayServer.Abstractions.Form.Field
@{
	var isInvalid = ViewContext.ModelState[Model.Name]?.ValidationState is Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid;
	var errors = isInvalid ? ViewContext.ModelState[Model.Name].Errors : null;
}
<div class="form-group">
    <label class="form-label" for="@Model.Name"@(Model.Required ? " data-required" : "")>
        @Model.Label
    </label>
    <input class="form-control @(errors is null ? "" : "is-invalid")" id="@Model.Name" type="@Model.Type" required="@Model.Required" name="@Model.Name" value="@Model.Value" aria-describedby="@($"HelpText-{Model.Name}")"/>
	@if (isInvalid)
	{
	    @foreach (var error in errors)
	    {
	        <span class="invalid-feedback">@error.ErrorMessage</span>
	    }
	}
    @if (!string.IsNullOrEmpty(Model.HelpText))
    {
        <div id="@($"HelpText-{Model.Name}")" class="form-text">@Model.HelpText</div>
    }
</div>
