@using BTCPayServer.Services.PaymentRequests
@model BTCPayServer.Models.PaymentRequestViewModels.ListPaymentRequestsViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Payment Requests";
}
<section>
    <div class="container">
        <partial name="_StatusMessage" />

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h2 class="mb-0">
                @ViewData["Title"]
                <small>
                    <a href="https://docs.btcpayserver.org/PaymentRequests/" class="ml-1" target="_blank">
                        <span class="fa fa-question-circle-o text-secondary" title="More information..."></span>
                    </a>
                </small>
            </h2>
            <a asp-action="EditPaymentRequest" class="btn btn-primary mt-3 mt-sm-0" role="button" id="CreatePaymentRequest">
                <span class="fa fa-plus"></span>
                Create a payment request
            </a>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 mb-3 ml-auto">
                <form asp-action="GetPaymentRequests" method="get">
                    <input type="hidden" asp-for="Count"/>
                    <input type="hidden" asp-for="TimezoneOffset" />
                    <div class="input-group">
                        <input asp-for="SearchTerm" class="form-control" style="width:300px;"/>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary" title="Search invoice">
                                <span class="fa fa-search"></span> Search
                            </button>
                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" asp-action="GetPaymentRequests" asp-route-count="@Model.Count" asp-route-searchTerm="includearchived:true">Include Archived Payment Reqs</a>
                                <div role="separator" class="dropdown-divider"></div>
                                <a class="dropdown-item" href="?searchTerm=">Unfiltered</a>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="SearchTerm" class="text-danger"></span>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                @if (Model.Total > 0)
                {
                    <table class="table table-sm table-responsive-md">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Expiry</th>
                                <th class="text-right">Price</th>
                                <th class="text-right">Status</th>
                                <th class="text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>@item.Title</td>
                                    <td>@(item.ExpiryDate?.ToString("g") ?? "No Expiry")</td>
                                    <td class="text-right">@item.Amount @item.Currency</td>
                                    <td class="text-right">@item.Status</td>
                                    <td class="text-right">
                                        <a asp-action="EditPaymentRequest" asp-route-id="@item.Id">Edit</a>
                                        <span> - </span>
                                        <a asp-action="ViewPaymentRequest" asp-route-id="@item.Id">View</a>
                                        <span> - </span>
                                        <a target="_blank" asp-action="ListInvoices" asp-controller="Invoice" asp-route-searchterm="@($"orderid:{PaymentRequestRepository.GetOrderIdForPaymentRequest(item.Id)}")">Invoices</a>
                                        <span> - </span>
                                        <a target="_blank" asp-action="PayPaymentRequest" asp-route-id="@item.Id">Pay</a>
                                        <span> - </span>
                                        <a target="_blank" asp-action="ClonePaymentRequest" asp-route-id="@item.Id">Clone</a>
                                        <span> - </span>
                                        <a asp-action="TogglePaymentRequestArchival" asp-route-id="@item.Id">@(item.Archived ? "Unarchive" : "Archive")</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <vc:pager view-model="Model"></vc:pager>
                }
                else
                {
                    <p class="text-secondary mt-3">
                        There are no payment requests matching your criteria.
                    </p>
                }
            </div>
        </div>
    </div>
</section>
