@using BTCPayServer.Forms
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject BTCPayServer.Security.ContentSecurityPolicies Csp
@model BTCPayServer.Forms.ModifyForm
@{
    Csp.UnsafeEval();
    var formId = Context.GetRouteValue("id");
    var isNew = formId is null;
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData["NavPartialName"] = "../UIStores/_Nav";
    ViewData.SetActivePage(StoreNavPages.Forms, $"{(isNew ? "Create" : "Edit")} Form", Model.Name);
    var storeId = Context.GetCurrentStoreId();
}

@section PageFootContent {
    <template id="form-template-email">
        @FormDataService.StaticFormEmail
    </template>
    <template id="form-template-address">
        @FormDataService.StaticFormAddress
    </template>
    <template id="fields-editor">
        <div class="fields" v-sortable="{ handle: '.handle', onUpdate (event) { $emit('sort-fields', event, this.el.__vue__.$options.propsData.path) } }">
            <div v-for="(field, index) in fields" :key="field.name" class="d-flex align-items-center gap-3">
                <div class="field flex-grow-1">
                    <component :is="getFieldComponent(field.type)" v-bind="field" :path="path.concat(field.name)" v-on="$listeners" />
                </div>
                <button type="button" class="btn btn-outline-danger p-1" v-on:click="$emit('remove-field', $event, path, index)">
                    <vc:icon symbol="close" />
                </button>
                <span class="handle">
                    MOV
                </span>
            </div>
        </div>
    </template>
    <template id="field-type-input">
        <div class="form-group">
            <label class="form-label" :for="name" :data-required="required" v-text="label"></label>
            <input class="form-control" :id="name" :name="name" :type="type" v-model="value" />
            <div v-if="helpText" :id="`HelpText-{name}`" class="form-text" v-text="helpText"></div>
        </div>
    </template>
    <template id="field-type-textarea">
        <div class="form-group">
            <label class="form-label" :for="name" :data-required="required" v-text="label"></label>
            <textarea class="form-control" :id="name" :name="name" :id="name" :name="name" v-model="value"></textarea>
            <div v-if="helpText" :id="`HelpText-${name}`" class="form-text" v-text="helpText"></div>
        </div>
    </template>
    <template id="field-type-select">
        <div class="form-group">
            <label class="form-label" :for="name" :data-required="required" v-text="label"></label>
            <select class="form-select" :id="name" :name="name">
                <option v-for="option in options" :key="option.value" :value="option.value" v-text="option.text"></option>
            </select>
            <div v-if="helpText" :id="`HelpText-${name}`" class="form-text" v-text="helpText"></div>
        </div>
    </template>
    <template id="field-type-fieldset">
        <fieldset>
            <legend class="h3 mt-4 mb-3" v-text="label"></legend>
            <fields-editor :path="path" :fields="fields" v-on="$listeners" />
        </fieldset>
    </template>
    <script src="~/vendor/vuejs/vue.min.js" asp-append-version="true"></script>
    <script src="~/vendor/vue-sortable/sortable.min.js" asp-append-version="true"></script>
    <script src="~/vendor/vue-sortable/vue-sortable.js" asp-append-version="true"></script>
    <script src="~/js/form-editor.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
}

<form method="post" asp-action="Modify" asp-route-id="@formId" asp-route-storeId="@storeId">
    <div class="row">
        <div class="col-xl-8 col-xxl-constrain">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h3 class="mb-0">
                    <span>@ViewData["Title"]</span>
                    <a href="https://docs.btcpayserver.org/Forms" target="_blank" rel="noreferrer noopener" title="More information...">
                        <vc:icon symbol="info" />
                    </a>
                </h3>
                <div class="d-flex gap-3 mt-3 mt-sm-0">
                    <button type="submit" class="btn btn-primary order-sm-1" id="SaveButton">Save</button>
                    @if (!isNew)
                    {
                        <a class="btn btn-secondary" asp-action="ViewPublicForm" asp-route-formId="@formId" id="ViewForm">View</a>
                    }
                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="form-label" data-required></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="d-flex align-items-center mb-4 gap-3">
                <input asp-for="Public" type="checkbox" class="btcpay-toggle" />
                <div>
                    <label asp-for="Public"></label>
                    <div class="form-text" style="max-width:27rem">
                        Standalone mode, which can be used to generate invoices
                        independent of payment requests or apps.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="FormEditor">
        <div class="row mb-3">
            <div class="col-lg-7">
                <fields-editor :path="[]" :fields="fields" class="bg-tile p-3"
                               v-on:sort-fields="sortFields"
                               v-on:remove-field="removeField" />
            </div>
            <div class="col-lg-5">
                <div class="bg-tile">
                    TODO: Field Editor
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="d-flex align-items-center justify-content-between gap-3">
                <label asp-for="FormConfig" class="form-label" data-required></label>
                <div class="d-flex align-items-center gap-2 mb-2">
                    <span>Templates:</span>
                    <button type="button" class="btn btn-link p-0" v-on:click="applyTemplate('email')">Email</button>
                    <button type="button" class="btn btn-link p-0" v-on:click="applyTemplate('address')">Address</button>
                </div>
            </div>
            <textarea asp-for="FormConfig" class="form-control" rows="10" cols="21" v-model="configJSON" v-on:change="updateFromJSON"></textarea>
            <span asp-validation-for="FormConfig" class="text-danger"></span>
        </div>
    </div>
</form>
