@using BTCPayServer.Forms
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject BTCPayServer.Security.ContentSecurityPolicies Csp
@model BTCPayServer.Forms.ModifyForm
@{
    Csp.UnsafeEval();
    var formId = Context.GetRouteValue("id");
    var isNew = formId is null;
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData["NavPartialName"] = "../UIStores/_Nav";
    ViewData.SetActivePage(StoreNavPages.Forms, $"{(isNew ? "Create" : "Edit")} Form", Model.Name);
    var storeId = Context.GetCurrentStoreId();
}

@section PageHeadCOntent {
    <style>
        #FormEditor .list-group-item:not(.active) { background: none; }
        #FormEditor .list-group-flush .list-group-flush { margin-left: -1rem; }
        #FormEditor .controls button { color: var(--btcpay-body-text-muted); border: none !important; padding: 0 var(--btcpay-space-xs); }
        #FormEditor .controls .drag:hover { color: var(--btcpay-body-text-active); }
        #FormEditor .controls .remove:hover { color: var(--btcpay-danger); }
        #FormEditor .field .form-group:last-child { margin-bottom: 0; }
    </style>
}

@section PageFootContent {
    <template id="form-template-email">
        @FormDataService.StaticFormEmail
    </template>
    <template id="form-template-address">
        @FormDataService.StaticFormAddress
    </template>
    <template id="field-editor">
        <div class="field" v-if="field">
            <div class="form-group">
                <label for="field-editor-field-type" class="form-label" data-required>Type</label>
                <select id="field-editor-field-type" class="form-select" required v-model="field.type">
                    <option v-for="option in fieldTypeOptions" :key="option" :value="option" v-text="option.charAt(0).toUpperCase() + option.slice(1)"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="field-editor-field-label" class="form-label" data-required>Label</label>
                <input id="field-editor-field-label" class="form-control" required v-model="field.label" />
            </div>
            <div class="form-group">
                <label for="field-editor-field-name" class="form-label" data-required>Name</label>
                <input id="field-editor-field-name" class="form-control" required v-model="field.name" />
                <div class="form-text">The name of the field in the invoice's metadata</div>
            </div>
            <div class="form-group" v-if="field.type === 'select'">
                <h5 class="mt-2">Options</h5>
                <div class="options" v-sortable="{ handle: '.drag', onUpdate: sortOptions }">
                    <div v-for="(option, index) in field.options" :key="option.value" class="d-flex align-items-start gap-3 pt-3">
                        <div class="field flex-grow-1">
                            <label :for="`field-option-value-${index}`" class="form-label">Default</label>
                            <input :for="`field-option-value-${index}`" class="form-control" v-model="option.value" />
                        </div>
                        <div class="field flex-grow-1">
                            <label :for="`field-option-text-${index}`" class="form-label">Text</label>
                            <input :for="`field-option-text-${index}`" class="form-control" v-model="option.text" />
                        </div>
                        <div class="controls d-flex align-items-center gap-1">
                            <button type="button" class="btn b-0 remove" v-on:click="removeOption($event, index)">
                                <vc:icon symbol="trash" />
                            </button>
                            <button type="button" class="btn b-0 drag">
                                <vc:icon symbol="drag" />
                            </button>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-link px-1 py-2 gap-1 add fw-semibold d-inline-flex align-items-center" v-on:click.stop="addOption($event)">
                    <vc:icon symbol="new" />
                    Add option
                </button>
            </div>
            <div class="form-group" v-if="field.type !== 'fieldset'">
                <label for="field-editor-field-value" class="form-label">Value</label>
                <input id="field-editor-field-value" class="form-control" v-model="field.value" />
                <div class="form-text">The default value of the field</div>
            </div>
            <div class="form-group form-check" v-if="field.type !== 'fieldset'">
                <input id="field-editor-field-required" type="checkbox" class="form-check-input" v-model="field.required" />
                <label for="field-editor-field-required" class="form-check-label">Required Field</label>
            </div>
            <div class="form-group form-check" v-if="field.type !== 'fieldset' && field.type !== 'select'">
                <input id="field-editor-field-constant" type="checkbox" class="form-check-input" v-model="field.constant" />
                <label for="field-editor-field-constant" class="form-check-label">Constant</label>
                <div class="form-text">The user will not be able to change the field's value</div>
            </div>
            <div class="form-group" v-if="field.type !== 'fieldset'">
                <label for="field-editor-field-helpText" class="form-label">Helper Text</label>
                <input id="field-editor-field-helpText" class="form-control" v-model="field.helpText" />
                <div class="form-text">Additional text to provide an explanation for the field</div>
            </div>
        </div>
        <div v-else>Select a field to edit</div>
    </template>
    <template id="fields-editor">
        <div>
            <div class="fields list-group" :data-path="path.join(',')" v-sortable="{ handle: '.drag', onUpdate (event) { const { path } = this.el.dataset; $emit('sort-fields', event, (path.indexOf(',') !== -1 ? path.split(',') : [])) } }">
                <div v-for="(field, index) in fields" :key="field.name" class="d-flex align-items-start gap-3 py-3 list-group-item" :class="{ active: field === selectedField }" v-on:click.stop="$emit('select-field', $event, path, index)">
                    <div class="field flex-grow-1">
                        <component :is="getFieldComponent(field.type)" v-bind="field" :path="path.concat(field.name)" :selected-field="selectedField" v-on="$listeners" />
                    </div>
                    <div class="controls d-flex align-items-center gap-1">
                        <button type="button" class="btn b-0 remove" v-on:click="$emit('remove-field', $event, path, index)">
                            <vc:icon symbol="trash" />
                        </button>
                        <button type="button" class="btn b-0 drag">
                            <vc:icon symbol="drag" />
                        </button>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-link px-0 py-3 gap-1 add fw-semibold d-inline-flex align-items-center" v-on:click.stop="$emit('add-field', $event, path)">
                <vc:icon symbol="new" />
                Add form element
            </button>
        </div>
    </template>
    <template id="field-type-input">
        <div class="form-group mb-0">
            <label class="form-label" :for="name" :data-required="required" v-text="label"></label>
            <input class="form-control" :id="name" :name="name" :type="type" v-model="value" />
            <div v-if="helpText" :id="`HelpText-{name}`" class="form-text" v-text="helpText"></div>
        </div>
    </template>
    <template id="field-type-textarea">
        <div class="form-group mb-0">
            <label class="form-label" :for="name" :data-required="required" v-text="label"></label>
            <textarea class="form-control" :id="name" :name="name" v-model="value"></textarea>
            <div v-if="helpText" :id="`HelpText-${name}`" class="form-text" v-text="helpText"></div>
        </div>
    </template>
    <template id="field-type-select">
        <div class="form-group mb-0">
            <label class="form-label" :for="name" :data-required="required" v-text="label"></label>
            <select class="form-select" :id="name" :name="name">
                <option v-for="option in options" :key="option.value" :value="option.value" v-text="option.text"></option>
            </select>
            <div v-if="helpText" :id="`HelpText-${name}`" class="form-text" v-text="helpText"></div>
        </div>
    </template>
    <template id="field-type-fieldset">
        <fieldset>
            <legend class="h5 mb-3" v-text="label"></legend>
            <fields-editor :path="path" :fields="fields" :selected-field="selectedField" v-on="$listeners" />
        </fieldset>
    </template>
    <script src="~/vendor/vuejs/vue.min.js" asp-append-version="true"></script>
    <script src="~/vendor/vue-sortable/sortable.min.js" asp-append-version="true"></script>
    <script src="~/vendor/vue-sortable/vue-sortable.js" asp-append-version="true"></script>
    <script src="~/js/form-editor.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
}

<form method="post" asp-action="Modify" asp-route-id="@formId" asp-route-storeId="@storeId">
    <div class="row mb-4">
        <div class="col-12">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h3 class="mb-0">
                    <span>@ViewData["Title"]</span>
                    <a href="https://docs.btcpayserver.org/Forms" target="_blank" rel="noreferrer noopener" title="More information...">
                        <vc:icon symbol="info" />
                    </a>
                </h3>
                <div class="d-flex gap-3 mt-3 mt-sm-0">
                    <button type="submit" class="btn btn-primary order-sm-1" id="SaveButton">Save</button>
                    @if (!isNew)
                    {
                        <a class="btn btn-secondary" asp-action="ViewPublicForm" asp-route-formId="@formId" id="ViewForm">View</a>
                    }
                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group" style="max-width: 27rem;">
                <label asp-for="Name" class="form-label" data-required></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="d-flex align-items-center mb-4 gap-3">
                <input asp-for="Public" type="checkbox" class="btcpay-toggle" />
                <div>
                    <label asp-for="Public"></label>
                    <div class="form-text">
                        Standalone mode, which can be used to generate invoices
                        independent of payment requests or apps.
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="FormEditor">
        <div class="d-flex align-items-center justify-content-between gap-3 mb-3">
            <h4>Form Configuration</h4>
            <div class="d-flex align-items-center gap-2 mb-2">
                <span>Templates:</span>
                <button type="button" class="btn btn-link p-0" v-on:click="applyTemplate('email')" id="ApplyEmailTemplate">Email</button>
                <button type="button" class="btn btn-link p-0" v-on:click="applyTemplate('address')" id="ApplyAddressTemplate">Address</button>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-lg-7 mb-4 mb-lg-0">
                <fields-editor :path="[]"
                               :fields="fields"
                               :selected-field="selectedField"
                               v-on:add-field="addField"
                               v-on:sort-fields="sortFields"
                               v-on:select-field="selectField"
                               v-on:remove-field="removeField"
                               class="" />
            </div>
            <div class="col-lg-5">
                <field-editor :field="selectedField" class="bg-tile p-4 rounded" />
            </div>
        </div>
        <button type="button" class="btn btn-secondary my-4" id="ToggleRawEditor" data-bs-toggle="collapse" data-bs-target="#RawEditor" aria-expanded="false" aria-controls="RawEditor">
            Toggle JSON editor
        </button>
        <div class="form-group collapse" id="RawEditor">
            <div class="d-flex align-items-center justify-content-between gap-3">
                <label asp-for="FormConfig" class="form-label" data-required>Form JSON</label>
            </div>
            <textarea asp-for="FormConfig" class="form-control" rows="10" cols="21" v-model="configJSON" v-on:change="updateFromJSON"></textarea>
            <span asp-validation-for="FormConfig" class="text-danger"></span>
        </div>
    </div>
</form>
