@using BTCPayServer.Forms
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject BTCPayServer.Security.ContentSecurityPolicies Csp
@model BTCPayServer.Forms.ModifyForm
@{
    Csp.UnsafeEval();
    var formId = Context.GetRouteValue("id");
    var isNew = formId is null;
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData["NavPartialName"] = "../UIStores/_Nav";
    ViewData.SetActivePage(StoreNavPages.Forms, $"{(isNew ? "Create" : "Edit")} Form", Model.Name);
    var storeId = Context.GetCurrentStoreId();
}

@section PageFootContent {
    <template id="form-template-email">
	    @FormDataService.StaticFormEmail
    </template>
    <template id="form-template-address">
	    @FormDataService.StaticFormAddress
    </template>
    <script src="~/vendor/vuejs/vue.min.js" asp-append-version="true"></script>
    <script src="~/vendor/vue-sortable/sortable.min.js" asp-append-version="true"></script>
    <script src="~/vendor/vue-sortable/vue-sortable.js" asp-append-version="true"></script>
    <script src="~/js/form-editor.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial"/>
}

<form method="post" asp-action="Modify" asp-route-id="@formId" asp-route-storeId="@storeId">
    <div class="row">
        <div class="col-xl-10 col-xxl-constrain">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h3 class="mb-0">
                    <span>@ViewData["Title"]</span>
                    <a href="https://docs.btcpayserver.org/Forms" target="_blank" rel="noreferrer noopener" title="More information...">
                        <vc:icon symbol="info" />
                    </a>
                </h3>
                <div class="d-flex gap-3 mt-3 mt-sm-0">
                    <button type="submit" class="btn btn-primary order-sm-1" id="SaveButton">Save</button>
                    @if (!isNew)
                    {
                        <a class="btn btn-secondary" asp-action="ViewPublicForm" asp-route-formId="@formId" id="ViewForm">View</a>
                    }
                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="form-label" data-required></label>
                <input asp-for="Name" class="form-control" required/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="d-flex align-items-center mb-4 gap-3">
                <input asp-for="Public" type="checkbox" class="btcpay-toggle" />
                <div>
                    <label asp-for="Public"></label>
                    <div class="form-text" style="max-width:27rem">
                        Standalone mode, which can be used to generate invoices
                        independent of payment requests or apps.
                    </div>
                </div>
            </div>
            <div id="FormEditor">
                <div class="row mb-3">
                    <div class="col-lg-7">
                        <div class="fields bg-tile" v-sortable="{ handle: '.handle', onUpdate: sortFields }">
                            <div
                                v-for="(field, index) in fields" :key="field.name"
                                class="d-flex align-items-center gap-3">
                                <div class="field">
                                    {{field.name}}
                                </div>
                                <div class="controls d-flex align-items-center gap-2 ms-auto">
                                    <em class="handle">
                                        MOV
                                    </em>
                                    <button type="button" class="btn btn-outline-danger" v-on:click="removeField(index)">
                                        DEL
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="bg-tile">
                            TODO: Field Editor
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="d-flex align-items-center justify-content-between gap-3">
                        <label asp-for="FormConfig" class="form-label" data-required></label>
                        <div class="d-flex align-items-center gap-2 mb-2">
                            <span>Templates:</span>
                            <button type="button" class="btn btn-link p-0" v-on:click="applyTemplate('email')">Email</button>
                            <button type="button" class="btn btn-link p-0" v-on:click="applyTemplate('address')">Address</button>
                        </div>
                    </div>
                    <textarea asp-for="FormConfig" class="form-control" rows="10" cols="21" v-model="configJSON" v-on:change="updateFromJSON"></textarea>
                    <span asp-validation-for="FormConfig" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</form>
