@model LoginViewModel
@inject BTCPayServer.Services.BTCPayServerEnvironment env
@inject BTCPayServer.HostedServices.CssThemeManager themeManager
@{
    ViewData["Title"] = "Log in";
    Layout = "_LayoutSimple";
}

<div class="row justify-content-center mb-2">
    <div class="col text-center">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/img/btcpay-logo.svg" alt="BTCPay Server" class="mb-4" height="70" asp-append-version="true"/>
        </a>

        <h1 class="h2 mb-3">Welcome to your BTCPay&nbsp;Server</h1>

        @if (TempData.HasStatusMessage())
        {
            <partial name="_StatusMessage"/>
        }
    </div>
</div>

<div class="row justify-content-center mb-5">
    <div class="col account-form">
        <div class="modal-content border-0 p-3">
            <div class="modal-header align-items-center border-0 py-2">
                <h4 class="modal-title">Sign In</h4>
                @if (env.OnionUrl != null)
                {
                    <div class="text-center">
                        <a href="@env.OnionUrl" target="_onion" class="btn btn-sm btn-outline-onion d-inline-flex align-items-center text-nowrap p-2" data-clipboard="@env.OnionUrl">
                            <img src="~/img/icons/onion-purple.svg" height="20" class="mr-2" asp-append-version="true" />
                            Copy Tor URL
                        </a>
                    </div>
                }
            </div>
            <div class="modal-body">
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <fieldset disabled="@(ViewData.ContainsKey("disabled") ? "disabled" : null)" >
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="d-flex justify-content-between">
                                <label asp-for="Password"></label>
                                <a asp-action="ForgotPassword">Forgot password?</a>
                            </div>
                            <input asp-for="Password" class="form-control" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-primary btn-block btn-lg" id="LoginButton">Sign in</button>
                        </div>
                    </fieldset>
                </form>
                @if (themeManager.ShowRegister)
                {
                    <p class="text-center mt-2 mb-0">
                        <a id="Register" style="font-size:1.15rem" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Create your account</a>
                    </p>
                }
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col">
        <partial name="_BTCPaySupporters"/>
    </div>
</div>
