@using BTCPayServer.Client
@model PairingModel
@{
    var store = Context.GetStoreDataOrNull();
    Layout = store is null ? "_LayoutWizard" : "_Layout";
    ViewData.SetLayoutModel(new LayoutModel(nameof(StoreNavPages.Tokens), StringLocalizer["Pairing Permission"]).SetCategory(WellKnownCategories.Store));
    if (store is not null)
        ViewData.SetBreadcrumbs([
            new(StringLocalizer["Access Tokens"], Action: nameof(BTCPayServer.Plugins.Bitpay.Controllers.UIStoresTokenController.ListTokens), RouteValues: new { storeId = store.Id }),
            new(StringLocalizer["Create Token"], Action: nameof(BTCPayServer.Plugins.Bitpay.Controllers.UIStoresTokenController.CreateToken), RouteValues: new { storeId = store.Id })
        ]);
}

@if (store is null)
{
    @section Navbar {
        <button type="button" class="cancel" onclick="history.back()">
            <vc:icon symbol="cross" />
        </button>
    }
}
<form asp-action="Pair" method="post" permissioned="@Policies.CanModifyStoreSettings">
    <div class="sticky-header">
        <vc:title-header />
		<button id="page-primary" type="submit" class="btn btn-primary mt-3" title="@StringLocalizer["Approve this pairing demand"]" text-translate="true">Approve</button>
    </div>
    <partial name="_StatusMessage" />
    <div class="row">
        <div class="col-sm-8 col-md-6 @(store is null ? "mx-auto" : "")">
            <div class="settings-section">
            <table class="table table-hover mt-0 mb-3">
                <tr>
                    <th text-translate="true">Label</th>
                    <td class="text-end">@Model.Label</td>
                </tr>
                <tr>
                    <th text-translate="true">SIN</th>
                    <td class="text-end">@Model.SIN</td>
                </tr>
            </table>
            @if (store is null)
            {
                <div class="form-group mb-0">
                    <label asp-for="StoreId" class="form-label" text-translate="true">Pair To Store</label>
                    <select asp-for="StoreId" asp-items="@(new SelectList(Model.Stores, "Id", "Name"))" class="form-select"></select>
                    <span asp-validation-for="StoreId" class="text-danger"></span>
                </div>
            }
            else
            {
                <input asp-for="StoreId" type="hidden" />
            }
            <input type="hidden" name="pairingCode" value="@Model.Id"/>
            </div>
        </div>
    </div>
</form>
