@model BTCPayServer.Components.DateOptionsToggle.DateOptionsToggleModel

<div class="dropdown">
    <button id="DateOptionsToggle" class="btn btn-secondary dropdown-toggle dropdown-toggle-custom-caret" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        @if (Model.HasDateFilter)
        {
            if (Model.HasDatePreset("thismonth"))
            {
                <span text-translate="true">This month</span>
            }
            else if (Model.HasDatePreset("lastmonth"))
            {
                <span text-translate="true">Last month</span>
            }
            else if (Model.HasDatePreset("last30d"))
            {
                <span text-translate="true">Last 30 days</span>
            }
            else if (Model.HasDatePreset("thisquarter"))
            {
                <span text-translate="true">This quarter</span>
            }
            else if (Model.HasDatePreset("yeartodate"))
            {
                <span text-translate="true">Year to date</span>
            }
            else
            {
                <span text-translate="true">Custom</span>
            }
        }
        else
        {
            <span text-translate="true">All Time</span>
        }
    </button>
    <div class="dropdown-menu" aria-labelledby="DateOptionsToggle">
        @if (Model.ShowAllTime)
        {
            <a href="@Model.AllTimeUrl()" class="dropdown-item @(!Model.HasDateFilter ? "custom-active" : string.Empty)" text-translate="true">All Time</a>
            <hr class="dropdown-divider" />
        }
        <a href="@Model.DatePresetUrl("thismonth")" class="dropdown-item @(Model.HasDatePreset("thismonth") ? "custom-active" : string.Empty)" text-translate="true">This month</a>
        <a href="@Model.DatePresetUrl("lastmonth")" class="dropdown-item @(Model.HasDatePreset("lastmonth") ? "custom-active" : string.Empty)" text-translate="true">Last month</a>
        <a href="@Model.DatePresetUrl("last30d")" class="dropdown-item @(Model.HasDatePreset("last30d") ? "custom-active" : string.Empty)" text-translate="true">Last 30 days</a>
        <a href="@Model.DatePresetUrl("thisquarter")" class="dropdown-item @(Model.HasDatePreset("thisquarter") ? "custom-active" : string.Empty)" text-translate="true">This quarter</a>
        <a href="@Model.DatePresetUrl("yeartodate")" class="dropdown-item @(Model.HasDatePreset("yeartodate") ? "custom-active" : string.Empty)" text-translate="true">Year to date</a>
        <button type="button" class="dropdown-item @(Model.HasCustomDateFilter ? "custom-active" : string.Empty)" data-bs-toggle="modal" data-bs-target="#customRangeModal" text-translate="true">Custom Range</button>
    </div>
</div>

<div class="modal fade" id="customRangeModal" tabindex="-1" role="dialog" aria-labelledby="customRangeModalTitle" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 550px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customRangeModalTitle">@Model.CustomRangeTitle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@StringLocalizer["Close"]">
                    <vc:icon symbol="close" />
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="dtpStartDate" class="col-sm-3 col-form-label" text-translate="true">Start Date</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input id="dtpStartDate" class="form-control flatdtpicker" type="datetime-local"
                                   data-fdtp='{ "enableTime": true, "enableSeconds": true, "dateFormat": "Y-m-d H:i:S", "time_24hr": true, "defaultHour": 0 }'
                                   placeholder="@StringLocalizer["Start Date"]" />
                            <button type="button" class="btn btn-secondary input-group-clear" title="@StringLocalizer["Clear"]">
                                <vc:icon symbol="close" />
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dtpEndDate" class="col-sm-3 col-form-label" text-translate="true">End Date</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input id="dtpEndDate" class="form-control flatdtpicker" type="datetime-local"
                                   data-fdtp='{ "enableTime": true, "enableSeconds": true, "dateFormat": "Y-m-d H:i:S", "time_24hr": true, "defaultHour": 0 }'
                                   placeholder="@StringLocalizer["End Date"]" />
                            <button type="button" class="btn btn-secondary input-group-clear" title="@StringLocalizer["Clear"]">
                                <vc:icon symbol="close" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnCustomRangeDate" type="button" class="btn btn-primary" text-translate="true">Filter</button>
            </div>
        </div>
    </div>
</div>
