@model InvoiceDetailsModel
@{
	ViewData["Title"] = "Invoice " + Model.Id;
}

<style type="text/css">
    .overflowbox {
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<section>
	<div class="container">

		<div class="row">
			<div class="col-lg-12 text-center">
				@Html.Partial("_StatusMessage", Model.StatusMessage)
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">@ViewData["Title"]</h2>
				<hr class="primary">
				<p>Invoice details</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<h3>Information</h3>
				<table class="table">
					<tr>
						<th>Store</th>
						<td><a href="@Model.StoreLink">@Model.StoreName</a></td>
					</tr>
					<tr>
						<th>Id</th>
						<td>@Model.Id</td>
					</tr>
					<tr>
						<th>Created date</th>
						<td>@Model.CreatedDate</td>
					</tr>
					<tr>
						<th>Expiration date</th>
						<td>@Model.ExpirationDate</td>
					</tr>
					<tr>
						<th>Status</th>
						<td>@Model.Status</td>
					</tr>
					<tr>
						<th>Refund email</th>
						<td>@Model.RefundEmail</td>
					</tr>
					<tr>
						<th>Order Id</th>
						<td>@Model.OrderId</td>
					</tr>
					<tr>
						<th>Rate</th>
						<td>@Model.Rate</td>
					</tr>
					<tr>
						<th>Total fiat due</th>
						<td>@Model.Fiat</td>
					</tr>
					<tr>
						<th>Network Fee</th>
						<td>@Model.NetworkFee</td>
					</tr>
					<tr>
						<th>Total crypto due</th>
						<td>@Model.BTC</td>
					</tr>
					<tr>
						<th>Crypto due</th>
						<td>@Model.BTCDue</td>
					</tr>
					<tr>
						<th>Crypto paid</th>
						<td>@Model.BTCPaid</td>
					</tr>
					<tr>
						<th>Notification Url</th>
						<td>@Model.NotificationUrl</td>
					</tr>
					<tr>
						<th>Payment address</th>
						<td>@Model.BitcoinAddress</td>
					</tr>
					<tr>
						<th>Payment Url</th>
						<td class="overflowbox"><a href="@Model.PaymentUrl">@Model.PaymentUrl</a></td>
					</tr>
				</table>
			</div>

			<div class="col-md-6">
				<h3>Buyer information</h3>
				<table class="table">
					<tr>
						<th>Name
						<th>
						<td>@Model.BuyerInformation.BuyerName</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>@Model.BuyerInformation.BuyerEmail</td>
					</tr>
					<tr>
						<th>Phone</th>
						<td>@Model.BuyerInformation.BuyerPhone</td>
					</tr>
					<tr>
						<th>Address 1</th>
						<td>@Model.BuyerInformation.BuyerAddress1</td>
					</tr>
					<tr>
						<th>Address 2</th>
						<td>@Model.BuyerInformation.BuyerAddress2</td>
					</tr>
					<tr>
						<th>City</th>
						<td>@Model.BuyerInformation.BuyerCity</td>
					</tr>
					<tr>
						<th>State</th>
						<td>@Model.BuyerInformation.BuyerState</td>
					</tr>
					<tr>
						<th>Country</th>
						<td>@Model.BuyerInformation.BuyerCountry</td>
					</tr>
					<tr>
						<th>Zip</th>
						<td>@Model.BuyerInformation.BuyerZip</td>
					</tr>
				</table>

				<h3>Product information</h3>
				<table class="table">
					<tr>
						<th>Item code</th>
						<td>@Model.ProductInformation.ItemCode</td>
					</tr>
					<tr>
						<th>Item Description</th>
						<td>@Model.ProductInformation.ItemDesc</td>
					</tr>
					<tr>
						<th>Price</th>
						<td>@Model.ProductInformation.Price @Model.ProductInformation.Currency</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3>Payments</h3>
				<div class="form-group">
					<form asp-action="Invoice" method="post">
						<button type="submit" name="command" class="btn btn-success" value="refresh" title="Refresh State">
							Refresh state
						</button>
					</form>
				</div>
				<table class="table">
					<thead class="thead-inverse">
						<tr>
							<th>Date</th>
							<th>Deposit address</th>
							<th>Transaction Id</th>
							<th>Confirmations</th>
						</tr>
					</thead>
					<tbody>
						@foreach(var payment in Model.Payments)
						{
							<tr>
								<td>@payment.ReceivedTime</td>
								<td>@payment.DepositAddress</td>
								<td><a href="@payment.TransactionLink" target="_blank">@payment.TransactionId</a></td>
								<td>@payment.Confirmations</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>