@model InvoiceDetailsModel
@{
    ViewData["Title"] = "Invoice " + Model.Id;
}

<style type="text/css">
    .overflowbox {
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<section>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                @Html.Partial("_StatusMessage", Model.StatusMessage)
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewData["Title"]</h2>
                <hr class="primary">
                <p>Invoice details</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>Information</h3>
                <table class="table">
                    <tr>
                        <th>Store</th>
                        <td><a href="@Model.StoreLink">@Model.StoreName</a></td>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <td>@Model.Id</td>
                    </tr>
                    <tr>
                        <th>Created date</th>
                        <td>@Model.CreatedDate</td>
                    </tr>
                    <tr>
                        <th>Expiration date</th>
                        <td>@Model.ExpirationDate</td>
                    </tr>
                    <tr>
                        <th>Monitoring date</th>
                        <td>@Model.MonitoringDate</td>
                    </tr>
                    <tr>
                        <th>Transaction speed</th>
                        <td>@Model.TransactionSpeed</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>@Model.Status</td>
                    </tr>
                    <tr>
                        <th>Status Exception</th>
                        <td>@Model.StatusException</td>
                    </tr>
                    <tr>
                        <th>Refund email</th>
                        <td>@Model.RefundEmail</td>
                    </tr>
                    <tr>
                        <th>Order Id</th>
                        <td>@Model.OrderId</td>
                    </tr>
                    <tr>
                        <th>Total fiat due</th>
                        <td>@Model.Fiat</td>
                    </tr>
                    <tr>
                        <th>Notification Url</th>
                        <td>@Model.NotificationUrl</td>
                    </tr>
                    <tr>
                        <th>Redirect Url</th>
                        <td>@Model.RedirectUrl</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6">
                <h3>Buyer information</h3>
                <table class="table">
                    <tr>
                        <th>Name
                        <th>
                        <td>@Model.BuyerInformation.BuyerName</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>@Model.BuyerInformation.BuyerEmail</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>@Model.BuyerInformation.BuyerPhone</td>
                    </tr>
                    <tr>
                        <th>Address 1</th>
                        <td>@Model.BuyerInformation.BuyerAddress1</td>
                    </tr>
                    <tr>
                        <th>Address 2</th>
                        <td>@Model.BuyerInformation.BuyerAddress2</td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>@Model.BuyerInformation.BuyerCity</td>
                    </tr>
                    <tr>
                        <th>State</th>
                        <td>@Model.BuyerInformation.BuyerState</td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>@Model.BuyerInformation.BuyerCountry</td>
                    </tr>
                    <tr>
                        <th>Zip</th>
                        <td>@Model.BuyerInformation.BuyerZip</td>
                    </tr>
                </table>

                <h3>Product information</h3>
                <table class="table">
                    <tr>
                        <th>Item code</th>
                        <td>@Model.ProductInformation.ItemCode</td>
                    </tr>
                    <tr>
                        <th>Item Description</th>
                        <td>@Model.ProductInformation.ItemDesc</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>@Model.ProductInformation.Price @Model.ProductInformation.Currency</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Paid summary</h3>
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th style="white-space:nowrap;">Payment method</th>
                            <th>Rate</th>
                            <th>Paid</th>
                            <th>Due</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var payment in Model.CryptoPayments)
                    {
                        <tr>
                            <td>@payment.PaymentMethod</td>
                            <td style="text-align:right;">@payment.Rate</td>
                            <td>@payment.Paid</td>
                            <td>@payment.Due</td>
                            <td>@payment.Address</td>
                        </tr>
                }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Payments</h3>
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th style="white-space:nowrap;">Payment method</th>
                            <th>Deposit address</th>
                            <th>Transaction Id</th>
                            <th>Confirmations</th>
                            <th>Replaced</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var payment in Model.Payments)
                    {
                        <tr>
                            <td>@payment.PaymentMethod</td>
                            <td>@payment.DepositAddress</td>
                            <td><a href="@payment.TransactionLink" target="_blank">@payment.TransactionId</a></td>
                            <td>@payment.Confirmations</td>
                            <td>@payment.Replaced</td>
                        </tr>
                }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Addresses</h3>
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th style="white-space:nowrap;">Payment method</th>
                            <th>Address</th>
                            <th>Current</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var address in Model.Addresses)
                    {
                        <tr>
                            <td style="width:100px;">@address.PaymentMethod</td>
                            <td style="max-width:100px;overflow:hidden;">@address.Destination</td>
                            <td>@address.Current.ToString()</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Events</h3>
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Date</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var evt in Model.Events)
                        {
                            <tr>
                                <td>@evt.Timestamp</td>
                                <td>@evt.Message</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
