@addTagHelper *, BundlerMinifier.TagHelpers
@inject BTCPayServer.HostedServices.CssThemeManager themeManager
@model BTCPayServer.Models.AppViewModels.ViewCrowdfundViewModel
@{
    ViewData["Title"] = Model.Title;
    Layout = null;
}

<!DOCTYPE html>
<html class="h-100">
<head>
    <title>@Model.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="@Context.Request.GetRelativePathOrAbsolute(themeManager.BootstrapUri)" rel="stylesheet" />
    <link href="@Context.Request.GetRelativePathOrAbsolute(themeManager.ThemeUri)" rel="stylesheet" />
    @if (Model.CustomCSSLink != null)
    {
        <link href="@Model.CustomCSSLink" rel="stylesheet" />
    }
    @if (!Context.Request.Query.ContainsKey("simple"))
    {
        <script type="text/javascript">
            var srvModel = @Safe.Json(Model);
        </script>
        <bundle name="wwwroot/bundles/crowdfund-bundle-1.min.js"></bundle>
        <bundle name="wwwroot/bundles/crowdfund-bundle-2.min.js"></bundle>
        @*We need to make sure btcpay.js is not bundled, else it will not work if there is a RootPath*@
        <script src="~/modal/btcpay.js"></script>
    }

    <bundle name="wwwroot/bundles/crowdfund-bundle.min.css"></bundle>
    @if (!string.IsNullOrEmpty(Model.EmbeddedCSS))
    {
        @Safe.Raw($"<style>{Model.EmbeddedCSS}</style>");
    }

</head>
<body>
    @if (Context.Request.Query.ContainsKey("simple"))
    {
        @await Html.PartialAsync("/Views/AppsPublic/Crowdfund/MinimalCrowdfund.cshtml", Model)
    }
    else
    {
        <noscript>
            @await Html.PartialAsync("/Views/AppsPublic/Crowdfund/MinimalCrowdfund.cshtml", Model)
        </noscript>

        if (Model.AnimationsEnabled)
        {
            <canvas id="fireworks"></canvas>
        }
        @await Html.PartialAsync("/Views/AppsPublic/Crowdfund/VueCrowdfund.cshtml", Model)
    }

</body>
</html>
