@inject BTCPayServer.HostedServices.CssThemeManager themeManager

@model BTCPayServer.Models.AppViewModels.ViewPointOfSaleViewModel
@{
    ViewData["Title"] = Model.Title;
    Layout = null;
}

<!DOCTYPE html>
<html class="h-100">
<head>
    <title>@Model.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="@this.Context.Request.GetAbsoluteUri(themeManager.BootstrapUri)" rel="stylesheet" />
    @if (Model.CustomCSSLink != null)
    {
        <link href="@Model.CustomCSSLink" rel="stylesheet" />
    }
</head>
<body class="h-100">
    <div class="container d-flex h-100">
        <div class="justify-content-center align-self-center text-center mx-auto px-2 py-3 w-100" style="margin: auto;">
            <h1 class="mb-4">@Model.Title</h1>
            <div class="row">
                @for (int i = 0; i < Model.Items.Length; i++)
                {
                    var className = (Model.Items.Length - i) > (Model.Items.Length % 4) ? "col-sm-6 col-lg-3" : "col-md align-self-start";
                    var item = Model.Items[i];
                    var image = item.Image;
                    var description = item.Description;
                    <div class="@className my-3 px-2">
                        <div class="card">
                            @if (!String.IsNullOrWhiteSpace(image))
                            {
                                <img class="card-img-top" src="@image" alt="Card image cap">
                            }
                            <div class="card-body">
                                <h5 class="card-title">@item.Title</h5>
                                @if (!String.IsNullOrWhiteSpace(description))
                                {
                                    <p class="card-text">@description</p>
                                }
                                @if (item.Custom)
                                {
                                    <form method="post" asp-antiforgery="false" data-buy>
                                        <input type="hidden" name="choicekey" value="@item.Id" />
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">@Model.CurrencySymbol</span>
                                            </div>
                                            <input class="form-control" type="number" min="@item.Price.Value" step="@Model.Step" name="amount"
                                                   value="@item.Price.Value" placeholder="Amount">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="submit">@Model.CustomButtonText</button>
                                            </div>
                                        </div>
                                    </form>
                                }
                                else
                                {
                                    <form method="post" asp-antiforgery="false">
                                        <button type="submit" name="choiceKey" class="btn btn-primary" value="@item.Id">
                                            @String.Format(Model.ButtonText, @item.Price.Formatted)</button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (Model.ShowCustomAmount)
            {
                <div class="row mt-2 mb-4">
                    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 px-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Custom Amount</h5>
                                <p class="card-text">Create invoice to pay custom amount</p>
                                <form method="post" asp-antiforgery="false" data-buy>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">@Model.CurrencySymbol</span>
                                        </div>
                                        <input class="form-control" type="number" min="0" step="@Model.Step" name="amount" placeholder="Amount">
                                        <div class="input-group-append"><button class="btn btn-primary" type="submit">@Model.CustomButtonText</button></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/bootstrap4/js/bootstrap.js"></script>
</body>
</html>
