@addTagHelper *, Meziantou.AspNetCore.BundleTagHelpers
@inject BTCPayServer.HostedServices.CssThemeManager themeManager
@model BTCPayServer.Models.AppViewModels.ViewCrowdfundViewModel
@{
    ViewData["Title"] = Model.Title;
    Layout = null;
}

<!DOCTYPE html>
<html class="h-100">
<head>
    <title>@Model.Title</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="@Context.Request.GetAbsoluteUri(themeManager.BootstrapUri)" rel="stylesheet"/>
    @if (Model.CustomCSSLink != null)
    {
        <link href="@Model.CustomCSSLink" rel="stylesheet"/>
    }
    @if (!Context.Request.Query.ContainsKey("simple"))
    {
        <script type="text/javascript">
            var srvModel = @Html.Raw(Json.Serialize(Model));
        </script>
        <bundle name="wwwroot/bundles/crowdfund-bundle-1.min.js"></bundle>
        <bundle name="wwwroot/bundles/crowdfund-bundle-2.min.js"></bundle>
    }
    
    <bundle name="wwwroot/bundles/crowdfund-bundle.min.css"></bundle>
    @if (!string.IsNullOrEmpty(Model.EmbeddedCSS))
    {
        <style>
            @Html.Raw(Model.EmbeddedCSS); 
            </style>
    }

</head>
<body>
@if (Context.Request.Query.ContainsKey("simple"))
{
    @await Html.PartialAsync("Crowdfund/MinimalCrowdfund", Model)
}
else
{
    <noscript>
        @await Html.PartialAsync("Crowdfund/MinimalCrowdfund", Model)
    </noscript>

    if (Model.AnimationsEnabled)
    {
        <canvas id="fireworks"></canvas>
    }
    @await Html.PartialAsync("Crowdfund/VueCrowdfund", Model)
}

</body>
</html>
