@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Abstractions.Models
@using BTCPayServer.Views.CustodianAccounts
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BTCPayServer.Models.CustodianAccountViewModels.EditCustodianAccountViewModel
@{
    ViewData.SetActivePage(CustodianAccountsNavPages.Update, "Edit Custodian account: " + @Model?.CustodianAccount.Name, Model?.CustodianAccount.Id);
}

@section PageFootContent {
    <partial name="_ValidationScriptsPartial"/>
}

<partial name="_StatusMessage"/>

<h2 class="mt-1 mb-4">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-xl-8 col-xxl-constrain">
        <form asp-action="EditCustodianAccount" class="mb-5">
			<input asp-for="Config" type="hidden" />
            @if (!ViewContext.ModelState.IsValid)
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            }
            <partial name="_FormTopMessages" model="Model.ConfigForm"/>

            <div class="form-group">
                <label asp-for="CustodianAccount.Name" class="form-label" data-required></label>
                <input asp-for="CustodianAccount.Name" class="form-control" required/>
                <span asp-validation-for="CustodianAccount.Name" class="text-danger"></span>
            </div>

            <partial name="_Form" model="Model.ConfigForm"/>

            <div class="form-group mt-4">
                <input type="submit" value="Continue" class="btn btn-primary" id="Save"/>
            </div>
        </form>
        <a asp-action="DeleteCustodianAccount" asp-route-storeId="@Model.CustodianAccount.StoreId" asp-route-accountId="@Model.CustodianAccount.Id" class="btn btn-outline-danger" role="button" id="DeleteCustodianAccountConfig" data-bs-toggle="modal" data-bs-target="#ConfirmModal" data-description="The custodian account <strong>@Html.Encode(Model.CustodianAccount.Name)</strong> will be permanently deleted." data-confirm-input="DELETE">
            <span class="fa fa-trash"></span> Delete this custodian account
        </a>
    </div>
</div>

<partial name="_Confirm" model="@(new ConfirmModel("Delete custodian account", "The custodian account will be permanently deleted.", "Delete"))" />
