@using BTCPayServer.Views.Server
@using BTCPayServer.Views.Stores
@using BTCPayServer.Views.Apps
@using BTCPayServer.Views.Invoice
@using BTCPayServer.Views.Manage
@using BTCPayServer.Views.PaymentRequest
@using BTCPayServer.Views.Wallets
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Client
@using BTCPayServer.Services
@inject BTCPayServer.Services.BTCPayServerEnvironment Env
@inject SignInManager<ApplicationUser> SignInManager
@inject PoliciesSettings PoliciesSettings
@inject ThemeSettings Theme

@model BTCPayServer.Components.MainNav.MainNavViewModel
@addTagHelper *, BundlerMinifier.TagHelpers


<nav id="mainNav" class="d-flex flex-column justify-content-between">
    <div class="accordion px-3 px-lg-4">
        @if (SignInManager.IsSignedIn(User))
        {
            @if (Model.Store != null)
            {
                <div class="accordion-item" permission="@Policies.CanModifyStoreSettings">
                    <div class="accordion-body">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a asp-area="" asp-controller="UIStores" asp-action="Dashboard" asp-route-storeId="@Model.Store.Id" class="nav-link js-scroll-trigger @ViewData.IsActivePage(StoreNavPages.Dashboard)" id="StoreNav-Dashboard">
                                    <vc:icon symbol="home"/>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="UIStores" asp-action="GeneralSettings" asp-route-storeId="@Model.Store.Id" class="nav-link js-scroll-trigger @ViewData.IsActivePage(StoreNavPages.Rates) @ViewData.IsActivePage(StoreNavPages.CheckoutAppearance) @ViewData.IsActivePage(StoreNavPages.General) @ViewData.IsActivePage(StoreNavPages.Tokens) @ViewData.IsActivePage(StoreNavPages.Users) @ViewData.IsActivePage(StoreNavPages.Plugins) @ViewData.IsActivePage(StoreNavPages.Webhooks)" id="StoreNav-StoreSettings">
                                    <vc:icon symbol="settings"/>
                                    <span>Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="accordion-item">
                    <header class="accordion-header" id="Nav-Wallets-Header" permission="@Policies.CanModifyStoreSettings">
                        <div class="accordion-button">
                            Wallets
                        </div>
                    </header>
                    <div id="Nav-Wallets" class="accordion-collapse" aria-labelledby="Nav-Wallets-Header" permission="@Policies.CanModifyStoreSettings">
                        <div class="accordion-body">
                            <ul class="navbar-nav">
                                @foreach (var scheme in Model.DerivationSchemes.OrderBy(scheme => scheme.Collapsed))
                                {
                                    var isSetUp = !string.IsNullOrWhiteSpace(scheme.Value);
                                    <li class="nav-item">
                                        @if (isSetUp && scheme.WalletSupported)
                                        {
                                            <a asp-area="" asp-controller="UIWallets" asp-action="WalletTransactions" asp-route-walletId="@scheme.WalletId" class="nav-link js-scroll-trigger @ViewData.IsActiveCategory(typeof(WalletsNavPages), scheme.WalletId.ToString()) @ViewData.IsActivePage(StoreNavPages.OnchainSettings)" id="@($"StoreNav-Wallet{scheme.Crypto}")">
                                                <span class="me-2 btcpay-status btcpay-status--@(scheme.Enabled ? "enabled" : "pending")"></span>
                                                <span>@(Model.AltcoinsBuild ? $"{scheme.Crypto} Wallet" : "Bitcoin")</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-area="" asp-controller="UIStores" asp-action="SetupWallet" asp-route-cryptoCode="@scheme.Crypto" asp-route-storeId="@Model.Store.Id" class="nav-link @ViewData.IsActivePage(StoreNavPages.OnchainSettings)" id="@($"StoreNav-Wallet{scheme.Crypto}")">
                                                <span class="me-2 btcpay-status btcpay-status--@(scheme.Enabled ? "enabled" : "pending")"></span>
                                                <span>@(Model.AltcoinsBuild ? $"{scheme.Crypto} Wallet" : "Bitcoin")</span>
                                            </a>
                                        }
                                    </li>
                                }
                                @foreach (var scheme in Model.LightningNodes)
                                {
                                    var isSetUp = !string.IsNullOrWhiteSpace(scheme.Address);
                                    <li class="nav-item">
                                        @if (isSetUp)
                                        {
                                            <a asp-area="" asp-controller="UIStores" asp-action="Lightning" asp-route-cryptoCode="@scheme.CryptoCode" asp-route-storeId="@Model.Store.Id" class="nav-link @ViewData.IsActivePage(StoreNavPages.Lightning) @ViewData.IsActivePage(StoreNavPages.LightningSettings)" id="@($"StoreNav-Lightning{scheme.CryptoCode}")">
                                                <span class="me-2 btcpay-status btcpay-status--@(scheme.Enabled ? "enabled" : "pending")"></span>
                                                <span>@(Model.AltcoinsBuild ? $"{scheme.CryptoCode} " : "")Lightning</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-area="" asp-controller="UIStores" asp-action="SetupLightningNode" asp-route-cryptoCode="@scheme.CryptoCode" asp-route-storeId="@Model.Store.Id" class="nav-link @ViewData.IsActivePage(StoreNavPages.LightningSettings)" id="@($"StoreNav-Lightning{scheme.CryptoCode}")">
                                                <span class="me-2 btcpay-status btcpay-status--@(scheme.Enabled ? "enabled" : "pending")"></span>
                                                <span>@(Model.AltcoinsBuild ? $"{scheme.CryptoCode} " : "")Lightning</span>
                                            </a>
                                        }
                                        
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <header class="accordion-header" id="Nav-Payments-Header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Nav-Payments" aria-expanded="true" aria-controls="Nav-Payments">
                                Payments
                                <vc:icon symbol="caret-down"/>
                            </button>
                        </header>
                        <div id="Nav-Payments" class="accordion-collapse collapse show" aria-labelledby="Nav-Payments-Header">
                            <div class="accordion-body">
                                <ul class="navbar-nav">
                                    <li class="nav-item" permission="@Policies.CanViewInvoices">
                                        <a asp-area="" asp-controller="UIInvoice" asp-action="ListInvoices" asp-route-storeId="@Model.Store.Id" class="nav-link js-scroll-trigger @ViewData.IsActiveCategory(typeof(InvoiceNavPages))" id="StoreNav-Invoices">
                                            <vc:icon symbol="invoice"/>
                                            <span>Invoices</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" permission="@Policies.CanModifyStoreSettings">
                                        <a asp-area="" asp-controller="UIPaymentRequest" asp-action="GetPaymentRequests" asp-route-storeId="@Model.Store.Id" class="nav-link js-scroll-trigger @ViewData.IsActiveCategory(typeof(PaymentRequestsNavPages))" id="StoreNav-PaymentRequests">
                                            <vc:icon symbol="payment-requests"/>
                                            <span>Requests</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" permission="@Policies.CanViewStoreSettings">
                                        <a asp-area="" asp-controller="UIStorePullPayments" asp-action="PullPayments" asp-route-storeId="@Model.Store.Id" class="nav-link @ViewData.IsActivePage(StoreNavPages.PullPayments)" id="StoreNav-PullPayments">
                                            <vc:icon symbol="pull-payments"/>
                                            <span>Pull Payments</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" permission="@Policies.CanModifyStoreSettings">
                                        <a asp-area="" asp-controller="UIStorePullPayments" asp-action="Payouts" asp-route-storeId="@Model.Store.Id" class="nav-link @ViewData.IsActivePage(StoreNavPages.Payouts)" id="StoreNav-Payouts">
                                            <vc:icon symbol="payouts"/>
                                            <span>Payouts</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item" permission="@Policies.CanModifyStoreSettings">
                    <header class="accordion-header" id="Nav-Apps-Header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Nav-Apps" aria-expanded="true" aria-controls="Nav-Apps">
                            Apps
                            <vc:icon symbol="caret-down"/>
                        </button>
                    </header>
                    <div id="Nav-Apps" class="accordion-collapse collapse show" aria-labelledby="Nav-Apps-Header">
                        <div class="accordion-body">
                            <ul class="navbar-nav">
                                @foreach (var app in Model.Apps)
                                {
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="UIApps" asp-action="@app.Action" asp-route-appId="@app.Id" class="nav-link js-scroll-trigger @ViewData.IsActivePage(AppsNavPages.Update, app.Id)" id="@($"StoreNav-App-{app.Id}")">
                                            <vc:icon symbol="@app.AppType.ToLower()"/>
                                            <span>@app.AppName</span>
                                        </a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="UIApps" asp-action="CreateApp" asp-route-storeId="@Model.Store.Id" class="nav-link js-scroll-trigger @ViewData.IsActivePage(AppsNavPages.Create)" id="StoreNav-CreateApp">
                                        <vc:icon symbol="new"/>
                                        <span>New App</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
            <div class="accordion-item">
                <header class="accordion-header" id="Nav-Plugins-Header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Nav-Plugins" aria-expanded="true" aria-controls="Nav-Plugins">
                        Plugins
                        <vc:icon symbol="caret-down"/>
                    </button>
                </header>
                <div id="Nav-Plugins" class="accordion-collapse collapse show" aria-labelledby="Nav-Plugins-Header">
                    <div class="accordion-body">
                        <ul class="navbar-nav">
                            <vc:ui-extension-point location="header-nav" model="@Model"/>
                            @if (Model.Store != null)
                            {
                                <vc:ui-extension-point location="store-integrations-nav" model="@Model"/>
                            }
                            <li class="nav-item" permission="@Policies.CanModifyServerSettings">
                                <a asp-area="" asp-controller="UIServer" asp-action="ListPlugins" class="nav-link js-scroll-trigger @ViewData.IsActivePage(ServerNavPages.Plugins)" id="Nav-ManagePlugins">
                                    <vc:icon symbol="new"/>
                                    <span>Manage Plugins</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <script>
                (() => {
                    // apply collapse settings
                    const navCollapsed = window.localStorage.getItem('btcpay-nav-collapsed')
                    const collapsed = navCollapsed ? JSON.parse(navCollapsed) : []
                    collapsed.forEach(id => {
                        const el = document.getElementById(id)
                        const btn = el && el.previousElementSibling.querySelector(`[aria-controls="${id}"]`)
                        if (el && btn) {
                            el.classList.remove('show')
                            btn.classList.add('collapsed')
                            btn.setAttribute('aria-expanded', 'false')
                        }
                    })
                    // hide empty plugins drawer
                    const pluginsItem = document.getElementById('Nav-Plugins').closest('.accordion-item')
                    const pluginsContent = pluginsItem.querySelector('.navbar-nav').innerHTML.trim()
                    if (pluginsContent === '') {
                        pluginsItem.setAttribute('hidden', true)
                    }
                })()
            </script>
        }
        else if (Env.IsSecure)
        {
            <ul class="navbar-nav">
                @if (!PoliciesSettings.LockSubscription)
                {
                    <li class="nav-item">
                        <a asp-area="" asp-controller="UIAccount" asp-action="Register" class="nav-link js-scroll-trigger" id="Nav-Register">Register</a>
                    </li>
                }
                <li class="nav-item">
                    <a asp-area="" asp-controller="UIAccount" asp-action="Login" class="nav-link js-scroll-trigger" id="Nav-Login">Log in</a>
                </li>
            </ul>
        }
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        <ul id="mainNavSettings" class="navbar-nav border-top p-3 px-lg-4">
            <li class="nav-item" permission="@Policies.CanModifyServerSettings">
                <a asp-area="" asp-controller="UIServer" asp-action="ListUsers" class="nav-link js-scroll-trigger @ViewData.IsActivePage(ServerNavPages.Users) @ViewData.IsActivePage(ServerNavPages.Emails) @ViewData.IsActivePage(ServerNavPages.Policies) @ViewData.IsActivePage(ServerNavPages.Services) @ViewData.IsActivePage(ServerNavPages.Theme) @ViewData.IsActivePage(ServerNavPages.Maintenance) @ViewData.IsActivePage(ServerNavPages.Logs) @ViewData.IsActivePage(ServerNavPages.Files)" id="Nav-ServerSettings">
                    <vc:icon symbol="server-settings"/>
                    <span>Server Settings</span>
                </a>
            </li>
            <li class="nav-item dropup">
                <a class="nav-link js-scroll-trigger @ViewData.IsActiveCategory(typeof(ManageNavPages))" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="Nav-Account">
                    <vc:icon symbol="account"/>
                    <span>Account</span>
                </a>   
                <ul class="dropdown-menu py-0 w-100" aria-labelledby="Nav-Account">
                    <li class="p-3">
                        <strong class="d-block text-truncate" style="max-width:195px">@User.Identity.Name</strong>
                        @if (User.IsInRole(Roles.ServerAdmin))
                        {
                            <div class="text-secondary">Administrator</div>
                        }
                    </li>
                    @if (!Theme.CustomTheme)
                    {
                        <li class="border-top py-1 px-3">
                            <vc:theme-switch css-class="nav-link"/>
                        </li>
                    }
                    <li class="border-top py-1 px-3">
                        <a asp-area="" asp-controller="UIManage" asp-action="Index" class="nav-link @ViewData.IsActiveCategory(typeof(ManageNavPages))" id="Nav-ManageAccount">
                            <span>Manage Account</span>
                        </a>
                    </li>
                    <li class="border-top py-1 px-3">
                        <a asp-area="" asp-controller="UIAccount" asp-action="Logout" class="nav-link text-danger" id="Nav-Logout">
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    }
</nav>
