@model System.Collections.Generic.List<BTCPayServer.Data.Payouts.LightningLike.LightningLikePayoutController.ConfirmVM>
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Confirm Lightning Payout";
    var cryptoCode = Context.GetRouteValue("cryptoCode");
}
<section>
    <div class="container">

        <h2 class="mb-4">@ViewData["Title"]</h2>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    @foreach (var item in Model)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div data-bs-toggle="tooltip" class="text-break" title="@item.Destination">@item.Destination</div>

                            <span class="text-capitalize badge bg-secondary">@item.Amount @cryptoCode</span>
                        </li>

                        <form method="post" class="list-group-item justify-content-center">
                            <button type="submit" class="btn btn-primary xmx-2" style="min-width:25%;">Pay</button>
                            <button type="button" class="btn btn-secondary mx-2" onclick="history.back(); return false;" style="min-width:25%;">Go back</button>
                        </form>
                    }

                </ul>
            </div>
        </div>
    </div>
</section>
