@using BTCPayServer.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Client
@inject IFileService FileService;
@model GeneralSettingsViewModel
@{
	ViewData.SetLayoutModel(new LayoutModel("General", StringLocalizer["General"]).SetCategory(WellKnownCategories.Store));
	var canUpload = await FileService.IsAvailable();
}
<form method="post" enctype="multipart/form-data" permissioned="@Policies.CanModifyStoreSettings">
    <div class="sticky-header">
		<h2 text-translate="true">Store Settings</h2>
		<button id="page-primary" type="submit" class="btn btn-primary" text-translate="true">Save</button>
    </div>

    <partial name="_StatusMessage" />

    <div class="row">
        <div class="col-xxl-constrain col-xl-8">
            @if (!ViewContext.ModelState.IsValid)
            {
                <div asp-validation-summary="All" class="@(ViewContext.ModelState.ErrorCount.Equals(1) ? "no-marker" : "")"></div>
            }
            <div class="form-group">
                <label asp-for="Id" class="form-label"></label>
                <input asp-for="Id" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="StoreName" class="form-label"></label>
                <input asp-for="StoreName" class="form-control" />
                <span asp-validation-for="StoreName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreWebsite" class="form-label"></label>
                <input asp-for="StoreWebsite" class="form-control" />
                <span asp-validation-for="StoreWebsite" class="text-danger"></span>
            </div>

            <h3 class="mt-5 mb-3" text-translate="true">Branding</h3>
            <p text-translate="true">The custom color, logo and CSS are applied on the public/customer-facing pages (Invoice, Payment Request, Pull Payment, etc.). The brand color is used as the accent color for buttons, links, etc. It might get adapted to fit the light/dark color scheme.</p>

            <div>
                <label asp-for="BrandColor" class="form-label"></label>
                <div class="d-flex flex-wrap">
                    <div class="form-group me-4">
                        <div class="input-group">
                            <input id="BrandColorInput" class="form-control form-control-color flex-grow-0" type="color" style="width:3rem" aria-describedby="BrandColorValue" value="@Model.BrandColor" />
                            <input asp-for="BrandColor" class="form-control form-control-color flex-grow-0 font-monospace" pattern="@ColorPalette.Pattern" style="width:5.5rem;font-size:0.9rem" />
                        </div>
                        <span asp-validation-for="BrandColor" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <input asp-for="ApplyBrandColorToBackend" type="checkbox" class="btcpay-toggle me-3" disabled="@(string.IsNullOrEmpty(Model.BrandColor))"/>
                        <label asp-for="ApplyBrandColorToBackend" class="form-check-label"></label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="d-flex align-items-center justify-content-between gap-2">
                    <label asp-for="LogoFile" class="form-label"></label>
                    @if (!string.IsNullOrEmpty(Model.LogoUrl))
                    {
                        <button type="submit" class="btn btn-link p-0 text-danger" name="RemoveLogoFile" value="true">
                            <vc:icon symbol="cross" /> Remove
                        </button>
                    }
                </div>
                @if (canUpload)
                {
                    <div class="d-flex align-items-center gap-3">
                        <input asp-for="LogoFile" type="file" class="form-control flex-grow">
                        @if (!string.IsNullOrEmpty(Model.LogoUrl))
                        {
                            <img src="@Model.LogoUrl" alt="@Model.StoreName Logo" style="height:2.1rem;max-width:10.5rem;"/>
                        }
                    </div>
                    <span asp-validation-for="LogoFile" class="text-danger"></span>
                }
                else
                {
                    <input asp-for="LogoFile" type="file" class="form-control" disabled>
                    <div class="form-text">@ViewLocalizer["In order to upload, a {0} must be configured.", Html.ActionLink(StringLocalizer["file storage"], "Files", "UIServer")]</div>
                }
            </div>
            <div class="form-group">
                <div class="d-flex align-items-center justify-content-between gap-2">
                    <label asp-for="CssFile" class="form-label"></label>
                    @if (!string.IsNullOrEmpty(Model.CssUrl))
                    {
                        <button type="submit" class="btn btn-link p-0 text-danger" name="RemoveCssFile" value="true">
                            <vc:icon symbol="cross" /> Remove
                        </button>
                    }
                </div>
                @if (canUpload)
                {
                    <div class="d-flex align-items-center gap-3">
                        <input asp-for="CssFile" type="file" class="form-control flex-grow">
                        @if (!string.IsNullOrEmpty(Model.CssUrl))
                        {
                            <a href="@Model.CssUrl" target="_blank" rel="noreferrer noopener" class="text-nowrap">Custom CSS</a>
                        }
                    </div>
                    <span asp-validation-for="LogoFile" class="text-danger"></span>
                }
                else
                {
                    <input asp-for="CssFile" type="file" class="form-control" disabled>
                    <div class="form-text">@ViewLocalizer["In order to upload, a {0} must be configured.", Html.ActionLink(StringLocalizer["file storage"], "Files", "UIServer")]</div>
                }
            </div>

			<h3 class="mt-5 mb-3" text-translate="true">Payment</h3>
            <div class="form-group">
                <label asp-for="DefaultCurrency" class="form-label"></label>
                <input asp-for="DefaultCurrency" class="form-control w-auto" currency-selection />
                <span asp-validation-for="DefaultCurrency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalTrackedRates" class="form-label"></label>
                <input asp-for="AdditionalTrackedRates" class="form-control" placeholder="@StringLocalizer["Comma-separated list of currencies (eg. USD,EUR,JPY)"]" />
                <div class="form-text" text-translate="true">The rates of those currencies, in addition to the default currency, will be recorded when a new invoice is created. The rates will then be accessible through reports.</div>
                <span asp-validation-for="AdditionalTrackedRates" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <label asp-for="NetworkFeeMode" class="form-label"></label>
                <a href="https://docs.btcpayserver.org/FAQ/Stores/#add-network-fee-to-invoice-vary-with-mining-fees" target="_blank" rel="noreferrer noopener" title="@StringLocalizer["More information..."]">
                    <vc:icon symbol="info"/>
                </a>
                @* For whatever reason wrapping the select with this div fixes this Safari bug: https://github.com/btcpayserver/btcpayserver/issues/3699 *@
                <div class="overflow-hidden">
                    <select asp-for="NetworkFeeMode" class="form-select w-auto">
                        <option value="MultiplePaymentsOnly" text-translate="true">... only if the customer makes more than one payment for the invoice</option>
                        <option value="Always" text-translate="true">... on every payment</option>
						<option value="Never" text-translate="true">Never add network fee</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceExpiration" class="form-label"></label>
                <a href="https://docs.btcpayserver.org/FAQ/Stores/#invoice-expires-if-the-full-amount-has-not-been-paid-after-minutes" target="_blank" rel="noreferrer noopener" title="@StringLocalizer["More information..."]">
                    <vc:icon symbol="info"/>
                </a>
                <div class="input-group">
                    <input inputmode="numeric" asp-for="InvoiceExpiration" class="form-control" style="max-width:12ch;"/>
                    <span class="input-group-text" text-translate="true">minutes</span>
                </div>
                <span asp-validation-for="InvoiceExpiration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentTolerance" class="form-label"></label>
                <a href="https://docs.btcpayserver.org/FAQ/Stores/#consider-the-invoice-paid-even-if-the-paid-amount-is-less-than-expected" target="_blank" rel="noreferrer noopener" title="@StringLocalizer["More information..."]">
                    <vc:icon symbol="info"/>
                </a>
                <div class="input-group">
                    <input inputmode="decimal" asp-for="PaymentTolerance" class="form-control" style="max-width:12ch;"/>
                    <span class="input-group-text" text-translate="true">percent</span>
                </div>
                <span asp-validation-for="PaymentTolerance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOLT11Expiration" class="form-label"></label>
                <div class="input-group">
                    <input inputmode="numeric" asp-for="BOLT11Expiration" class="form-control" style="max-width:12ch;"/>
					<span class="input-group-text" text-translate="true" text-translate="true">days</span>
                </div>
                <span asp-validation-for="BOLT11Expiration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonitoringExpiration" class="form-label"></label>
                <a href="https://docs.btcpayserver.org/FAQ/Stores/#payment-invalid-if-transactions-fails-to-confirm-minutes-after-invoice-expiration" target="_blank" rel="noreferrer noopener" title="@StringLocalizer["More information..."]">
                    <vc:icon symbol="info"/>
                </a>
                <div class="input-group">
                    <input inputmode="numeric" asp-for="MonitoringExpiration" class="form-control" style="max-width:10ch;"/>
                    <span class="input-group-text" text-translate="true">minutes</span>
                </div>
                <span asp-validation-for="MonitoringExpiration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeedPolicy" class="form-label"></label>
                <a href="https://docs.btcpayserver.org/FAQ/Stores/#consider-the-invoice-confirmed-when-the-payment-transaction" target="_blank" rel="noreferrer noopener" title="@StringLocalizer["More information..."]">
                    <vc:icon symbol="info"/>
                </a>
                <select asp-for="SpeedPolicy" class="form-select w-auto" onchange="document.getElementById('unconfirmed-warning').hidden = this.value !== '0'">
					<option value="0" text-translate="true">Is unconfirmed</option>
                    <option value="1" text-translate="true">Has at least 1 confirmation</option>
                    <option value="3" text-translate="true">Has at least 2 confirmations</option>
					<option value="2" text-translate="true">Has at least 6 confirmations</option>
                </select>
                <p class="info-note my-3 text-warning" id="unconfirmed-warning" role="alert" hidden="@(Model.SpeedPolicy != 0)">
                    <vc:icon symbol="warning"/>
                    <span text-translate="true">Choosing to accept an unconfirmed invoice can lead to double-spending and is strongly discouraged.</span>
                </p>
                <span asp-validation-for="SpeedPolicy" class="text-danger"></span>
            </div>
            <div class="form-group d-flex align-items-center">
                <input asp-for="AnyoneCanCreateInvoice" type="checkbox" class="btcpay-toggle me-3"/>
                <label asp-for="AnyoneCanCreateInvoice" class="form-check-label me-1"></label>
                <a href="https://docs.btcpayserver.org/FAQ/Stores/#allow-anyone-to-create-invoice" target="_blank" rel="noreferrer noopener" title="@StringLocalizer["More information..."]">
                    <vc:icon symbol="info"/>
                </a>
            </div>
            <div class="d-flex align-items-center my-3">
                <input asp-for="ShowRecommendedFee" type="checkbox" class="btcpay-toggle me-3" />
                <div>
                    <label asp-for="ShowRecommendedFee" class="form-check-label"></label>
					<div class="form-text" text-translate="true">Fee will be shown for BTC and LTC onchain payments only.</div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RecommendedFeeBlockTarget" class="form-label"></label>
                <div class="input-group">
                    <input inputmode="numeric" asp-for="RecommendedFeeBlockTarget" class="form-control" min="1" style="max-width:10ch" />
					<span class="input-group-text" text-translate="true">blocks</span>
                </div>
                <span asp-validation-for="RecommendedFeeBlockTarget" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

<div permission="@Policies.CanModifyStoreSettings">
	<h3 class="mt-5 mb-3" text-translate="true">Additional Actions</h3>
    <div id="danger-zone" class="d-flex flex-wrap align-items-center gap-3 mb-5 mt-2">
        <form asp-action="ToggleArchive" asp-route-storeId="@Model.Id" method="post">
            <button type="submit" class="btn btn-outline-secondary" id="btn-archive-toggle">
                @if (Model.Archived)
                {
					<span class="text-nowrap" data-bs-toggle="tooltip" title="@StringLocalizer["Unarchive this store"]" text-translate="true">Unarchive this store</span>
                }
                else
                {
					<span class="text-nowrap" data-bs-toggle="tooltip" title="@StringLocalizer["Archive this store so that it does not appear in the stores list by default"]" text-translate="true">Archive this store</span>
                }
            </button>
        </form>
		<a id="DeleteStore" class="btn btn-outline-danger" asp-action="DeleteStore" asp-route-storeId="@Model.Id" data-bs-toggle="modal" data-bs-target="#ConfirmModal" data-description="@ViewLocalizer["The store <strong>{0}</strong> will be permanently deleted. This action will also delete all invoices, apps and data associated with the store.", Html.Encode(Model.StoreName)]" data-confirm-input="@StringLocalizer["DELETE"]" text-translate="true">Delete this store</a>
    </div>
</div>

<partial name="_Confirm" model="@(new ConfirmModel(StringLocalizer["Delete store"], StringLocalizer["The store will be permanently deleted. This action will also delete all invoices, apps and data associated with the store."], StringLocalizer["Delete"]))" permission="@Policies.CanModifyStoreSettings" />

@section PageFootContent {
    <partial name="_ValidationScriptsPartial"/>
    <script>
    (() => {
        const $colorValue = document.getElementById('BrandColor');
        const $colorInput = document.getElementById('BrandColorInput');
        const $applyToBackend = document.getElementById('ApplyBrandColorToBackend');
        delegate('change', '#BrandColor', e => {
            const value = e.target.value;
			if (value.match(@Safe.Json(ColorPalette.Pattern)))
				$colorInput.value = value;
            $applyToBackend.disabled = !value;
        });
        delegate('change', '#BrandColorInput', e => {
            const value = e.target.value;
            $colorValue.value = value;
            $applyToBackend.disabled = !value;
        });
    })();
    </script>
}
