@model WalletSetupViewModel

@inject Microsoft.Extensions.Localization.IStringLocalizer StringLocalizer
@{
	Layout = "_LayoutWalletSetup";
	var title = StringLocalizer["Generate {0} Wallet", Model.CryptoCode];
	ViewData.SetActivePage(StoreNavPages.OnchainSettings, title, $"{Context.GetStoreData().Id}-{Model.CryptoCode}");
}

@section Navbar {
    <a asp-controller="UIStores" asp-action="SetupWallet" asp-route-storeId="@Model.StoreId" asp-route-cryptoCode="@Model.CryptoCode">
        <vc:icon symbol="back" />
    </a>
}

<h1 class="text-center" text-translate="true">Choose your wallet option</h1>

<div class="list-group mt-5">
    @if (Model.CanUseHotWallet)
    {
        <a asp-controller="UIStores" asp-action="GenerateWallet" asp-route-storeId="@Model.StoreId" asp-route-cryptoCode="@Model.CryptoCode" asp-route-method="hotwallet" id="GenerateHotwalletLink" class="list-group-item list-group-item-action">
            <div class="image">
                <vc:icon symbol="wallet-hot"/>
            </div>
            <div class="content">
				<h4 text-translate="true">Hot wallet</h4>
				<p class="mb-0 text-secondary" text-translate="true">
                    Wallet's private key is stored on the server. Spending the funds you received is convenient. To minimize the risk of theft, regularly withdraw funds to a different wallet.
                </p>
            </div>
            <vc:icon symbol="caret-right"/>
        </a>
    }
    else
    {
        <div class="list-group-item text-muted">
            <div class="image">
                <vc:icon symbol="wallet-hot"/>
            </div>
            <div class="content">
				<h4 text-translate="true">Hot wallet</h4>
				<p class="mb-0" text-translate="true">Please note that creating a hot wallet is not supported by this instance for non administrators.</p>
            </div>
        </div>
    }
</div>

<div class="list-group mt-4">
    <a asp-controller="UIStores" asp-action="GenerateWallet" asp-route-storeId="@Model.StoreId" asp-route-cryptoCode="@Model.CryptoCode" asp-route-method="watchonly" id="GenerateWatchonlyLink" class="list-group-item list-group-item-action">
        <div class="image">
            <vc:icon symbol="wallet-watchonly"/>
        </div>
        <div class="content">
			<h4 text-translate="true">Watch-only wallet</h4>
			<p class="mb-0 text-secondary" text-translate="true">
                Wallet's private key is erased from the server. Higher security. To spend, you have to manually input the private key or import it into an external wallet.
            </p>
        </div>
        <vc:icon symbol="caret-right" />
    </a>
</div>


