@using BTCPayServer.Abstractions.Models
@using BTCPayServer.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Client
@inject IFileService FileService;
@model GeneralSettingsViewModel
@{
	Layout = "../Shared/_NavLayout.cshtml";
	ViewData.SetActivePage(StoreNavPages.General, "General", Context.GetStoreData().Id);
	var canUpload = await FileService.IsAvailable();
}

<div class="row">
    <div class="col-xxl-constrain col-xl-8">
        @if (!ViewContext.ModelState.IsValid)
        {
            <div asp-validation-summary="All" class="text-danger"></div>
        }
        <form method="post" enctype="multipart/form-data">
            <h3 class="mb-3">General</h3>
            <div class="form-group">
                <label asp-for="Id" class="form-label"></label>
                <input asp-for="Id" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="StoreName" class="form-label"></label>
                <input asp-for="StoreName" class="form-control" />
                <span asp-validation-for="StoreName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreWebsite" class="form-label"></label>
                <input asp-for="StoreWebsite" class="form-control" />
                <span asp-validation-for="StoreWebsite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreSupportUrl" class="form-label"></label>
                <input asp-for="StoreSupportUrl" class="form-control" />
                <span asp-validation-for="StoreSupportUrl" class="text-danger"></span>
                <div class="form-text">
                    For support requests, can contain the placeholders <code>{OrderId}</code> and <code>{InvoiceId}</code>. Can be any valid URI, such as a website, email, and nostr.",
                </div>
            </div>
            
            <h3 class="mt-5 mb-3">Branding</h3>
            <div class="form-group">
                <label asp-for="BrandColor" class="form-label"></label>
                <div class="input-group">
                    <input id="BrandColorInput" class="form-control form-control-color flex-grow-0" type="color" style="width:3rem" aria-describedby="BrandColorValue" value="@Model.BrandColor" />
                    <input asp-for="BrandColor" class="form-control form-control-color flex-grow-0 font-monospace" pattern="@ColorPalette.Pattern" style="width:5.5rem;font-size:0.9rem" />
                </div>
                <span asp-validation-for="BrandColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="d-flex align-items-center justify-content-between gap-2">
                    <label asp-for="LogoFile" class="form-label"></label>
                    @if (!string.IsNullOrEmpty(Model.LogoFileId))
                    {
                        <button type="submit" class="btn btn-link p-0 text-danger" name="RemoveLogoFile" value="true">
                            <span class="fa fa-times"></span> Remove
                        </button>
                    }
                </div>
                @if (canUpload)
                {
                    <div class="d-flex align-items-center gap-3">
                        <input asp-for="LogoFile" type="file" class="form-control flex-grow">
                        @if (!string.IsNullOrEmpty(Model.LogoFileId))
                        {
                            <img src="@(await FileService.GetFileUrl(Context.Request.GetAbsoluteRootUri(), Model.LogoFileId))" alt="@Model.StoreName" class="rounded-circle" style="width:2.1rem;height:2.1rem;"/>
                        }
                    </div>
                    <span asp-validation-for="LogoFile" class="text-danger"></span>
                    <div class="form-text">
                        Please upload an image with square dimension, as it will be displayed in 1:1 format and circular.
                        Size should be around 100✕100px.
                    </div>
                }
                else
                {
                    <input asp-for="LogoFile" type="file" class="form-control" disabled>
                    <div class="form-text">In order to upload a logo, a <a asp-controller="UIServer" asp-action="Files">file storage</a> must be configured.</div>
                }
            </div>
            <div class="form-group">
                <div class="d-flex align-items-center justify-content-between gap-2">
                    <label asp-for="CssFile" class="form-label"></label>
                    @if (!string.IsNullOrEmpty(Model.CssFileId))
                    {
                        <button type="submit" class="btn btn-link p-0 text-danger" name="RemoveCssFile" value="true">
                            <span class="fa fa-times"></span> Remove
                        </button>
                    }
                </div>
                @if (canUpload)
                {
                    <div class="d-flex align-items-center gap-3">
                        <input asp-for="CssFile" type="file" class="form-control flex-grow">
                        @if (!string.IsNullOrEmpty(Model.CssFileId))
                        {
                            <a href="@(await FileService.GetFileUrl(Context.Request.GetAbsoluteRootUri(), Model.CssFileId))" target="_blank" rel="noreferrer noopener" class="text-nowrap">Custom CSS</a>
                        }
                    </div>
                    <span asp-validation-for="LogoFile" class="text-danger"></span>
                    <div class="form-text">
                        Use this CSS to customize the public/customer-facing pages of this store. (Invoice, Payment Request, Pull Payment, etc.) 
                    </div>
                }
                else
                {
                    <input asp-for="CssFile" type="file" class="form-control" disabled>
                    <div class="form-text">In order to upload a CSS file, a <a asp-controller="UIServer" asp-action="Files">file storage</a> must be configured.</div>
                }
            </div>
            
            <h3 class="mt-5 mb-3">Payment</h3>
            <div class="form-group">
                <label asp-for="DefaultCurrency" class="form-label"></label>
                <input asp-for="DefaultCurrency" class="form-control w-auto" currency-selection />
                <span asp-validation-for="DefaultCurrency" class="text-danger"></span>
            </div>
            <div class="form-group d-flex align-items-center">
                <input asp-for="AnyoneCanCreateInvoice" type="checkbox" class="btcpay-toggle me-3"/>
                <label asp-for="AnyoneCanCreateInvoice" class="form-label mb-0 me-1"></label>
                <a href="https://docs.btcpayserver.org/FAQ/Stores/#allow-anyone-to-create-invoice" target="_blank" rel="noreferrer noopener" title="More information...">
                    <vc:icon symbol="info"/>
                </a>
            </div>
            <div class="form-group mt-4">
                <label asp-for="NetworkFeeMode" class="form-label"></label>
                <a href="https://docs.btcpayserver.org/FAQ/Stores/#add-network-fee-to-invoice-vary-with-mining-fees" target="_blank" rel="noreferrer noopener" title="More information...">
                    <vc:icon symbol="info"/>
                </a>
                @* For whatever reason wrapping the select with this div fixes this Safari bug: https://github.com/btcpayserver/btcpayserver/issues/3699 *@
                <div class="overflow-hidden">
                    <select asp-for="NetworkFeeMode" class="form-select w-auto">
                        <option value="MultiplePaymentsOnly">... only if the customer makes more than one payment for the invoice</option>
                        <option value="Always">... on every payment</option>
                        <option value="Never">Never add network fee</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceExpiration" class="form-label"></label>
                <a href="https://docs.btcpayserver.org/FAQ/Stores/#invoice-expires-if-the-full-amount-has-not-been-paid-after-minutes" target="_blank" rel="noreferrer noopener" title="More information...">
                    <vc:icon symbol="info"/>
                </a>
                <div class="input-group">
                    <input inputmode="numeric" asp-for="InvoiceExpiration" class="form-control" style="max-width:12ch;"/>
                    <span class="input-group-text">minutes</span>
                </div>
                <span asp-validation-for="InvoiceExpiration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentTolerance" class="form-label"></label>
                <a href="https://docs.btcpayserver.org/FAQ/Stores/#consider-the-invoice-paid-even-if-the-paid-amount-is-less-than-expected" target="_blank" rel="noreferrer noopener" title="More information...">
                    <vc:icon symbol="info"/>
                </a>
                <div class="input-group">
                    <input inputmode="decimal" asp-for="PaymentTolerance" class="form-control" style="max-width:12ch;"/>
                    <span class="input-group-text">percent</span>
                </div>
                <span asp-validation-for="PaymentTolerance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BOLT11Expiration" class="form-label"></label>
                <div class="input-group">
                    <input inputmode="numeric" asp-for="BOLT11Expiration" class="form-control" style="max-width:12ch;"/>
                    <span class="input-group-text">days</span>
                </div>
                <span asp-validation-for="BOLT11Expiration" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-primary mt-2" id="Save">Save</button>
        </form>
        <h3 class="mt-5 mb-3">Additional Actions</h3>
        <div id="danger-zone" class="d-flex flex-wrap align-items-center gap-3 mb-5 mt-2">
            <form asp-action="ToggleArchive" asp-route-storeId="@Model.Id" method="post" permission="@Policies.CanModifyStoreSettings">
                <button type="submit" class="btn btn-outline-secondary" id="btn-archive-toggle">
                    @if (Model.Archived)
                    {
                        <span class="text-nowrap" data-bs-toggle="tooltip" title="Unarchive this store">Unarchive this store</span>
                    }
                    else
                    {
                        <span class="text-nowrap" data-bs-toggle="tooltip" title="Archive this store so that it does not appear in the stores list by default">Archive this store</span>
                    }
                </button>
            </form>
            @if (Model.CanDelete)
            {
                <a id="DeleteStore" class="btn btn-outline-danger" asp-action="DeleteStore" asp-route-storeId="@Model.Id" data-bs-toggle="modal" data-bs-target="#ConfirmModal" data-description="The store <strong>@Html.Encode(Model.StoreName)</strong> will be permanently deleted. This action will also delete all invoices, apps and data associated with the store." data-confirm-input="DELETE">Delete this store</a>
            }
        </div>
    </div>
</div>

<partial name="_Confirm" model="@(new ConfirmModel("Delete store", "The store will be permanently deleted. This action will also delete all invoices, apps and data associated with the store.", "Delete"))" />

@section PageFootContent {
    <partial name="_ValidationScriptsPartial"/>
    <script>
    (() => {
        const $colorValue = document.getElementById('BrandColor');
        const $colorInput = document.getElementById('BrandColorInput');
        delegate('change', '#BrandColor', e => {
            const value = e.target.value;
			if (value.match(@Safe.Json(@ColorPalette.Pattern)))
				$colorInput.value = value;
        });
        delegate('change', '#BrandColorInput', e => {
            $colorValue.value = e.target.value;
        });
    })();
    </script>
}
