@model WalletSetupViewModel
@inject BTCPayNetworkProvider BTCPayNetworkProvider
@{
    Layout = "_LayoutWalletSetup";
    ViewData.SetActivePage(StoreNavPages.OnchainSettings, $"Import {Model.CryptoCode} Wallet", Context.GetStoreData().Id);
}

@section Navbar {
    <a asp-controller="UIStores" asp-action="SetupWallet" asp-route-storeId="@Model.StoreId" asp-route-cryptoCode="@Model.CryptoCode">
        <vc:icon symbol="back" />
    </a>
}

<header class="text-center">
    <h1>Choose your import method</h1>
    <p class="lead text-secondary mt-3">The following methods assume that you already have an existing&nbsp;wallet created and backed up.</p>
</header>

@if (BTCPayNetworkProvider.GetNetwork<BTCPayNetwork>(Model.CryptoCode).VaultSupported)
{
    <div class="mt-5">
        <div class="list-group">
            <a asp-controller="UIStores" asp-action="ImportWallet" asp-route-storeId="@Model.StoreId" asp-route-cryptoCode="@Model.CryptoCode" asp-route-method="hardware" id="ImportHardwareLink" class="list-group-item list-group-item-action only-for-js">
                <div class="image">
                    <vc:icon symbol="hardware-wallet"/>
                </div>
                <div class="content d-flex flex-column flex-lg-row align-items-lg-center justify-content-lg-between me-2">
                    <div>
                        <h4>Connect hardware&nbsp;wallet</h4>
                        <p class="mb-0 text-secondary">Import your public keys using our Vault application</p>
                    </div>
                    <small class="d-block text-primary mt-2 mt-lg-0">Recommended</small>
                </div>
                <vc:icon symbol="caret-right" />
            </a>
            <noscript>
                <div class="list-group-item disabled">
                    <div class="image">
                        <vc:icon symbol="hardware-wallet"/>
                    </div>
                    <div class="content d-flex flex-column flex-lg-row align-items-lg-center justify-content-lg-between me-2">
                        <div>
                            <h4>Connect hardware&nbsp;wallet</h4>
                            <p class="mb-0">Please enable JavaScript for this option to be available</p>
                        </div>
                        <small class="d-block text-primary mt-2 mt-lg-0">Recommended</small>
                    </div>
                </div>
            </noscript>
        </div>
    </div>
}

<div class="list-group mt-4">
    <a asp-controller="UIStores" asp-action="ImportWallet" asp-route-storeId="@Model.StoreId" asp-route-cryptoCode="@Model.CryptoCode" asp-route-method="file" id="ImportFileLink" class="list-group-item list-group-item-action">
        <div class="image">
            <vc:icon symbol="wallet-file"/>
        </div>
        <div class="content d-flex flex-column flex-lg-row align-items-lg-center justify-content-lg-between me-2">
            <div>
                <h4>Import wallet file</h4>
                <p class="mb-0 text-secondary">Upload a file exported from your wallet</p>
            </div>
            <small class="d-block text-primary mt-2 mt-lg-0">Recommended</small>
        </div>
        <vc:icon symbol="caret-right" />
    </a>
</div>

<div class="list-group mt-4">
    <a asp-controller="UIStores" asp-action="ImportWallet" asp-route-storeId="@Model.StoreId" asp-route-cryptoCode="@Model.CryptoCode" asp-route-method="xpub" id="ImportXpubLink" class="list-group-item list-group-item-action">
        <div class="image">
            <vc:icon symbol="xpub"/>
        </div>
        <div class="content">
            <h4>Enter extended public key</h4>
            <p class="mb-0 text-secondary">Input the key string manually</p>
        </div>
        <vc:icon symbol="caret-right" />
    </a>
</div>

<div class="list-group mt-4">
    <a asp-controller="UIStores" asp-action="ImportWallet" asp-route-storeId="@Model.StoreId" asp-route-cryptoCode="@Model.CryptoCode" asp-route-method="scan" id="ImportScanLink" class="list-group-item list-group-item-action only-for-js">
        <div class="image">
            <vc:icon symbol="scan-qr"/>
        </div>
        <div class="content">
            <h4>Scan wallet QR code</h4>
            <p class="mb-0 text-secondary">Supported by BlueWallet, Cobo Vault, Passport and Specter DIY</p>
        </div>
        <vc:icon symbol="caret-right" />
    </a>
    <noscript>
        <div class="list-group-item list-group-item-action disabled hide-when-js">
            <div class="image">
                <vc:icon symbol="scan-qr"/>
            </div>
            <div class="content">
                <h4>Scan wallet QR code</h4>
                <p class="mb-0">Please enable JavaScript for this option to be available</p>
            </div>
        </div>
    </noscript>
</div>

<div class="list-group mt-4">
    <a asp-controller="UIStores" asp-action="ImportWallet" asp-route-storeId="@Model.StoreId" asp-route-cryptoCode="@Model.CryptoCode" asp-route-method="seed" id="ImportSeedLink" class="list-group-item list-group-item-action">
        <div class="image">
            <vc:icon symbol="seed"/>
        </div>
        <div class="content d-flex flex-column flex-lg-row align-items-lg-center justify-content-lg-between me-2">
            <div>
                <h4>Enter wallet seed</h4>
                <p class="mb-0 text-secondary">Provide the 12 or 24 word recovery seed</p>
            </div>
            <small class="d-block text-danger mt-2 mt-lg-0" data-bs-toggle="tooltip" data-bs-placement="top" title="You really should not type your seed into a device that is connected to the internet.">Not recommended <vc:icon symbol="info"/></small>
        </div>
        <vc:icon symbol="caret-right" />
    </a>
</div>


