@using BTCPayServer.Services
@model LightningSettingsViewModel
@inject LightningClientFactoryService LightningClientFactoryService
@inject BTCPayNetworkProvider NetworkProvider
@{
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData["NavPartialName"] = "../UILightning/_Nav";
    ViewData.SetActivePage(StoreNavPages.LightningSettings, $"{Model.CryptoCode} Lightning Settings", Context.GetStoreData().Id);
}

<div class="row">
    <div class="col-xl-8 col-xxl-constrain">
        <div class="mb-5">
            <h3 class="mb-3">@ViewData["Title"]</h3>
            <div class="text-break mb-3">
                <span class="me-3" id="NodeType">@Model.LightningNodeType Node</span>
                @if (Model.LightningNodeType != LightningNodeType.Internal)
                {
                    <span class="me-3" id="CustomNodeInfo">
                        @try
                        {
                            var client = LightningClientFactoryService.Create(Model.ConnectionString, NetworkProvider.GetNetwork<BTCPayNetwork>(Model.CryptoCode));
                            client.GetDisplayName();
                            var uri = client.GetServerUri();
                            if (uri is not null)
                            {
                                <span>(@uri.Host)</span>
                            }
                        }
                        catch (Exception)
                        {
                            @Model.ConnectionString
                        }
                    </span>
                }

                <a class="me-3"
                   asp-controller="UIPublicLightningNodeInfo"
                   asp-action="ShowLightningNodeInfo"
                   asp-route-cryptoCode="@Model.CryptoCode"
                   asp-route-storeId="@Model.StoreId"
                   target="_blank"
                   id="PublicNodeInfo">
                    Public Node Info
                </a>
                <a asp-controller="UIStores" asp-action="SetupLightningNode" asp-route-storeId="@Model.StoreId" asp-route-cryptoCode="@Model.CryptoCode" id="SetupLightningNodeLink">
                    Change connection
                </a>
            </div>
            
            <form method="post"
                  asp-action="SetLightningNodeEnabled"
                  asp-route-cryptoCode="@Model.CryptoCode"
                  asp-route-storeId="@Model.StoreId"
                  class="d-flex align-items-center mt-4"
                  style="min-width:7rem">
                <button type="submit" class="btcpay-toggle me-3 @if (Model.Enabled) { @("btcpay-toggle--active") }" name="Enabled" value="@(Model.Enabled ? "false" : "true")" id="@($"{Model.CryptoCode}LightningEnabled")">@(Model.Enabled ? "Disable" : "Enable")</button>
                <span>
                    Enabled
                </span>
            </form>
            
            <form method="post" class="mt-n2 text-center">
                <div class="text-start">
                    <h3 class="mt-5 mb-3">Payment</h3>
                    <div class="form-check my-3">
                        <input asp-for="LightningAmountInSatoshi" type="checkbox" class="form-check-input"/>
                        <label asp-for="LightningAmountInSatoshi" class="form-check-label"></label>
                    </div>
                    <div class="form-check my-3">
                        <input asp-for="LightningPrivateRouteHints" type="checkbox" class="form-check-input"/>
                        <label asp-for="LightningPrivateRouteHints" class="form-check-label"></label>
                    </div>
                    <div class="form-check my-3">
                        <input asp-for="OnChainWithLnInvoiceFallback" type="checkbox" class="form-check-input"/>
                        <label asp-for="OnChainWithLnInvoiceFallback" class="form-check-label"></label>
                        <a href="https://bitcoinqr.dev/" target="_blank" rel="noreferrer noopener">
                            <vc:icon symbol="info" />
                        </a>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="LightningDescriptionTemplate" class="form-label"></label>
                        <input asp-for="LightningDescriptionTemplate" class="form-control"/>
                        <span asp-validation-for="LightningDescriptionTemplate" class="text-danger"></span>
                        <div class="form-text">
                            Available placeholders:
                            <code>{StoreName} {ItemDescription} {OrderId}</code>
                        </div>
                    </div>
                    
                    <h3 class="mt-5 mb-3" id="ln-url">LNURL</h3>
                    <div class="form-group d-flex align-items-center">
                        <input asp-for="LNURLEnabled" type="checkbox" class="btcpay-toggle me-3" data-bs-toggle="collapse" data-bs-target="#LNURLSettings" aria-expanded="@Model.LNURLEnabled" aria-controls="LNURLSettings"/>
                        <label asp-for="LNURLEnabled" class="form-label mb-0 me-1"></label>
                    </div>

                    <div class="collapse @(Model.LNURLEnabled ? "show" : "")" id="LNURLSettings">
                        <div class="form-group">
                            <label class="form-group d-flex align-items-center">
                                <input type="checkbox" asp-for="LNURLBech32Mode" class="btcpay-toggle me-3" />
                                <div class="">
                                    <label asp-for="LNURLBech32Mode" class="form-label mb-0 me-1"></label>
                                    <span asp-validation-for="LNURLBech32Mode" class="text-danger"></span>
                                    <div class="form-text">For wallet compatibility: Bech32 encoded (classic) vs. cleartext URL (upcoming)</div>
                                </div>
                            </label>
                        </div>
                        <div class="form-group mb-3">
                            <div class="d-flex align-items-center">
                                <input type="checkbox" asp-for="LUD12Enabled" class="btcpay-toggle me-3" />
                                <label asp-for="LUD12Enabled" class="form-label mb-0 me-1"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-start mt-4">
                    <button id="save" name="command" type="submit" value="save" class="btn btn-primary me-2">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section PageFootContent {
    <partial name="_ValidationScriptsPartial"/>
}
