@model PairingModel
@{
    var store = Context.GetStoreData();
    Layout = store is null ? "_LayoutWizard" : "_NavLayout";
    ViewData.SetActivePage(StoreNavPages.Tokens, "Pairing Permission", store?.Id);
}

@if (store is null)
{
    @section Navbar {
        <button type="button" class="cancel" onclick="history.back()">
            <vc:icon symbol="close" />
        </button>
    }
}

<div class="row">
    <div class="col-sm-8 col-md-6 @(store is null ? "mx-auto" : "")">
        <h3 class="mb-0">@ViewData["Title"]</h3>
        <table class="table table-hover">
            <tr>
                <th>Label</th>
                <td class="text-end">@Model.Label</td>
            </tr>
            <tr>
                <th>SIN</th>
                <td class="text-end">@Model.SIN</td>
            </tr>
        </table>
        
        <form asp-action="Pair" method="post">
            @if (store is null)
            {
                <div class="form-group">
                    <label asp-for="StoreId" class="form-label">Pair To Store</label>
                    <select asp-for="StoreId" asp-items="@(new SelectList(Model.Stores, "Id", "Name"))" class="form-select"></select>
                    <span asp-validation-for="StoreId" class="text-danger"></span>
                </div>
            }
            else
            {
                <input asp-for="StoreId" type="hidden" />
            }
            <input type="hidden" name="pairingCode" value="@Model.Id"/>
            <button id="ApprovePairing" type="submit" class="btn btn-primary mt-3" title="Approve this pairing demand">Approve</button>
        </form>
    </div>
</div>
