@model AddEditMembershipPlanViewModel

@{
    ViewData.SetActivePage(StoreNavPages.Membership, StringLocalizer["Add plan"]);
    string storeId = (string)this.Context.GetRouteValue("storeId");
}

<form method="post">
    <div class="sticky-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-action="Membership" asp-route-section="Plans" asp-route-storeId="@storeId" text-translate="true">Membership</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
            <h2>@ViewData["Title"]</h2>
        </nav>
        <input id="page-primary" type="submit" name="command" value="Create" class="btn btn-primary" />
    </div>
    <partial name="_StatusMessage" />
    <div class="row">
        <div class="col-xl-8 col-xxl-constrain">
            <div class="form-group">
                <label asp-for="Name" class="form-label" data-required></label>
                <input asp-for="Name" class="form-control" placeholder="e.g., Premium" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="form-label"></label>
                <select asp-for="Status" class="form-select" asp-items="Html.GetEnumSelectList<SubscriptionPlanData.PlanStatus>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between">
                <div class="form-group flex-fill me-4">
                    <label asp-for="Price" class="form-label" data-required></label>
                    <input inputmode="decimal" asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Currency" class="form-label" data-required></label>
                    <input asp-for="Currency" class="form-control w-auto" currency-selection />
                    <span asp-validation-for="Currency" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RecurringType" class="form-label"></label>
                <select asp-for="RecurringType" class="form-select" asp-items="Html.GetEnumSelectList<SubscriptionPlanData.RecurringInterval>()"></select>
                <span asp-validation-for="RecurringType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GracePeriodDays" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="GracePeriodDays" class="form-control" min="0" placeholder="15" />
                    <span class="input-group-text">days</span>
                </div>
                <span asp-validation-for="GracePeriodDays" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3" placeholder="Brief description of the plan features..."></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" asp-for="AllowUpgrade" />
                    <label class="form-check-label" asp-for="AllowUpgrade"></label>
                </div>
            </div>
            <section id="plan-items" class="mt-4">
                <h4 class="mb-4">Plan items</h4>
                <div id="PlanItemsContainer" class="list-group list-group-flush">
                    @for (var i = 0; i < (Model.Items?.Count ?? 0); i++)
                    {
                        <div class="plan-item list-group-item d-block px-0 pt-0 pb-3 mb-3 p-3">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Items[i].Name" class="form-label"></label>
                                        <input asp-for="Items[i].Name" class="form-control" />
                                        <span asp-validation-for="Items[i].Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <label asp-for="Items[i].Id" class="form-label"></label>
                                            <button type="submit" name="removeIndex" value="@i" class="d-inline-block ms-2 btn text-danger btn-link p-0 mb-2">
                                                <vc:icon symbol="cross" />
                                                <span text-translate="true">Remove item</span>
                                            </button>
                                        </div>
                                        <input asp-for="Items[i].Id" class="form-control" />
                                        <span asp-validation-for="Items[i].Id" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="Items[i].Quantity" class="form-label"></label>
                                        <input asp-for="Items[i].Quantity" class="form-control" />
                                        <span asp-validation-for="Items[i].Quantity" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label asp-for="Items[i].ShortDescription" class="form-label"></label>
                                        <input asp-for="Items[i].ShortDescription" class="form-control" />
                                        <span asp-validation-for="Items[i].ShortDescription" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <button type="submit" name="command" value="AddItem" class="btn btn-outline-secondary" id="AddPlanItem">Add item</button>
            </section>
        </div>
    </div>
</form>

@section PageFootContent {
    @if (Model.Anchor != null)
    {
        <script>
            document.getElementById(@Safe.Json(Model.Anchor)).scrollIntoView();
        </script>
    }
}
