@addTagHelper *, BundlerMinifier.TagHelpers
@using System.Globalization
@model UpdateCrowdfundViewModel
@{
    ViewData.SetActivePageAndTitle(AppsNavPages.Update, "Update Crowdfund", Model.StoreName);
}
<section>
    <div class="container">
        <partial name="_StatusMessage" />

        <h2 class="mb-4">@ViewData["PageTitle"]</h2>

        <div class="row">
            <div class="col-lg-12">
                <form method="post">
                    <input type="hidden" asp-for="StoreId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label" data-required></label>
                        <input asp-for="Title" class="form-control" required />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tagline" class="control-label"></label>
                        <input asp-for="Tagline" class="form-control" />
                        <span asp-validation-for="Tagline" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label" data-required></label>
                        <textarea asp-for="Description" rows="20" cols="40" class="form-control richtext"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TargetCurrency" class="control-label" data-required></label>
                        <input asp-for="TargetCurrency" class="form-control" required />
                        <span asp-validation-for="TargetCurrency" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TargetAmount" class="control-label"></label>
                        <input asp-for="TargetAmount" class="form-control" />
                        <span asp-validation-for="TargetAmount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <div class="input-group">
                            <input type="datetime-local" asp-for="StartDate"
                                   value="@(Model.StartDate?.ToString("u", CultureInfo.InvariantCulture))"
                                   class="form-control flatdtpicker" placeholder="No start date has been set for this crowdfund" />
                            <div class="input-group-append">
                                <button class="btn btn-secondary input-group-clear" type="button" title="Clear">
                                    <span class=" fa fa-times"></span>
                                </button>
                            </div>
                        </div>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ResetEvery" class="control-label"></label>
                        <div class="input-group">
                            <input type="number" asp-for="ResetEveryAmount" placeholder="Amount" class="form-control">
                            <select class="custom-select" asp-for="ResetEvery">
                                @foreach (var opt in Model.ResetEveryValues)
                                {
                                    <option value="@opt">@opt</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <div class="input-group">
                            <input type="datetime-local" asp-for="EndDate"
                                   value="@(Model.EndDate?.ToString("u", CultureInfo.InvariantCulture))"
                                   class="form-control flatdtpicker"
                                   placeholder="No end date has been set for this crowdfund" />
                            <div class="input-group-append">
                                <button class="btn btn-secondary input-group-clear" type="button" title="Clear">
                                    <span class=" fa fa-times"></span>
                                </button>
                            </div>
                        </div>
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>

                    <partial name="TemplateEditor" model="@(nameof(Model.PerksTemplate), "Perks")" />

                    <div class="form-group">
                        <label asp-for="PerksTemplate" class="control-label"></label>
                        <textarea asp-for="PerksTemplate" rows="10" cols="40" class="js-product-template form-control"></textarea>
                        <span asp-validation-for="PerksTemplate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomCSSLink" class="control-label"></label>
                        <a href="https://docs.btcpayserver.org/Theme/#2-bootstrap-themes" target="_blank">
                            <span class="fa fa-question-circle-o text-secondary" title="More information..."></span>
                        </a>
                        <input asp-for="CustomCSSLink" class="form-control" />
                        <span asp-validation-for="CustomCSSLink" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MainImageUrl" class="control-label"></label>
                        <input asp-for="MainImageUrl" class="form-control" />
                        <span asp-validation-for="MainImageUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmbeddedCSS" class="control-label"></label>
                        <textarea asp-for="EmbeddedCSS" rows="10" cols="40" class="form-control"></textarea>
                        <span asp-validation-for="EmbeddedCSS" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NotificationUrl" class="control-label"></label>
                        <input asp-for="NotificationUrl" class="form-control" />
                        <span asp-validation-for="NotificationUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input asp-for="Enabled" type="checkbox" class="form-check-input" />
                            <label asp-for="Enabled" class="form-check-label"></label>
                            <span asp-validation-for="Enabled" class="text-danger"></span>
                        </div>
                        <div class="form-check">
                            <input asp-for="SortPerksByPopularity" type="checkbox" class="form-check-input" />
                            <label asp-for="SortPerksByPopularity" class="form-check-label"></label>
                            <span asp-validation-for="SortPerksByPopularity" class="text-danger"></span>
                        </div>
                        <div class="form-check">
                            <input asp-for="DisplayPerksRanking" type="checkbox" class="form-check-input" />
                            <label asp-for="DisplayPerksRanking" class="form-check-label"></label>
                            <span asp-validation-for="DisplayPerksRanking" class="text-danger"></span>
                        </div>
                        <div class="form-check">
                            <input asp-for="EnforceTargetAmount" type="checkbox" class="form-check-input" />
                            <label asp-for="EnforceTargetAmount" class="form-check-label"></label>
                            <span asp-validation-for="EnforceTargetAmount" class="text-danger"></span>
                        </div>
                        <div class="form-check">
                            <input asp-for="UseAllStoreInvoices" type="checkbox" class="form-check-input" />
                            <label asp-for="UseAllStoreInvoices" class="form-check-label"></label>
                            <span asp-validation-for="UseAllStoreInvoices" class="text-danger"></span>
                        </div>
                        <div class="form-check">
                            <input asp-for="SoundsEnabled" type="checkbox" class="form-check-input" />
                            <label asp-for="SoundsEnabled" class="form-check-label"></label>
                            <span asp-validation-for="SoundsEnabled" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sounds"></label>
                        <textarea asp-for="Sounds" class="form-control"></textarea>
                        <span asp-validation-for="Sounds" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input asp-for="AnimationsEnabled" type="checkbox" class="form-check-input" />
                            <label asp-for="AnimationsEnabled" class="form-check-label"></label>
                            <span asp-validation-for="AnimationsEnabled" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="AnimationColors"></label>
                        <textarea asp-for="AnimationColors" class="form-control"></textarea>
                        <span asp-validation-for="AnimationColors" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input asp-for="DisqusEnabled" type="checkbox" class="form-check-input" />
                            <label asp-for="DisqusEnabled" class="form-check-label"></label>
                            <span asp-validation-for="DisqusEnabled" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="DisqusShortname" class="control-label"></label>
                        <input asp-for="DisqusShortname" class="form-control" />
                        <span asp-validation-for="DisqusShortname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="SaveSettings">Save Settings</button>
                        <div class="btn-group">
                            <a class="btn btn-outline-primary" asp-action="ListInvoices" asp-controller="Invoice" asp-route-searchterm="@Model.SearchTerm">Invoices</a>
                            <a class="btn btn-outline-primary" asp-action="ListInvoices" asp-controller="Invoice" asp-route-searchterm="@Model.SearchTerm"
                               target="viewinvoices_@Model.AppId"><span class="fa fa-external-link"></span></a>
                        </div>
                        @if (Model.ModelWithMinimumData)
                        {
                            <div class="btn-group">
                                <a class="btn btn-outline-primary" asp-action="ViewCrowdfund" asp-controller="AppsPublic" asp-route-appId="@Model.AppId" id="ViewApp">View App</a>
                                <a class="btn btn-outline-primary" asp-action="ViewCrowdfund" asp-controller="AppsPublic" asp-route-appId="@Model.AppId"
                                   target="viewapp_@Model.AppId"><span class="fa fa-external-link"></span></a>
                            </div>
                        }
                        <div class="btn-group">
                            <a class="btn btn-outline-primary" asp-action="ListApps">Back to the app list</a>
                            <a class="btn btn-outline-primary" asp-action="ListApps" target="viewapp_@Model.AppId"><span class="fa fa-external-link"></span></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/vendor/moment/moment.js" asp-append-version="true"></script>
    <bundle name="wwwroot/bundles/crowdfund-admin-bundle.min.js" asp-append-version="true"></bundle>
    <bundle name="wwwroot/bundles/crowdfund-admin-bundle.min.css" asp-append-version="true"></bundle>
}
