@model StoresViewModel
@{
    ViewData["Title"] = "Stores";
}

<section>
    <div class="container">
        @if (TempData.HasStatusMessage())
        {
        <div class="row">
            <div class="col-lg-12 text-center">
                <partial name="_StatusMessage" />
            </div>
        </div>
        }
        <div class="row">
            <div class="col-lg-12 section-heading">
                <h2>@ViewData["Title"]</h2>
                <hr class="primary">
                <p>Create and manage store settings.</p>
            </div>
        </div>

        <div class="row button-row">
            <div class="col-lg-12">
                <a asp-action="CreateStore" class="btn btn-primary" role="button" id="CreateStore"><span class="fa fa-plus"></span> Create a new store</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <table class="table table-sm table-responsive-md">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Website</th>
                            <th style="text-align:right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var store in Model.Stores)
                        {
                            <tr id="store-@store.Id">
                                <td>@store.Name</td>
                                <td>
                                    @if (!string.IsNullOrEmpty(store.WebSite))
                                    {
                                        <a href="@store.WebSite">@store.WebSite</a>
                                    }
                                </td>
                                <td style="text-align:right">
                                    <a asp-action="ListInvoices" asp-controller="Invoice" asp-route-searchTerm="storeid:@store.Id">Invoices</a><span> - </span>
                                    @if (store.IsOwner)
                                    {
                                        <a asp-action="UpdateStore" asp-controller="Stores" asp-route-storeId="@store.Id" id="update-store-@store.Id">Settings</a><span> - </span>
                                    }
                                    <a asp-action="DeleteStore" asp-controller="Stores" asp-route-storeId="@store.Id">Remove</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
