@model StoresViewModel
@{
    ViewData["Title"] = "Stores";
}

<section>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <partial name="_StatusMessage" for="@TempData["TempDataProperty-StatusMessage"]" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewData["Title"]</h2>
                <hr class="primary">
                <p>Create and manage store settings.</p>
            </div>
        </div>

        <div class="row">
            <a asp-action="CreateStore" class="btn btn-primary" role="button"><span class="fa fa-plus"></span> Create a new store</a>
            <table class="table table-sm table-responsive-md">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Website</th>
                        <th style="text-align:right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var store in Model.Stores)
                    {
                        <tr>
                            <td>@store.Name</td>
                            <td>
                                @if (!string.IsNullOrEmpty(store.WebSite))
                                {
                                    <a href="@store.WebSite">@store.WebSite</a>
                                }
                            </td>
                            <td style="text-align:right">
                                <a asp-action="ListInvoices" asp-controller="Invoice" asp-route-searchTerm="storeid:@store.Id">Invoices</a><span> - </span>
                                @if (store.IsOwner)
                                {
                                    <a asp-action="UpdateStore" asp-controller="Stores" asp-route-storeId="@store.Id">Settings</a><span> - </span>
                                }
                                <a asp-action="DeleteStore" asp-route-storeId="@store.Id">Remove</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</section>
