@addTagHelper *, BundlerMinifier.TagHelpers
@inject ISettingsRepository _settingsRepository

@using BTCPayServer.Services.Apps
@using BTCPayServer.Abstractions.Contracts
@model BTCPayServer.Models.AppViewModels.ViewPointOfSaleViewModel
@{
    ViewData["Title"] = Model.Title;
    Layout = null;
    var theme = await _settingsRepository.GetTheme();
}

<!DOCTYPE html>
<html class="h-100">
<head>
    <title>@Model.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="~/img/icons/icon-512x512.png">
    <link rel="apple-touch-startup-image" href="~/img/splash.png">
    <link rel="manifest" href="~/manifest.json">
    <bundle name="wwwroot/bundles/main-bundle.min.css" asp-append-version="true" />
    <link href="@Context.Request.GetRelativePathOrAbsolute(theme.CssUri)" rel="stylesheet" asp-append-version="true"/>
    @if (Model.CustomCSSLink != null)
    {
        <link href="@Model.CustomCSSLink" rel="stylesheet" />
    }
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true" />

    @if (Model.ViewType == PosViewType.Cart)
    {
        <link rel="stylesheet" href="~/cart/css/style.css" asp-append-version="true">
        <script type="text/javascript">
            var srvModel = @Safe.Json(Model);
        </script>
        <bundle name="wwwroot/bundles/bootstrap-bundle.min.js" asp-append-version="true" />
        <bundle name="wwwroot/bundles/cart-bundle.min.js" asp-append-version="true" />
    }
    @if (Model.ViewType == PosViewType.Light)
    {
        <bundle name="wwwroot/bundles/light-pos-bundle.min.css" asp-append-version="true" />
        <script type="text/javascript">
            var srvModel = @Safe.Json(Model);
        </script>
        <bundle name="wwwroot/bundles/bootstrap-bundle.min.js" asp-append-version="true" />
        <bundle name="wwwroot/bundles/light-pos-bundle.min.js" asp-append-version="true" />
    }
    <style>
        .card-deck {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 1.5rem;
        }

        .card:only-of-type {
            max-width: 320px;
            margin: auto !important;
        }

        .js-cart-item-minus .fa,
        .js-cart-item-plus .fa {
            background: #fff;
            border-radius: 50%;
            width: 17px;
            height: 17px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    @if (!string.IsNullOrEmpty(Model.EmbeddedCSS))
    {
        @Safe.Raw($"<style>{Model.EmbeddedCSS}</style>");
    }
</head>
<body class="h-100">
    @RenderBody()
</body>
</html>
