@model ConfirmModel

@{
    ViewData["Title"] = Model.Title;
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Header" />
</head>
<body class="bg-light">
    <div class="modal-dialog modal-dialog-centered min-vh-100">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 text-center">@Model.Title</h4>
            </div>

            <div class="modal-body text-center">
                @if (Model.DescriptionHtml)
                {
                    @Safe.Raw(Model.Description)
                }
                else
                {
                    @Model.Description
                }
            </div>

            @if (!String.IsNullOrEmpty(Model.Action))
            {
                <form method="post" class="modal-footer justify-content-center" action="@Model.ActionUrl">
                    <button type="submit" class="btn @Model.ButtonClass xmx-2" id="continue" style="min-width:25%;">@Model.Action</button>
                    <button type="submit" class="btn btn-secondary mx-2" onclick="history.back(); return false;" style="min-width:25%;">Go back</button>
                </form>
            }
        </div>
    </div>
</body>
</html>
