@using BTCPayServer.Client
@using BTCPayServer.Services
@using BTCPayServer.Views.Stores
@model UpdateRoleViewModel
@inject PermissionService PermissionService
@{
    var role = Context.GetRouteValue("role") as string;

    if (role == "create")
        role = null;

    var storeId = Context.GetRouteValue("storeId") as string;
    var title = role is null ? StringLocalizer["Create role"] : StringLocalizer["Update Role"];
    var category = storeId is null ? WellKnownCategories.Server : WellKnownCategories.Store;
    ViewData.SetLayoutModel(new LayoutModel(nameof(StoreNavPages.Roles), title).SetCategory(category));
    var storePolicies = PermissionService.Definitions.Values.Where(p => p.Type is PolicyType.Store).Select(s => s.Policy.ToString()).ToArray();
}

<form method="post">
    <div class="sticky-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-action="ListRoles" asp-route-storeId="@storeId">Roles</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
            <h2>@ViewData["Title"]</h2>
        </nav>
        <button id="page-primary" type="submit" class="btn btn-primary" name="command" value="Save" text-translate="true">Save</button>
    </div>

    <div class="row">
        <div class="col-xxl-constrain">
            @if (!ViewContext.ModelState.IsValid)
            {
                <div asp-validation-summary="ModelOnly"></div>
            }
            <div class="form-group" style="max-width:320px">
                <label asp-for="Role" class="form-label"></label>
                @if (role == null)
                {
                    <input asp-for="Role" required="required" class="form-control" />
                }
                else
                {
                    <input type="hidden" asp-for="Role" />
                    <input required="required" class="form-control" disabled value="@Model.Role" />
                }
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <h4 class="mt-4 mb-3">Permissions</h4>
            <select multiple="multiple" asp-for="Permissions" class="form-select hide-when-js">
                @foreach (var policy in storePolicies)
                {
                    <option value="@policy" class="text-truncate" asp-selected="@Model.Permissions.Contains(policy)">@policy</option>
                }
            </select>
            <div class="list-group mb-2">
                @{
                    var topMostPolicies = PermissionService.UnrestrictedPermissionNode.Children.Where(pair => pair.Definition.Type is PolicyType.Store);
                    @foreach (var policy in topMostPolicies)
                    {
                        RenderTree(policy, Model.Permissions.Contains(policy.Definition.Policy));
                    }
                }
            </div>
            <span asp-validation-for="Permissions" class="text-danger"></span>
        </div>
    </div>
</form>

@{
    void RenderTree(PermissionDefinitionNode permission, bool isChecked)
    {
        var policy = permission.Definition.Policy;
        <div class="form-check mb-0">
            <input type="checkbox" class="form-check-input policy-cb" checked="@isChecked" value="@policy" id="Policy-@policy.Replace(".", "_")" />
            <label class="h5 fw-semibold form-check-label mb-1" for="Policy-@policy.Replace(".", "_")" data-bs-toggle="tooltip" title="@policy">
                @permission.Definition.Display.Title
            </label>
            <p class="text-muted">@permission.Definition.Display.Description</p>
            @if (permission.Children.Count != 0)
            {
                <div class="list-group">
                    @foreach (var subPermission in permission.Children)
                    {
                        RenderTree(subPermission, !isChecked && Model.Permissions.Contains(subPermission.Definition.Policy));
                    }
                </div>
            }
        </div>
    }
}
<script>
    function handleCheckboxChange(element) {
        const {checked, value} = element;
        const policy = value;
        const policySelect = document.getElementById('Permissions');
        const subPolicies = element.parentElement.querySelectorAll(`.list-group .policy-cb:not([value="${policy}"])`);

        policySelect.querySelector(`option[value="${policy}"]`).selected = checked;
        subPolicies.forEach(subPolicy => {
            subPolicy.checked = checked? false : subPolicy.checked;
            if (checked){
                subPolicy.setAttribute("disabled", "disabled");
            } else {
                subPolicy.removeAttribute("disabled");
            }
            policySelect.querySelector(`option[value="${subPolicy.value}"]`).selected = subPolicy.checked;
        });
    }

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll(".policy-cb:checked").forEach(handleCheckboxChange);

        delegate('change', '.policy-cb', event => {
           handleCheckboxChange(event.target);
        });
    });
</script>
