@model BTCPayServer.Components.Breadcrumb.BreadcrumbViewModel

<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <ol class="breadcrumb breadcrumb-nav__items">
        @foreach (var item in Model.Items)
        {
            if (item.Active)
            {
                <li class="breadcrumb-item breadcrumb-nav__item active" aria-current="page">@item.Text</li>
            }
            else
            {
                <li class="breadcrumb-item breadcrumb-nav__item">
                    <a href="@item.Url" data-testid="@item.TestId">@item.Text</a>
                </li>
            }
        }
    </ol>
    @if (Model.Title is not null)
    {
        <h2 class="breadcrumb-nav__title">
            <span>@Model.Title</span>
            @if (Model.DocumentationUrl is not null)
            {
                <small>
                    <a href="@Model.DocumentationUrl" target="_blank" rel="noreferrer noopener" title="@StringLocalizer["More information..."]">
                        <vc:icon symbol="info" />
                    </a>
                </small>
            }
        </h2>
    }
</nav>
