@page "/Plugins/LNbank/Wallets/{walletId}/Details"
@model BTCPayServer.Plugins.LNbank.Pages.Wallets.DetailsModel

@{
    ViewData.SetActivePage(LNbankNavPages.Wallets, Model.Wallet.Name);
}

<header>
    <h2 id="LNbank-WalletName">@ViewData["Title"]</h2>
    <div>
        <a asp-page="./Edit" asp-route-walletId="@Model.Wallet.WalletId" class="btn btn-sm btn-outline-secondary d-inline-flex align-items-center mx-1">
            Edit
        </a>
    </div>
</header>


<dl class="row">
    <dt class="col-sm-3 col-xl-2">
        @Html.DisplayNameFor(model => model.Wallet.WalletId)
    </dt>
    <dd class="col-sm-9 col-xl-10" id="LNbank-WalletId">
        @Model.Wallet.WalletId
    </dd>
    @foreach (var accessKey in Model.Wallet.AccessKeys)
    {
        <dt class="col-sm-3 col-xl-2">
            Access Key
        </dt>
        <dd class="col-sm-9 col-xl-10" id="LNbank-WalletAccessKey">
            @accessKey.Key
        </dd>
    }
    <dt class="col-sm-3 col-xl-2">
        @Html.DisplayNameFor(model => model.Wallet.CreatedAt)
    </dt>
    <dd class="col-sm-9 col-xl-10">
        @Model.Wallet.CreatedAt
    </dd>
</dl>

<p>
    <a asp-page="./Index" asp-route-walletId="@Model.Wallet.WalletId" class="text-secondary" id="LNbank-Back">Back to Wallet</a>
</p>
