@page "/Plugins/LNbank/Wallets/{walletId}/Details"
@model BTCPayServer.Plugins.LNbank.Pages.Wallets.DetailsModel

@{
    ViewData.SetActivePage(LNbankNavPages.Wallets, Model.Wallet.Name);
}

<header class="d-flex align-items-center justify-content-between mb-3">
    <h1>@ViewData["Title"]</h1>
    <div>
        <a asp-page="./Edit" asp-route-walletId="@Model.Wallet.WalletId" class="btn btn-sm btn-outline-secondary d-inline-flex align-items-center mx-1">
            <svg role="img" class="me-1"><use href="/Resources/img/icon-sprite.svg#edit"></use></svg>
            Edit
        </a>
    </div>
</header>


<dl class="row">
    <dt class="col-sm-3 col-lg-2">
        @Html.DisplayNameFor(model => model.Wallet.WalletId)
    </dt>
    <dd class="col-sm-9 col-lg-10">
        @Model.Wallet.WalletId
    </dd>
    @foreach (var accessKey in Model.Wallet.AccessKeys)
    {
        <dt class="col-sm-3 col-lg-2">
            Access Key
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @accessKey.Key
        </dd>
    }
    <dt class="col-sm-3 col-lg-2">
        @Html.DisplayNameFor(model => model.Wallet.CreatedAt)
    </dt>
    <dd class="col-sm-9 col-lg-10">
        @Model.Wallet.CreatedAt
    </dd>
</dl>

<p>
    <a asp-page="./Index" asp-route-walletId="@Model.Wallet.WalletId" class="text-secondary">Back to Wallet</a>
</p>
