@page "/Plugins/LNbank/Wallets/{walletId}/Details"
@model BTCPayServer.Plugins.LNbank.Pages.Wallets.DetailsModel

@{
    ViewData.SetActivePageAndTitle(LNbankNavPages.Wallets, Model.Wallet.Name);
    var rootUrl =  string.Concat(
        Request.Scheme,
        "://",
        Request.Host.ToUriComponent(),
        Request.PathBase.ToUriComponent());
    var allowInsecure = !Request.IsHttps && !Request.Host.Host.EndsWith("onion", StringComparison.InvariantCultureIgnoreCase);
}

<header class="d-flex align-items-center justify-content-between mb-3">
    <h1>@ViewData["Title"]</h1>
    <div>
        <a asp-page="./Edit" asp-route-walletId="@Model.Wallet.WalletId" class="btn btn-sm btn-outline-secondary d-inline-flex align-items-center mx-1">
            <svg role="img" class="me-1"><use href="/Resources/img/icon-sprite.svg#edit"></use></svg>
            Edit
        </a>
    </div>
</header>


<dl class="row">
    <dt class="col-sm-3 col-lg-2">
        @Html.DisplayNameFor(model => model.Wallet.WalletId)
    </dt>
    <dd class="col-sm-9 col-lg-10">
        @Model.Wallet.WalletId
    </dd>
    <dt class="col-sm-3 col-lg-2">
        @Html.DisplayNameFor(model => model.Wallet.CreatedAt)
    </dt>
    <dd class="col-sm-9 col-lg-10">
        @Model.Wallet.CreatedAt
    </dd>
</dl>

<div class="mt-4">
    <h2>Connection String</h2>

    @if (allowInsecure)
    {
        <div class="alert alert-warning mb-4" role="alert">
            Note that this is using an insecure connection. Please consider using a HTTPS or Onion connection.
        </div>
    }

    <p class="mt-4 text-muted">
        You can set up this wallet as a Lightning Node in BTCPay Server from version 1.4.0.<br/>
        Add the following settings as the Lightning Node Connection String in your store's Lightning settings.
    </p>
    @foreach (var accessKey in Model.Wallet.AccessKeys)
    {
        var connectionString = $"type=lnbank;server={rootUrl};api-token={accessKey.Key}{(allowInsecure ? ";allowinsecure=true" : "")}";
        <dl class="row">
            <dt class="col-sm-3 col-lg-2">
                Access Key
            </dt>
            <dd class="col-sm-9 col-lg-10">
                @accessKey.Key
            </dd>
            <dt class="col-12">
                <pre class="connection-string my-3"><code>@connectionString</code></pre>
                <button class="btn btn-primary my-2" type="button" data-clipboard="@connectionString">Copy connection string</button>
            </dt>

        </dl>
    }
</div>

    


<p>
    <a asp-page="./Index" asp-route-walletId="@Model.Wallet.WalletId" class="text-secondary">Back to Wallet</a>
</p>
