@page "/Plugins/LNbank/Wallets/{walletId?}"
@using BTCPayServer.Lightning
@using System.Globalization
@model BTCPayServer.Plugins.LNbank.Pages.Wallets.IndexModel

@{
    ViewData.SetActivePage(LNbankNavPages.Wallets, "Your LNbank wallets");
}

<h2 class="mt-1 mb-4">@ViewData["Title"]</h2>

@if (Model.Wallets.Any())
{
    <div class="row">
        <div class="col-12 col-xl-3 mb-5 mb-xl-0">
            <div class="nav flex-column nav-pills mb-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                @foreach (var wallet in Model.Wallets)
                {
                    <a asp-route-walletId="@wallet.WalletId" role="tab" class="nav-link d-flex justify-content-between align-items-center @(wallet == Model.SelectedWallet ? "active" : "")" aria-selected="@(wallet == Model.SelectedWallet ? "true" : "false")">
                        @wallet.Name
                        <span class="badge bg-light">
                            @wallet.Balance.ToUnit(LightMoneyUnit.Satoshi) sats
                        </span>
                    </a>
                }
            </div>

            <a asp-page="./Create" class="text-secondary d-inline-flex align-items-center ps-3">
                Create a wallet
                <svg role="img" class="ms-1"><use href="/Resources/img/icon-sprite.svg#wallet"></use></svg>
            </a>
        </div>
        @if (Model.SelectedWallet != null)
        {
            <div class="col-12 col-xl-9">
                <header class="flex-wrap mb-0">
                    <div class="flex-grow-1 d-flex align-items-center mb-3">
                        <h3 class="d-inline-block mb-0 me-2">@Model.SelectedWallet.Name</h3>
                        <a asp-page="./Details" asp-route-walletId="@Model.SelectedWallet.WalletId" class="text-secondary d-inline-flex align-items-center mx-1">
                            <svg role="img"><use href="/Resources/img/icon-sprite.svg#info"></use></svg>
                        </a>
                        <h4 class="d-inline-flex ms-auto mb-0 me-2">
                            <span class="badge bg-info" style="padding:.75rem;">@Model.SelectedWallet.Balance.ToUnit(LightMoneyUnit.Satoshi) sats</span>
                        </h4>
                    </div>
                    <div class="d-flex align-items-stretch mb-3">
                        <a asp-page="./Send" asp-route-walletId="@Model.SelectedWallet.WalletId" class="btn btn-primary d-inline-flex align-items-center me-2">
                            <svg role="img" class="me-1"><use href="/Resources/img/icon-sprite.svg#send"></use></svg>
                            Send
                        </a>
                        <a asp-page="./Receive" asp-route-walletId="@Model.SelectedWallet.WalletId" class="btn btn-primary d-inline-flex align-items-center">
                            <svg role="img" class="me-1"><use href="/Resources/img/icon-sprite.svg#receive"></use></svg>
                            Receive
                        </a>
                    </div>
                </header>
                @if (Model.Transactions.Any())
                {
                    <div class="table-responsive-md">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <th class="text-end">Amount</th>
                                <th class="text-end">Settled</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var transaction in Model.Transactions)
                            {
                                <tr>
                                    <td>
                                        <a asp-page="/Transactions/Details" asp-route-walletId="@Model.SelectedWallet.WalletId" asp-route-transactionId="@transaction.TransactionId">
                                            <time datetime="@transaction.CreatedAt.ToString("o", CultureInfo.InvariantCulture)">
                                                @transaction.CreatedAt.ToTimeAgo()
                                            </time>
                                        </a>
                                    </td>
                                    <td>
                                        @transaction.Description
                                    </td>
                                    <td class="text-nowrap text-end">
                                        @transaction.Amount.ToUnit(LightMoneyUnit.Satoshi)
                                        sats
                                    </td>
                                    <td class="text-nowrap text-end">
                                        @if (transaction.IsPaid)
                                        {
                                            <span class="text-@(transaction.AmountSettled > 0 ? "success" : "danger")">
                                                @transaction.AmountSettled.ToUnit(LightMoneyUnit.Satoshi) sats
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="text-@(transaction.IsExpired ? "info" : "warning")">
                                                @transaction.Status
                                            </span>
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <p>There are no transactions, yet.</p>
                }
            </div>
        }
    </div>
}
else
{
    <p>You don't have a wallet, yet.</p>

    <a asp-page="./Create" class="btn btn-primary d-inline-flex align-items-center">
        <svg role="img" class="me-1"><use href="/Resources/img/icon-sprite.svg#wallet"></use></svg>
        Create a wallet
    </a>
}

