@using BTCPayServer.Services.Altcoins.Matic.Services
@inject BTCPayNetworkProvider BTCPayNetworkProvider
@inject MaticService MaticService;

@inject SignInManager<ApplicationUser> SignInManager;
@{
    var networks = BTCPayNetworkProvider.GetAll().OfType<MaticBTCPayNetwork>().OrderBy(network => network.ChainId).Where(network => network.ShowSyncSummary);
}

@foreach (var network in networks)
{
    <h4>@network.CryptoCode (Chain ID: @network.ChainId) @(network is ERC20MaticBTCPayNetwork is true ? "(ERC20)" : "")</h4>
    <ul>
        @if (!MaticService.IsAvailable(network.CryptoCode, out var error))
        {
            <li>
                @(error??"Web3 has not yet been configured")


                @if (SignInManager.IsSignedIn(User) && User.IsInRole(Roles.ServerAdmin))
                {
                    <a asp-action="UpdateChainConfig" asp-controller="MaticConfig" asp-route-chainId="@network.ChainId">Configure Web3</a>
                }
            </li>
        }
    </ul>
}
