@model WalletPSBTReadyViewModel

<script src="~/js/wallet/wallet-camera-scanner.js" asp-append-version="true"></script>
<script src="~/js/wallet/WalletSend.js" asp-append-version="true"></script>
@if (Model.CanCalculateBalance)
{
    <p class="lead text-center text-secondary">
        This transaction will change your balance:
        <br>
        <span class="text-@(Model.Positive ? "success" : "danger")">@Model.BalanceChange</span>
    </p>
}

<div id="inputs">
    <h4 class="mb-n3">Inputs</h4>
    <table class="table">
        <thead>
        <tr>
            <th>Index</th>
            <th>Labels</th>
            <th class="text-end">Amount</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var input in Model.Inputs)
        {
            <tr>
                @if (input.Error != null)
                {
                    <td>
                        @input.Index <span class="text-danger" title="@input.Error"><vc:icon symbol="warning"/></span>
                    </td>
                }
                else
                {
                    <td>@input.Index</td>
                }<td>
                    @if (input.Labels.Any())
                                           {
                                               <div class="d-flex flex-wrap gap-2 align-items-center">
                                                   @foreach (var label in input.Labels)
                                                   {
                                                       <div class="transaction-label" style="--label-bg:@label.Color;--label-fg:@label.TextColor">
                                                           <span>@label.Text</span>
                                                           @if (!string.IsNullOrEmpty(label.Link))
                                                           {
                                                               <a class="transaction-label-info transaction-details-icon" href="@label.Link"
                                                                  target="_blank" rel="noreferrer noopener" title="@label.Tooltip" data-bs-html="true"
                                                                  data-bs-toggle="tooltip" data-bs-custom-class="transaction-label-tooltip">
                                                                   <vc:icon symbol="info" />
                                                               </a>
                                                           }
                                                       </div>
                                                   }
                                               </div>
                                           }
                </td>
                <td class="text-end text-@(input.Positive ? "success" : "danger")">@input.BalanceChange</td>
                
            </tr>
        }
        </tbody>
    </table>
</div>

<div id="outputs" class="mt-4">
    <h4 class="mb-n3">Outputs</h4>
    <table class="table">
        <thead>
        <tr>
            <th>Destination</th>
            <th>Labels</th>
            <th class="text-end">Amount</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var destination in Model.Destinations)
        {
            <tr>
                <td class="text-break">@destination.Destination</td>
                <td>
                  @if (destination.Labels.Any())
                                        {
                                            <div class="d-flex flex-wrap gap-2 align-items-center">
                                                @foreach (var label in destination.Labels)
                                                {
                                                    <div class="transaction-label" style="--label-bg:@label.Color;--label-fg:@label.TextColor">
                                                        <span>@label.Text</span>
                                                        @if (!string.IsNullOrEmpty(label.Link))
                                                        {
                                                            <a class="transaction-label-info transaction-details-icon" href="@label.Link"
                                                               target="_blank" rel="noreferrer noopener" title="@label.Tooltip" data-bs-html="true"
                                                               data-bs-toggle="tooltip" data-bs-custom-class="transaction-label-tooltip">
                                                                <vc:icon symbol="info" />
                                                            </a>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        }
                </td>
                <td class="text-end text-@(destination.Positive ? "success" : "danger")">@destination.Balance</td>

            </tr>
        }
        </tbody>
    </table>
</div>

@if (Model.FeeRate != null)
{
    <p class="text-muted text-end">Transaction fee rate: <b>@Model.FeeRate</b></p>
}
