@model UsersViewModel
@{
    ViewData.SetActivePageAndTitle(ServerNavPages.Users);
}


<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />

<a asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Context.Request.GetCurrentPath()" asp-route-logon="false" class="btn btn-primary" role="button"><span class="fa fa-plus"></span> Create a new user</a>
<table class="table table-sm table-responsive-md">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td><a asp-action="User" asp-route-userId="@user.Id">Modify</a> <span> - </span> <a asp-action="DeleteUser" asp-route-userId="@user.Id">Remove</a></td>
            </tr>
        }
    </tbody>
</table>
