@model BTCPayServer.Models.ServerViewModels.MaintenanceViewModel
@{
    ViewData.SetActivePageAndTitle(ServerNavPages.Maintenance, "Maintenance");
}

<h2 class="mb-4">@ViewData["PageTitle"]</h2>

<form method="post">
    <div class="row mb-5">
        <div class="col-lg-6">
            <h4 class="mb-3">Domain name</h4>
            <p>You can change the domain name of your server by following <a href="https://docs.btcpayserver.org/Deployment/ChangeDomain/" target="_blank" rel="noreferrer noopener">this guide</a>.</p>

            <div class="row g-1">
                <div class="col">
                    <input asp-for="DNSDomain" class="form-control flex-fill" disabled="@(Model.CanUseSSH ? null : "disabled")" />
                    <span asp-validation-for="DNSDomain" class="text-danger"></span>
                </div>
                <div class="col">
                    <button name="command" type="submit" class="btn btn-primary mt-2 mt-sm-0 ms-sm-2" value="changedomain" title="Change domain" disabled="@(Model.CanUseSSH ? null : "disabled")">
                        <span class="fa fa-check"></span> Confirm
                    </button>
                </div>
            </div>

            <h4 class="mt-5 mb-3">Update</h4>
            <p class="text-secondary">Update to the latest version of BTCPay Server.</p>
            <div class="form-group">
                <div class="input-group">
                    <button name="command" type="submit" class="btn btn-primary" value="update" disabled="@(Model.CanUseSSH ? null : "disabled")">Update</button>
                </div>
            </div>

            <h4 class="mt-5 mb-3">Restart</h4>
            <p class="text-secondary">Restart BTCPay Server and related services.</p>
            <div class="form-group">
                <div class="input-group">
                    <button name="command" type="submit" class="btn btn-primary" value="restart" disabled="@(Model.CanUseSSH ? null : "disabled")">Restart</button>
                </div>
            </div>

            <h4 class="mt-5 mb-3">Clean</h4>
            <p class="text-secondary">Delete unused Docker images present on your system.</p>
            <div class="form-group">
                <div class="input-group">
                    <button name="command" type="submit" class="btn btn-secondary" value="clean" disabled="@(Model.CanUseSSH ? null : "disabled")">Clean</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section PageFootContent {
    <partial name="_ValidationScriptsPartial" />
}
