@model BTCPayServer.Models.ServerViewModels.ServicesViewModel
@{
    ViewData.SetActivePageAndTitle(ServerNavPages.Services);
}


<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="@TempData["TempDataProperty-StatusMessage"]" />
<div class="row">
    <div class="col-md-6">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</div>

<div class="row">

    <div class="col-md-8">
        <div class="form-group">
            <span>You can get access here to LND (gRPC, Rest) or SSH services exposed by your server</span>
        </div>

        <div class="form-group">
            <table class="table table-sm table-responsive-md">
                <thead>
                    <tr>
                        <th>Crypto</th>
                        <th>Access Type</th>
                        <th style="text-align:right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var lnd in Model.LNDServices)
                    {
                        <tr>
                            <td>@lnd.Crypto</td>
                            <td>LND @lnd.Type.ToString()</td>
                            <td style="text-align:right">
                                @if (lnd.Type == BTCPayServer.Configuration.External.LndTypes.gRPC)
                                {
                                    <a asp-action="LNDGRPCServices" asp-route-cryptoCode="@lnd.Crypto" asp-route-index="@lnd.Index">See information</a>
                                }
                                else if (lnd.Type == BTCPayServer.Configuration.External.LndTypes.Rest)
                                {
                                    <a asp-action="LndRestServices" asp-route-cryptoCode="@lnd.Crypto" asp-route-index="@lnd.Index">See information</a>
                                }
                            </td>
                        </tr>
                    }
                    @if (Model.HasSSH)
                    {
                        <tr>
                            <td>None</td>
                            <td>SSH</td>
                            <td style="text-align:right">
                                <a asp-action="SSHService">See information</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
