@model BTCPayServer.Models.ServerViewModels.ServicesViewModel
@{
    ViewData.SetActivePageAndTitle(ServerNavPages.Services);
}


<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="@TempData["TempDataProperty-StatusMessage"]" />
<div class="row">
    <div class="col-md-6">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</div>

<div class="row">

    <div class="col-md-8">
        <h4>Crypto services</h4>
        <div class="form-group">
            <span>You can get access here to LND (gRPC, Rest) services exposed by your server</span>
        </div>

        <div class="form-group">
            <table class="table table-sm table-responsive-md">
                <thead>
                    <tr>
                        <th>Crypto</th>
                        <th>Access Type</th>
                        <th style="text-align:right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var lnd in Model.LNDServices)
                    {
                        <tr>
                            <td>@lnd.Crypto</td>
                            <td>@lnd.Type</td>
                            <td style="text-align:right">
                                <a asp-action="@lnd.Action" asp-route-cryptoCode="@lnd.Crypto" asp-route-index="@lnd.Index">See information</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@if (Model.ExternalServices.Count != 0)
{
<div class="row">
    <div class="col-md-8">
        <h4>Other services</h4>
        <div class="form-group">
            <span>Other external services</span>
        </div>
        <div class="form-group">
            <table class="table table-sm table-responsive-md">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th style="text-align:right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var s in Model.ExternalServices)
                    {
                        <tr>
                            <td>@s.Name</td>
                            <td style="text-align:right">
                                <a href="@s.Link" target="_blank">See information</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
