@model BTCPayServer.Models.WalletViewModels.ListWalletsViewModel
@{
    ViewData["Title"] = "Wallets";
}

<section>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <partial name="_StatusMessage" for="@TempData["TempDataProperty-StatusMessage"]" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewData["Title"]</h2>
                <hr class="primary">
                <p>Create and manage wallets.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            @foreach (var wallet in Model.Wallets)
            {

                @if (wallet.IsOwner)
                {

                    <div class="justify-content-sm-center">
                        <div class="col">
                            <div class="card border-light mb-1" style="max-width: 18rem; box-shadow: 0px 2px 8px">
                                <div class="card-header bg-white mb-3">
                                    <div class="row">
                                        <div class="col"><img alt="" src="@wallet.CryptoImage" style="height:30px; width:30px" /></div>
                                        <div class="col"></div>
                                    </div>
                                </div>

                                <div class="card-body text-dark" style="text-align:center">
                                    <h6>@wallet.StoreName</h6>
                                    <h6>@wallet.CryptoCode</h6>
                                    <p class="card-text">@wallet.Balance</p>
                                    <hr />
                                    <a class="" asp-action="UpdateStore" asp-controller="Stores" asp-route-storeId="@wallet.StoreId">Update Store</a><span> - </span>
                                    <a class="" asp-action="WalletTransactions" asp-route-walletId="@wallet.Id">Manage Wallet</a>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    @wallet.StoreName
                }

            }

        </div>




</section>
