@model WalletPSBTViewModel
@addTagHelper *, BundlerMinifier.TagHelpers
@{
    var isReady = !Model.HasErrors;
    Layout = "_LayoutWizard";
    ViewData.SetActivePageAndTitle(WalletsNavPages.PSBT, isReady ? "Transaction Broadcasting" : "Transaction Details", Context.GetStoreData().StoreName);
}

@section Navbar {
    <a asp-action="WalletPSBT" asp-route-walletId="@Context.GetRouteValue("walletId")" onclick="history.back();return false;">
        <vc:icon symbol="back" />
    </a>
    <a asp-action="WalletSend" asp-route-walletId="@Context.GetRouteValue("walletId")" class="cancel">
        <vc:icon symbol="close" />
    </a>
}

<header class="text-center mb-3">
    <h1>@ViewData["PageTitle"]</h1>
</header>

<partial name="_PSBTInfo" model="Model" />

@if (!isReady)
{
    <form method="post" asp-action="WalletPSBT" asp-route-walletId="@Context.GetRouteValue("walletId")" class="mt-5">
        <input type="hidden" asp-for="CryptoCode"/>
        <input type="hidden" asp-for="NBXSeedAvailable"/>
        <input type="hidden" asp-for="PSBT"/>
        <input type="hidden" asp-for="FileName"/>
        <div class="d-flex align-items-center justify-content-center">
            <button type="submit" id="SignTransaction" name="command" value="@(Model.NBXSeedAvailable ? "nbx-seed" : "sign")" class="btn btn-primary me-2">Sign transaction</button>
            <button type="submit" name="command" value="update" class="btn btn-secondary me-2">Update PSBT</button>
            <button type="submit" name="command" value="combine" class="btn btn-secondary">Combine PSBT</button>
        </div>
    </form>
}
else
{
    <form method="post" asp-action="WalletPSBTReady" asp-route-walletId="@Context.GetRouteValue("walletId")" class="mt-5">
        <input type="hidden" asp-for="SigningKey" />
        <input type="hidden" asp-for="SigningKeyPath" />
        <partial name="SigningContext" for="SigningContext" />
        <div class="d-flex align-items-center justify-content-center">
            @if (!string.IsNullOrEmpty(Model.SigningContext?.PayJoinBIP21))
            {
                <button type="submit" class="btn btn-primary" name="command" value="payjoin">Broadcast (Payjoin)</button>
                <span class="mx-2">or</span>
                <button type="submit" class="btn btn-secondary" name="command" value="broadcast">Broadcast (Simple)</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" name="command" value="broadcast">Broadcast transaction</button>
            }
        </div>
    </form>
}
