@model WalletPSBTReadyViewModel
@{
    Layout = "_LayoutWizard";
    ViewData.SetActivePageAndTitle(WalletsNavPages.PSBT, "Review PSBT", Context.GetStoreData().StoreName);
}

@section Navbar {
    <a asp-action="WalletPSBT" asp-route-walletId="@Context.GetRouteValue("walletId")" onclick="history.back();return false;">
        <vc:icon symbol="back" />
    </a>
    <a asp-action="WalletSend" asp-route-walletId="@Context.GetRouteValue("walletId")" class="cancel">
        <vc:icon symbol="close" />
    </a>
}

<header class="text-center">
    <h1>@ViewData["PageTitle"]</h1>
    
    @if (Model.CanCalculateBalance)
    {
        <p class="lead text-secondary mt-3">
            If you broadcast this transaction, your balance will change:
            <br>
            @if (Model.Positive)
            {
                <span class="text-success">@Model.BalanceChange</span>
            }
            else
            {
                <span class="text-danger">@Model.BalanceChange</span>
            }
        </p>
    }
    else
    {
        <p class="lead text-secondary mt-3">This PSBT is already finalized. We can't properly detect which input or output belongs to you.</p>
    }
</header>

<partial name="_StatusMessage" />

@if (Model.GlobalError != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <vc:icon symbol="close" />
        </button>
        <span>@Model.GlobalError</span><br/>
    </div>
}

<partial name="_PSBTInfo" model="Model" />

<form method="post" asp-action="WalletPSBTReady" asp-route-walletId="@Context.GetRouteValue("walletId")" class="text-center">
    <input type="hidden" asp-for="SigningKey" />
    <input type="hidden" asp-for="SigningKeyPath" />
    <partial name="SigningContext" for="SigningContext" />
    @if (!Model.HasErrors)
    {
        @if (!string.IsNullOrEmpty(Model.SigningContext?.PayJoinBIP21))
        {
            <button type="submit" class="btn btn-primary" name="command" value="payjoin">Broadcast (Payjoin)</button>
            <span class="mx-2">or</span>
            <button type="submit" class="btn btn-secondary" name="command" value="broadcast">Broadcast (Simple)</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary" name="command" value="broadcast">Broadcast it</button>
        }
        <span class="mx-2">or</span>
    }
    <button type="submit" class="btn btn-secondary" name="command" value="analyze-psbt">View PSBT</button>
</form>
