@model BTCPayServer.Components.StoreNumbers.StoreNumbersViewModel

<div class="widget store-numbers">
    <div class="store-number">
        <header>
            <h6>Payouts Pending</h6>
            <a asp-controller="UIStorePullPayments" asp-action="Payouts" asp-route-storeId="@Model.Store.Id">Manage</a>
        </header>
        <div class="h3">@Model.PayoutsPending</div>
    </div>
    <div class="store-number">
        <header>
            <h6>TXs in the last @Model.TransactionDays days</h6>
            @if (Model.Transactions > 0)
            {
                <a asp-controller="UIWallets" asp-action="WalletTransactions" asp-route-walletId="@Model.WalletId">View All</a>
            }
        </header>
        <div class="h3">@Model.Transactions</div>
    </div>
    <div class="store-number">
        <header>
            <h6>Refunds Issued</h6>
        </header>
        <div class="h3">@Model.RefundsIssued</div>
    </div>
</div>
